n8n/workflows/01-receber-mensagem.json
{
  "name": "01 - Receber e Rotear Mensagem",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "routing",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Input from 01-whatsapp-receiver via webhook (body-wrapped) or direct\nconst raw = $json.body || $json;\n\n// Detect source: if has entry[] it's direct Meta webhook, otherwise it's pre-extracted\nlet tel, texto, push_name, location_lat = null, location_lng = null;\n\nif (raw.entry) {\n  // Direct Meta webhook format\n  const value = raw.entry?.[0]?.changes?.[0]?.value;\n  const message = value?.messages?.[0];\n  if (!message) return [];\n  tel = message.from || '';\n  push_name = value?.contacts?.[0]?.profile?.name || '';\n  if (message.type === 'text') {\n    texto = (message.text?.body || '').trim();\n  } else if (message.type === 'interactive') {\n    const ia = message.interactive;\n    texto = ia?.button_reply?.id || ia?.list_reply?.id || '';\n  } else if (message.type === 'location') {\n    location_lat = message.location?.latitude;\n    location_lng = message.location?.longitude;\n    texto = '__location__';\n  }\n} else {\n  // Pre-extracted from 01-whatsapp-receiver\n  tel = raw.tel || raw.from || '';\n  texto = (raw.texto || raw.text || '').trim();\n  push_name = raw.push_name || '';\n  location_lat = raw.location_lat || null;\n  location_lng = raw.location_lng || null;\n}\n\nif (!tel) return [];\nif (!texto && !location_lat) return [];\n\nreturn [{ json: { tel, texto: texto.toLowerCase(), push_name, location_lat, location_lng, instancia: 'meta' } }];\n"
      },
      "id": "extrair",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst optsTime = { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit', hour12: false };\nconst horaAtual = now.toLocaleTimeString('pt-BR', optsTime).substring(0, 5);\nconst diaBR = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dias = ['dom', 'seg', 'ter', 'qua', 'qui', 'sex', 'sab'];\nconst diaSemana = dias[diaBR.getDay()];\n\nreturn [{ json: { ...$json, horaAtual, diaSemana } }];"
      },
      "id": "hora_atual",
      "name": "Calcular Hora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT json_object_agg(key, value) FROM settings WHERE deleted_at IS NULL) AS config,\n  (SELECT json_agg(json_build_object(\n    'id', p.id, 'name', p.name, 'price', p.price,\n    'category', c.name, 'emoji', c.emoji\n  ) ORDER BY c.sort_order, p.id)\n  FROM products p\n  JOIN categories c ON c.id = p.category_id\n  WHERE p.available = true AND c.active = true AND p.deleted_at IS NULL) AS products,\n  (SELECT row_to_json(s)::jsonb FROM sessions s WHERE s.phone = '{{ $('Calcular Hora').first().json.tel }}') AS session,\n  (SELECT json_build_object(\n    'code', o.code, 'items', o.items, 'total', o.total,\n    'status', o.status, 'order_type', o.order_type,\n    'payment_method', o.payment_method, 'created_at', o.created_at\n  ) FROM orders o\n  WHERE o.customer_phone = '{{ $('Calcular Hora').first().json.tel }}'\n    AND o.deleted_at IS NULL\n  ORDER BY o.created_at DESC LIMIT 1) AS last_order,\n  (SELECT json_agg(json_build_object(\n    'id', pt.id, 'name', pt.name, 'type', pt.type, 'label', pt.label, 'config', pt.config\n  ) ORDER BY pt.id)\n  FROM payment_types pt WHERE pt.active = true AND pt.deleted_at IS NULL) AS payment_types,\n  (SELECT json_agg(json_build_object(\n    'id', ot.id, 'name', ot.name, 'type', ot.type, 'label', ot.label, 'config', ot.config\n  ) ORDER BY ot.id)\n  FROM order_types ot WHERE ot.active = true AND ot.deleted_at IS NULL) AS order_types  ,\n  (SELECT json_agg(json_build_object('id', tb.id, 'number', tb.number, 'capacity', tb.capacity) ORDER BY tb.number)\n  FROM tables tb WHERE tb.active = true AND tb.deleted_at IS NULL) AS restaurant_tables,\n  (SELECT json_agg(json_build_object('date', r.date::text, 'time', r.time::text, 'table_id', r.table_id))\n  FROM reservations r\n  WHERE r.date >= CURRENT_DATE AND r.status IN ('pending','confirmed') AND r.deleted_at IS NULL) AS upcoming_reservations,\n  (SELECT json_build_object(\n    'id', dfr.id, 'mode', dfr.mode, 'base_fee', dfr.base_fee,\n    'per_km_rate', dfr.per_km_rate, 'per_min_rate', dfr.per_min_rate,\n    'free_above', dfr.free_above, 'max_radius_km', dfr.max_radius_km,\n    'zones', COALESCE((\n      SELECT json_agg(json_build_object(\n        'type', z.zone_type, 'min', z.min_value, 'max', z.max_value,\n        'fee', z.fee, 'label', z.label\n      ) ORDER BY z.zone_type, z.min_value)\n      FROM delivery_fee_zones z\n      WHERE z.delivery_fee_rule_id = dfr.id AND z.active = true AND z.deleted_at IS NULL\n    ), '[]'::json)\n  )\n  FROM delivery_fee_rules dfr\n  JOIN order_types ot ON ot.id = dfr.order_type_id\n  WHERE ot.name = 'delivery' AND dfr.active = true AND dfr.deleted_at IS NULL\n  ORDER BY dfr.id LIMIT 1) AS delivery_fee_rule\n,\n  (SELECT c.name FROM customers c WHERE c.phone = '{{ $('Calcular Hora').first().json.tel }}' AND c.deleted_at IS NULL) AS customer_name,\n  (SELECT c.marketing_opt_in FROM customers c WHERE c.phone = '{{ $('Calcular Hora').first().json.tel }}' AND c.deleted_at IS NULL) AS marketing_opt_in,\n  (SELECT json_agg(json_build_object(\n    'code', o.code, 'total', o.total, 'status', o.status,\n    'order_type', o.order_type, 'payment_method', o.payment_method,\n    'items_count', jsonb_array_length(o.items),\n    'created_at', to_char(o.created_at AT TIME ZONE 'America/Sao_Paulo', 'DD/MM HH24:MI')\n  ) ORDER BY o.created_at DESC)\n  FROM (SELECT * FROM orders o2 WHERE o2.customer_phone = '{{ $('Calcular Hora').first().json.tel }}' AND o2.deleted_at IS NULL ORDER BY o2.created_at DESC LIMIT 5) o) AS recent_orders",
        "options": {}
      },
      "id": "buscar_dados",
      "name": "Buscar Dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgData = $(\"Calcular Hora\").first().json;\nconst { tel, instancia, texto, horaAtual, diaSemana, location_lat, location_lng } = msgData;\n\nconst config = $json.config || {};\nconst products = $json.products || [];\nconst recentOrders = $json.recent_orders || [];\nconst sessionRaw = $json.session || {};\nconst lastOrder = $json.last_order || null;\nconst paymentTypes = $json.payment_types || [];\nconst orderTypes = $json.order_types || [];\n\n// ── Session TTL: se inativo além do limite, reinicia estado ──────────\nconst sessionTtlMin = parseInt(config['session_ttl_min'] || '60', 10);\nconst lastActivity = sessionRaw.last_activity_at ? new Date(sessionRaw.last_activity_at) : null;\nconst sessionExpired = lastActivity\n  ? (Date.now() - lastActivity.getTime()) > sessionTtlMin * 60 * 1000\n  : false;\n// Estados de início não precisam de reset (já estão em fluxo novo)\nconst idleStates = ['start', 'ordering', 'repeat_order', 'awaiting_name', 'awaiting_marketing_opt_in'];\nlet currentState = sessionExpired && !idleStates.includes(sessionRaw.state || 'start')\n  ? 'start'\n  : (sessionRaw.state || 'start');\nconst sessionWasReset = sessionExpired && sessionRaw.state && !idleStates.includes(sessionRaw.state);\nconst customerNameFromDB = $json.customer_name || null;\nconst pushName = msgData.push_name || '';\n// Validate pushName from WhatsApp; use DB name if already saved\nconst pushNameValidation = (!customerNameFromDB && pushName) ? validateName(pushName) : { valid: false };\nconst pushNameFormatted = pushNameValidation.valid ? capitalizeName(pushName) : null;\nconst customerName = customerNameFromDB || pushNameFormatted || null;\nconst marketingOptIn = $json.marketing_opt_in !== undefined && $json.marketing_opt_in !== null\n  ? Boolean($json.marketing_opt_in) : null;\n\nconst rawCart = sessionRaw.cart;\nlet currentCart;\nif (Array.isArray(rawCart)) {\n  currentCart = { items: rawCart, order_type: '', address: '', delivery_fee: 0, payment_method: '', change_for: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n} else if (rawCart && typeof rawCart === 'object') {\n  currentCart = {\n    items: Array.isArray(rawCart.items) ? rawCart.items : [],\n    order_type: rawCart.order_type || '',\n    address: rawCart.address || '',\n    complement: rawCart.complement || '',\n    delivery_fee: rawCart.delivery_fee || 0,\n    payment_method: rawCart.payment_method || '',\n    change_for: rawCart.change_for != null ? rawCart.change_for : null,\n    split_count: rawCart.split_count || 0,\n    split_current: rawCart.split_current || 0,\n    split_payments: Array.isArray(rawCart.split_payments) ? rawCart.split_payments : [],\n    mixed_method: rawCart.mixed_method || '',\n    mixed_label: rawCart.mixed_label || '',\n    mixed_amount: rawCart.mixed_amount || 0,\n    address_street_temp: rawCart.address_street_temp || null,\n    browse_category: rawCart.browse_category || '',\n    pending_item_id: rawCart.pending_item_id || null,\n    pending_item_name: rawCart.pending_item_name || ''\n  };\n} else {\n  currentCart = { items: [], order_type: '', address: '', delivery_fee: 0, payment_method: '', change_for: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n}\n\n// Config values\nconst openingTime = config['opening_time'] || '18:00';\nconst closingTime = config['closing_time'] || '23:00';\nconst workingDays = (config['working_days'] || 'ter,qua,qui,sex,sab,dom').split(',');\nconst msgClosed = (config['msg_closed'] || 'Estamos fechados agora!').replace(/\\\\n/g, '\\n');\nconst msgWelcome = (config['msg_welcome'] || 'Ola! Bem-vindo!').replace(/\\\\n/g, '\\n');\nconst ignoreHours = config['ignore_hours'] === 'true';\n\n// Order types (delivery, retirada, mesa) from DB\nconst featureDelivery = orderTypes.some(t => t.name === 'delivery');\nconst featureRetirada = orderTypes.some(t => t.name === 'retirada');\nconst deliveryOrderType = orderTypes.find(t => t.name === 'delivery') || {};\nconst feeRule = $json.delivery_fee_rule || {};\nconst feeMode         = feeRule.mode          || 'fixed';\nconst baseFee         = Number(feeRule.base_fee      ?? 0);\nconst feePerKm        = Number(feeRule.per_km_rate   ?? 0);\nconst feePerMin       = Number(feeRule.per_min_rate  ?? 0);\nconst freeDeliveryAbove = Number(feeRule.free_above  ?? 0);\nconst maxRadiusKm     = Number(feeRule.max_radius_km ?? 10);\nconst fixedDeliveryFee = baseFee;\nconst feeZones = (feeRule.zones || []).filter(z => z.type === (feeMode === 'zones_min' ? 'min' : 'km'));\nconst calcDeliveryFee = (km, min, subtotal) => {\n  if (freeDeliveryAbove > 0 && subtotal >= freeDeliveryAbove) return 0;\n  let f;\n  if (feeMode === 'per_km')         f = baseFee + km * feePerKm;\n  else if (feeMode === 'per_route_min') f = baseFee + min * feePerMin;\n  else if (feeMode === 'zones_km' || feeMode === 'zones_min') {\n    const v = feeMode === 'zones_km' ? km : min;\n    const zone = (feeRule.zones || []).find(z => z.type === (feeMode === 'zones_km' ? 'km' : 'min') && v >= z.min && v < z.max);\n    f = zone ? zone.fee : baseFee;\n  } else f = baseFee;\n  return Math.ceil(f * 10) / 10;\n};\nconst estLat = Number(config['establishment_lat'] || 0);\nconst estLng = Number(config['establishment_lng'] || 0);\n\n// Payment types from DB\nconst pixType = paymentTypes.find(t => t.name === 'pix') || {};\nconst pixConfig = pixType.config || {};\nconst pixKey = pixConfig.chave || '';\nconst pixName = pixConfig.nome || '';\n\nlet newReservationTemp = sessionRaw.reservation_temp || {};\n\nconst isOpen = ignoreHours || (\n  workingDays.includes(diaSemana) &&\n  horaAtual >= openingTime &&\n  horaAtual <= closingTime\n);\n\nif (!isOpen) {\n  return [{ json: { tel, instancia, respostas: [msgClosed], state: currentState, cart: currentCart, reservation_temp: newReservationTemp, save_order: false, order: null, save_reservation: false, reservation: null, save_customer_name: false, customer_name_to_save: null, save_marketing_opt_in: false, marketing_opt_in_value: null, kitchen_phone: '', create_chatwoot_conversation: false, chatwoot_customer_name: customerName || '' } }];\n}\n\nlet respostas = [];\nlet newState = currentState;\nlet newCart = JSON.parse(JSON.stringify(currentCart));\nlet save_order = false;\nlet finalOrder = null;\nlet save_reservation = false;\nlet finalReservation = null;\nlet save_customer_name = false;\nlet customerNameToSave = null;\nlet save_marketing_opt_in = false;\nlet marketing_opt_in_value = null;\nlet create_chatwoot_conversation = false;\nlet chatwootCustomerName = '';\n\n\nconst mainMenu = () => ({\n  type: 'list',\n  body: 'Como posso ajudar? 😊\\n\\n_Digite *sair* a qualquer momento para recomeçar._',\n  button: 'Ver opções',\n  sections: [{ title: 'Menu Principal', rows: [\n    { id: '1', title: '🍣 Ver Cardápio' },\n    { id: '2', title: '🛒 Fazer Pedido' },\n    { id: '3', title: '📋 Reservar Mesa' },\n    { id: '4', title: '👤 Falar com Atendente' },\n    { id: '5', title: '📦 Meus Pedidos' },\n    { id: '6', title: '🔔 Notificações' }\n  ]}]\n});\n\nconst buildMenu = () => {\n  if (!products || products.length === 0) return 'Cardápio temporariamente indisponível.';\n  const byCategory = {};\n  products.forEach((item, idx) => {\n    const cat = item.category || 'Outros';\n    if (!byCategory[cat]) byCategory[cat] = { emoji: item.emoji || '🍽️', items: [] };\n    byCategory[cat].items.push((idx + 1) + '. ' + item.name + ' — R$ ' + fmtBRL(item.price));\n  });\n  const lines = ['🍣 *Cardápio*\\n'];\n  for (const [cat, data] of Object.entries(byCategory)) {\n    lines.push(data.emoji + ' *' + cat + '*');\n    lines.push(...data.items);\n    lines.push('');\n  }\n  return lines.join('\\n');\n};\n\nconst cartSummary = (items) => {\n  let total = 0;\n  const lines = [];\n  for (const item of items) {\n    const sub = item.price * item.qty;\n    total += sub;\n    lines.push('• [' + (item.menuIdx || '') + '] ' + item.name + ' — R$ ' + fmtBRL(item.price) + ' × ' + item.qty + ' — R$ ' + fmtBRL(sub));\n  }\n  return { lines, total };\n};\n\n// Build options from DB tables\nconst deliveryOptions = () => orderTypes.map((t, i) => (i+1) + '️⃣ ' + t.label).join('\\n');\nconst paymentOptions = (splitCount, hideMixed) => {\n  let opts = paymentTypes.map((t, i) => (i+1) + '. ' + t.label).join('\\n');\n  if (!splitCount || splitCount < 2) opts += '\\n' + (paymentTypes.length + 1) + '. 👥 Dividir entre pessoas';\n  if (!hideMixed && paymentTypes.length > 1) opts += '\\n' + (paymentTypes.length + 2) + '. 💰 Pagamento misto';\n  return opts;\n};\nconst nonCashOptions = () => paymentTypes\n  .filter(t => t.name !== 'dinheiro')\n  .map((t, i) => (i+1) + '. ' + t.label)\n  .join('\\n');\n\nconst haversine = (lat1, lon1, lat2, lon2) => {\n  const R = 6371;\n  const dLat = (lat2 - lat1) * Math.PI / 180;\n  const dLon = (lon2 - lon1) * Math.PI / 180;\n  const a = Math.sin(dLat/2)**2 + Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) * Math.sin(dLon/2)**2;\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n};\n\n\nfunction validateName(raw) {\n  const n = raw.trim();\n  if (n.length < 2) return { valid: false, reason: 'short' };\n  if (/\\d/.test(n)) return { valid: false, reason: 'numbers' };\n  if (!/^[\\p{L}\\s'\\-]+$/u.test(n)) return { valid: false, reason: 'invalid_chars' };\n  if (/^(.)\\1{3,}$/u.test(n.replace(/\\s/g, ''))) return { valid: false, reason: 'repeated' };\n  const bad = ['merda','porra','caralho','buceta','viado','puta','fdp','cuzão','cuza','cuzao','fuder','foder','foda','arrombado','babaca','idiota','imbecil','cretino','otario','otário','lixo','vagabundo','vagabunda','piranha','safado','safada','desgraça','desgraca','bosta','pau','cacete','xoxota','pentelho','prostituta'];\n  const lower = n.toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g,'');\n  for (const w of bad) {\n    const wn = w.normalize('NFD').replace(/[̀-ͯ]/g,'');\n    if (lower === wn || lower.split(/\\s+/).includes(wn)) return { valid: false, reason: 'bad_word' };\n  }\n  return { valid: true };\n}\nfunction parseTrocoInput(texto, amountToPay) {\n  const t = texto.trim().toLowerCase().replace(',', '.');\n  const m = t.match(/^([\\d.]+)\\s*(?:de\\s*)?troco$/) || t.match(/^troco\\s*(?:de\\s*)?([\\d.]+)$/);\n  if (m) {\n    const troco = parseFloat(m[1]);\n    return isNaN(troco) ? null : amountToPay + troco;\n  }\n  const val = parseFloat(t);\n  return isNaN(val) ? null : val;\n}\nfunction capitalizeName(n) { return n.trim().replace(/\\b\\p{L}/gu, c => c.toUpperCase()); }\n\nconst generateOrderCode = (phone) => {\n  const n = new Date();\n  const p = v => String(v).padStart(2, '0');\n  return 'PED-' + n.getFullYear() + p(n.getMonth()+1) + p(n.getDate()) + p(n.getHours()) + p(n.getMinutes()) + p(n.getSeconds()) + '-' + phone.slice(-4);\n};\nconst maybeAskOptIn = () => {\n  if (marketingOptIn === null) {\n    respostas.push(yesNo('📣 *Posso te enviar promoções e novidades?*'));\n    newState = 'awaiting_marketing_opt_in';\n  }\n};\nconst buildRepeatOrderLines = (lastOrder, products, header) => {\n  const items = lastOrder.items;\n  const lines = [header + '\\n'];\n  let newTotal = 0;\n  let hasChanges = false;\n  const unavailable = [];\n\n  for (const item of items) {\n    const current = products.find(p => p.id === item.id);\n    if (!current) {\n      unavailable.push(item.name);\n      continue;\n    }\n    const oldUnit = Number(item.price);\n    const newUnit = Number(current.price);\n    const newLine = newUnit * item.qty;\n    newTotal += newLine;\n\n    if (Math.abs(newUnit - oldUnit) >= 0.01) {\n      hasChanges = true;\n      const diff = newLine - (oldUnit * item.qty);\n      const sign = diff > 0 ? '+' : '−';\n      const icon = diff < 0 ? ' 🎉' : ' 📢';\n      lines.push('• ' + item.name + ' × ' + item.qty + ' — *R$ ' + fmtBRL(newLine) + '*' + icon\n        + '\\n  _era R$ ' + fmtBRL(oldUnit * item.qty) + ' (' + sign + 'R$ ' + Math.absfmtBRL(diff) + ')_');\n    } else {\n      lines.push('• ' + item.name + ' — R$ ' + fmtBRL(newUnit) + ' × ' + item.qty + ' — R$ ' + fmtBRL(newLine));\n    }\n  }\n\n  if (unavailable.length > 0) {\n    lines.push('\\n⚠️ _Fora do cardápio: ' + unavailable.join(', ') + '_');\n  }\n\n  const oldTotal = Number(lastOrder.total);\n  if (hasChanges && Math.abs(newTotal - oldTotal) >= 0.01) {\n    const totalDiff = newTotal - oldTotal;\n    const sign = totalDiff > 0 ? '+' : '−';\n    lines.push('\\n*Total: R$ ' + fmtBRL(newTotal) + '* _(' + sign + 'R$ ' + Math.absfmtBRL(totalDiff) + ' vs último pedido)_');\n  } else {\n    lines.push('\\n*Total: R$ ' + fmtBRL(newTotal) + '*');\n  }\n  return lines;\n};\n\nconst yesNo = (body) => ({\n  type: 'buttons', body,\n  buttons: [{ id: 'sim', title: 'Sim ✅' }, { id: 'não', title: 'Não ❌' }]\n});\nconst orderTypeBtn = () => ({\n  type: 'buttons',\n  body: 'Como deseja receber seu pedido?',\n  buttons: orderTypes.filter(t=>t.active !== false).slice(0,3).map(t => ({ id: t.name, title: t.label }))\n});\nconst paymentList = (splitCount, hideMixed) => {\n  const rows = paymentTypes.map(t => ({ id: t.name, title: t.label }));\n  if (!splitCount || splitCount < 2) rows.push({ id: 'dividir', title: '👥 Dividir entre pessoas' });\n  if (!hideMixed && paymentTypes.length > 1) rows.push({ id: 'misto', title: '💰 Pagamento misto' });\n  return { type: 'list', body: '💳 *Como vai pagar?*', button: 'Ver opções', sections: [{ title: 'Forma de Pagamento', rows }] };\n};\nconst confirmBtn = (body) => ({ type: 'buttons', body, buttons: [{ id: 'sim', title: '✅ Confirmar' }, { id: 'não', title: '❌ Cancelar' }] });\nconst offerPickupBtn = (body) => ({ type: 'buttons', body, buttons: [{ id: 'sim', title: '✅ Sim, retirar' }, { id: 'não', title: '📍 Outro endereço' }] });\nconst notifBtn = (currentOptIn) => {\n  const status = currentOptIn === true ? '🔔 *Notificações ativas*\\nVocê recebe promoções e novidades.' : currentOptIn === false ? '🔕 *Notificações desativadas*\\nVocê não recebe promoções.' : '🔔 *Notificações*\\nConfigure suas preferências:';\n  if (currentOptIn === true) return { type: 'buttons', body: status, buttons: [{ id: 'desativar', title: '🔕 Desativar' }, { id: '0', title: '↩️ Voltar' }] };\n  return { type: 'buttons', body: status, buttons: [{ id: 'ativar', title: '🔔 Ativar' }, { id: '0', title: '↩️ Voltar' }] };\n};\nconst categoryList = (context) => {\n  if (!products || products.length === 0) return 'Cardápio temporariamente indisponível.';\n  const cats = [...new Set(products.map(p => p.category || 'Outros'))];\n  const prefix = context === 'order' ? 'order_cat:' : 'cat:';\n  const rows = cats.map(c => {\n    const its = products.filter(p => (p.category || 'Outros') === c);\n    const catTitle = ((its[0]?.emoji || '🍽️') + ' ' + c).slice(0,24); return { id: prefix + c.toLowerCase(), title: catTitle, description: its.length + ' item(s)' };\n  });\n  const body = context === 'order' ? '🛒 *Fazer Pedido*\\n\\nEscolha uma categoria:' : '🍣 *Cardápio*\\n\\nEscolha uma categoria:';\n  return { type: 'list', body, button: 'Ver categorias', sections: [{ title: 'Categorias', rows }] };\n};\nconst itemsList = (categoryName, context, page) => {\n  page = page || 0;\n  const allItems = products.filter(p => (p.category || 'Outros') === categoryName);\n  const PAGE_SIZE = 9;\n  const start = page * PAGE_SIZE;\n  const slice = allItems.slice(start, start + PAGE_SIZE);\n  const hasMore = allItems.length > start + PAGE_SIZE;\n  const prefix = context === 'order' ? 'order_item:' : 'view_item:';\n  const catPfx = context === 'order' ? 'order_cat:' : 'cat:';\n  const rows = slice.map(p => { const t = (p.emoji ? p.emoji + ' ' : '') + p.name; const desc = 'R$ ' + fmtBRL(p.price) + (p.description ? ' · ' + String(p.description).slice(0,50) : ''); return { id: prefix + p.id, title: t.slice(0,24), description: desc.slice(0,72) }; });\n  if (hasMore) rows.push({ id: 'page:' + context + ':' + categoryName.toLowerCase() + ':' + (page + 1), title: '➡️ Ver mais itens', description: 'Página ' + (page + 2) });\n  rows.push({ id: catPfx + 'back', title: '↩️ Voltar às categorias' });\n  return { type: 'list', body: '🍽️ *' + categoryName + '*\\n\\nEscolha um item:' + (page > 0 ? ' (pág. ' + (page + 1) + ')' : ''), button: 'Ver itens', sections: [{ title: categoryName, rows }] };\n};\nconst qtyBtn = (productName) => ({ type: 'buttons', body: '🛒 *' + String(productName).slice(0,50) + '*\\n\\nQuantas unidades?', buttons: [{ id: 'qty:1', title: '1️⃣  1 unidade' }, { id: 'qty:2', title: '2️⃣  2 unidades' }, { id: 'qty:3', title: '3️⃣  3 unidades' }] });\nconst locationMsg = (lat, lng, name, address) => ({ type: 'location', latitude: lat, longitude: lng, name: name || 'Endereço de entrega', address: address || '' });\nconst greetings = ['oi', 'ola', 'bom dia', 'boa tarde', 'boa noite', 'inicio', 'menu', 'start', 'hello', 'hi'];\n\nconst restaurantTables = $json.restaurant_tables || [];\nconst upcomingReservations = $json.upcoming_reservations || [];\nconst parseDate = (text) => {\n  const now = new Date();\n  const t = text.toLowerCase();\n  if (t.includes('hoje')) return now.toISOString().split('T')[0];\n  if (t.includes('amanhã') || t.includes('amanha')) {\n    const d = new Date(now); d.setDate(d.getDate() + 1);\n    return d.toISOString().split('T')[0];\n  }\n  const ddmm = t.match(/(\\d{1,2})[\\/\\-](\\d{1,2})(?:[\\/\\-](\\d{4}))?/);\n  if (ddmm) {\n    const day = parseInt(ddmm[1]), month = parseInt(ddmm[2]) - 1;\n    const year = ddmm[3] ? parseInt(ddmm[3]) : now.getFullYear();\n    const d = new Date(year, month, day);\n    if (d <= now && !ddmm[3]) d.setFullYear(d.getFullYear() + 1);\n    return d.toISOString().split('T')[0];\n  }\n  const dayMap = {'segunda':1,'terça':2,'terca':2,'quarta':3,'quinta':4,'sexta':5,'sábado':6,'sabado':6,'domingo':0};\n  for (const [name, num] of Object.entries(dayMap)) {\n    if (t.includes(name)) {\n      const d = new Date(now);\n      let diff = (num - d.getDay() + 7) % 7;\n      if (diff === 0) diff = 7;\n      d.setDate(d.getDate() + diff);\n      return d.toISOString().split('T')[0];\n    }\n  }\n  return null;\n};\n\nconst parseTime = (text) => {\n  const m = text.match(/(\\d{1,2})\\s*[hH]\\s*(\\d{2})?|(\\d{1,2}):(\\d{2})/);\n  if (!m) return null;\n  if (m[1] !== undefined) return m[1].padStart(2,'0') + ':' + (m[2] || '00');\n  return m[3].padStart(2,'0') + ':' + m[4];\n};\n\nconst parsePeople = (text) => {\n  const p1 = text.match(/para\\s+(\\d{1,2})\\s*(?:pessoas?|pax)?/i);\n  if (p1) { const n = parseInt(p1[1]); if (n>=1 && n<=30) return n; }\n  const p2 = text.match(/(\\d{1,2})\\s*(?:pessoas?|pax|adultos?)/i);\n  if (p2) { const n = parseInt(p2[1]); if (n>=1 && n<=30) return n; }\n  return null;\n};\n\nconst fmtDate = (iso) => iso ? iso.split('-').reverse().join('/') : '';\nconst fmtBRL = (n) => Number(n).toFixed(2).replace('.', ',');\n\n// Notificar expiração apenas se havia fluxo em andamento\nif (sessionWasReset && texto !== 'sair' && texto !== 'cancelar') {\n  respostas.push('⏱️ _Sua sessão anterior expirou. Vamos começar do zero!_');\n}\n\nif (texto === 'sair' || texto === 'cancelar') {\n  newState = 'start';\n  newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  newReservationTemp = {};\n  respostas.push('✅ Atendimento encerrado. Até logo! 👋');\n\n} else if (greetings.includes(texto) || texto.includes('oi!') || texto.includes('ola!')) {\n  newState = 'start';\n  newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n\n  if (!customerName) {\n    // Não identificamos o nome nem pelo WhatsApp nem pelo banco → perguntar\n    newState = 'awaiting_name';\n    const estName = config['establishment_name'] || 'nosso estabelecimento';\n    respostas.push('Olá! 👋 Seja bem-vindo(a) ao *' + estName + '*!\\n\\nPara te atendermos melhor, qual é o seu *nome*?');\n  } else {\n    // Temos o nome — auto-salvar se veio do pushName e ainda não está no banco\n    if (!customerNameFromDB && pushNameFormatted) {\n      customerNameToSave = pushNameFormatted;\n      save_customer_name = true;\n    }\n    if (lastOrder && Array.isArray(lastOrder.items) && lastOrder.items.length > 0) {\n      const lines = buildRepeatOrderLines(lastOrder, products, '🔄 *Que saudade, *' + customerName + '*! Seu último pedido foi:*');\n      newState = 'repeat_order';\n      respostas.push(msgWelcome);\n      respostas.push(lines.join('\\n'));\n      respostas.push(yesNo('🔄 Quer repetir esse pedido?'));\n    } else {\n      respostas.push(msgWelcome); respostas.push(mainMenu());\n    }\n  }\n\n} else if (texto === 'sim' && currentState === 'repeat_order') {\n  if (lastOrder && Array.isArray(lastOrder.items)) {\n    const items = lastOrder.items.map(item => {\n      const p = products.find(p => p.id === item.id);\n      return p ? { id: p.id, name: p.name, qty: item.qty, price: Number(p.price), menuIdx: products.indexOf(p) + 1 } : null;\n    }).filter(Boolean);\n    newCart.items = items;\n    newState = 'ordering';\n    const { lines, total } = cartSummary(items);\n    respostas.push('✅ *Pedido repetido!*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\nDigite mais itens, *carrinho* para ver o resumo, *finalizar* para concluir ou *0* para voltar.');\n  } else {\n    newState = 'start';\n    respostas.push('Não encontrei seu último pedido. Digite *2* para montar um novo 🛒');\n  }\n\n} else if ((texto === 'não' || texto === 'nao') && currentState === 'repeat_order') {\n  newState = 'start';\n  newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  respostas.push('Tudo bem! 😊\\n\\n'); respostas.push(mainMenu());\n\n} else if (currentState === 'repeat_order') {\n  respostas.push(yesNo('🔄 Quer repetir seu último pedido?'));\n\n} else if (texto === 'carrinho') {\n  if (newCart.items.length === 0) {\n    respostas.push('🛒 Seu carrinho está vazio.\\n\\nDigite *2* para fazer um pedido.');\n  } else {\n    const { lines, total } = cartSummary(newCart.items);\n    respostas.push('🛒 *Seu carrinho:*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\nDigite mais itens, *finalizar* para concluir ou *0* para voltar ao menu.');\n  }\n\n} else if (texto === 'finalizar') {\n  if (newCart.items.length === 0) {\n    respostas.push('🛒 Seu carrinho está vazio.\\n\\nDigite *2* para fazer um pedido.');\n  } else {\n    const { lines, total } = cartSummary(newCart.items);\n    const minOrder = parseFloat(config['min_order_value'] || '0');\n    if (minOrder > 0 && total < minOrder) {\n      respostas.push('⚠️ Valor mínimo do pedido: *R$ ' + fmtBRL(minOrder) + '*\\n\\nSeu carrinho: R$ ' + fmtBRL(total) + '\\n\\nAdicione mais itens para finalizar 🛒');\n    } else {\n      newState = 'confirming';\n      respostas.push(confirmBtn('📋 *Resumo do pedido:*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\nConfirma o pedido?'));\n    }\n  }\n} else if ((texto === 'confirmar' || texto === 'sim') && currentState === 'confirming') {\n  if (orderTypes.length > 1) {\n    newState = 'awaiting_type';\n    respostas.push(orderTypeBtn());\n  } else if (featureDelivery) {\n    newCart.order_type = 'delivery';\n    newState = 'awaiting_address';\n    respostas.push('📍 *Qual é o seu endereço de entrega?*\\n\\nEx: _Rua das Flores, 123, Centro, Cidade, SP_\\nOu informe o *CEP* (ex: _14403-772_)\\nOu compartilhe sua 📍 *localização* pelo WhatsApp');\n  } else {\n    newCart.order_type = orderTypes[0] ? orderTypes[0].name : 'retirada';\n    newCart.delivery_fee = 0;\n    newState = 'awaiting_payment';\n    respostas.push('✅ *' + (orderTypes[0] ? orderTypes[0].label : 'Retirada') + '!*'); respostas.push(paymentList(newCart.split_count));\n  }\n\n} else if (currentState === 'awaiting_type') {\n  let choice = parseInt(texto) - 1;\n  if (isNaN(choice) || choice < 0) choice = orderTypes.findIndex(t => t.name === texto || t.label.toLowerCase() === texto.toLowerCase());\n  if (choice >= 0 && choice < orderTypes.length) {\n    const type = orderTypes[choice];\n    newCart.order_type = type.name;\n    if (type.name === 'delivery') {\n      newState = 'awaiting_address';\n      respostas.push('📍 *Qual é o seu endereço de entrega?*\\n\\nEx: _Rua das Flores, 123, Centro, Cidade, SP_\\nOu informe o *CEP* (ex: _14403-772_)\\nOu compartilhe sua 📍 *localização* pelo WhatsApp');\n    } else {\n      newCart.delivery_fee = 0;\n      newState = 'awaiting_payment';\n      respostas.push('✅ *' + type.label + ' confirmada!*'); respostas.push(paymentList(newCart.split_count));\n    }\n  } else {\n    respostas.push(orderTypeBtn());\n  }\n\n} else if (currentState === 'awaiting_address') {\n  const estCity = config['establishment_city'] || '';\n  const estCityName = estCity.split(',')[0].trim().toLowerCase();\n\n  // ── Localização compartilhada via WhatsApp ───────────────────────────────\n  if (texto === '__location__' && location_lat != null && location_lng != null) {\n    const lat = Number(location_lat);\n    const lng = Number(location_lng);\n    const distance = haversine(estLat, estLng, lat, lng);\n    const mapsLink = 'https://maps.google.com/?q=' + lat + ',' + lng;\n\n    if (distance > maxRadiusKm) {\n      newCart.address = 'Localização compartilhada';\n      newState = 'offer_pickup';\n      respostas.push(offerPickupBtn('😞 Seu endereço está fora da nossa área de entrega (máx. ' + maxRadiusKm + ' km).\\n\\nPodemos oferecer retirada no local. Deseja?'));\n    } else {\n      let routeKm = distance;\n      let routeMin = Math.round(distance * 3);\n      try {\n        const osrm = await this.helpers.httpRequest({\n          method: 'GET',\n          url: 'https://router.project-osrm.org/route/v1/driving/' + estLng + ',' + estLat + ';' + lng + ',' + lat + '?overview=false',\n          headers: { 'User-Agent': 'SakuraBot/1.0' }\n        });\n        const od = typeof osrm === 'string' ? JSON.parse(osrm) : osrm;\n        if (od.routes && od.routes[0]) {\n          routeKm = od.routes[0].distance / 1000;\n          routeMin = Math.round(od.routes[0].duration / 60);\n        }\n      } catch(e) {}\n\n      let addressLabel = 'Localização compartilhada';\n      try {\n        const rev = await this.helpers.httpRequest({\n          method: 'GET',\n          url: 'https://nominatim.openstreetmap.org/reverse?lat=' + lat + '&lon=' + lng + '&format=json&accept-language=pt-BR',\n          headers: { 'User-Agent': 'SakuraBot/1.0' }\n        });\n        const rd = typeof rev === 'string' ? JSON.parse(rev) : rev;\n        if (rd.address) {\n          const a = rd.address;\n          const parts = [a.road, a.house_number, a.suburb || a.neighbourhood, a.city || a.town || a.village, a.state_code || a.state].filter(Boolean);\n          if (parts.length > 0) addressLabel = parts.join(', ');\n        }\n      } catch(e) {}\n\n      const { total: _subtotal } = cartSummary(newCart.items);\n      const calcFee = calcDeliveryFee(routeKm, routeMin, _subtotal);\n      newCart.address = addressLabel;\n      newCart.delivery_fee = calcFee;\n      const etaLine = routeMin > 0 ? '\\n🛵 ' + (calcFee === 0 ? '🎉 *Frete GRÁTIS!*' : 'Taxa: R$ ' + fmtBRL(calcFee)) + ' · ~' + routeMin + ' min (' + routeKm.toFixed(1) + ' km)' : '';\n      newState = 'awaiting_complement';\n      respostas.push(locationMsg(lat, lng, 'Endereço de entrega', addressLabel));\n      respostas.push('📍 *Localização recebida!*\\n_' + addressLabel + '_' + etaLine + '\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.');\n    }\n\n  } else {\n    // ── Endereço em texto / CEP ──────────────────────────────────────────────\n    const input = texto.trim();\n    const cepDigits = input.replace(/\\D/g, '');\n    let addressToGeocode = input;\n    let cepInfo = null;\n\n    if (cepDigits.length === 8) {\n      try {\n        const cepResp = await this.helpers.httpRequest({\n          method: 'GET',\n          url: 'https://viacep.com.br/ws/' + cepDigits.substring(0,5) + '-' + cepDigits.substring(5) + '/json/',\n          headers: { 'User-Agent': 'SakuraBot/1.0' }\n        });\n        const cep = typeof cepResp === 'string' ? JSON.parse(cepResp) : cepResp;\n        if (!cep.erro) cepInfo = cep;\n      } catch(e) {}\n\n      // CEP puro (sem número) → pedir o número do imóvel\n      if (/^\\d{5}-?\\d{3}$/.test(input.trim()) && cepInfo) {\n        const streetLabel = [cepInfo.logradouro, cepInfo.bairro, cepInfo.localidade, cepInfo.uf].filter(Boolean).join(', ');\n        newCart.address_street_temp = JSON.stringify({\n          logradouro: cepInfo.logradouro || '',\n          bairro: cepInfo.bairro || '',\n          localidade: cepInfo.localidade || '',\n          uf: cepInfo.uf || '',\n          cep: cepInfo.cep || ''\n        });\n        newState = 'awaiting_address_number';\n        respostas.push('📮 CEP *' + cepInfo.cep + '* encontrado:\\n_' + streetLabel + '_\\n\\nQual o *número* do imóvel?\\n\\nEx: _123_\\nOu _s/n_ se não tiver número');\n        return [{ json: { tel, instancia, respostas, state: newState, cart: newCart, reservation_temp: newReservationTemp, save_order, order: finalOrder, save_reservation, reservation: finalReservation, save_customer_name, customer_name_to_save: customerNameToSave, save_marketing_opt_in, marketing_opt_in_value, kitchen_phone: config['kitchen_phone'] || '', create_chatwoot_conversation, chatwoot_customer_name: chatwootCustomerName } }];\n      }\n\n      if (cepInfo) {\n        const parts = [cepInfo.logradouro, cepInfo.bairro, cepInfo.localidade, cepInfo.uf].filter(Boolean);\n        if (parts.length > 0) addressToGeocode = parts.join(', ');\n      }\n    }\n\n    const streetAndNumMatch = input.match(/^(.+?\\s+\\d+)/);\n    const streetAndNum = streetAndNumMatch ? streetAndNumMatch[1].trim() : input;\n\n    let geoResult = null;\n    try {\n      const r1 = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(addressToGeocode + ', Brasil') + '&format=json&limit=1&countrycodes=br',\n        headers: { 'User-Agent': 'SakuraBot/1.0' }\n      });\n      const d1 = typeof r1 === 'string' ? JSON.parse(r1) : r1;\n      if (Array.isArray(d1) && d1.length > 0) geoResult = d1[0];\n    } catch(e) {}\n\n    if (!geoResult && estCity && !addressToGeocode.toLowerCase().includes(estCityName)) {\n      try {\n        const withCity = addressToGeocode + ', ' + estCity;\n        const r2 = await this.helpers.httpRequest({\n          method: 'GET',\n          url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(withCity + ', Brasil') + '&format=json&limit=1&countrycodes=br',\n          headers: { 'User-Agent': 'SakuraBot/1.0' }\n        });\n        const d2 = typeof r2 === 'string' ? JSON.parse(r2) : r2;\n        if (Array.isArray(d2) && d2.length > 0) {\n          geoResult = d2[0];\n          addressToGeocode = withCity;\n        }\n      } catch(e) {}\n    }\n\n    if (!geoResult && estCity && streetAndNum !== addressToGeocode) {\n      try {\n        const stripped = streetAndNum + ', ' + estCity;\n        const r3 = await this.helpers.httpRequest({\n          method: 'GET',\n          url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(stripped + ', Brasil') + '&format=json&limit=1&countrycodes=br',\n          headers: { 'User-Agent': 'SakuraBot/1.0' }\n        });\n        const d3 = typeof r3 === 'string' ? JSON.parse(r3) : r3;\n        if (Array.isArray(d3) && d3.length > 0) {\n          geoResult = d3[0];\n          addressToGeocode = stripped;\n        }\n      } catch(e) {}\n    }\n\n    if (!geoResult) {\n      let hint = '\\n\\nEx: _Rua das Flores, 123' + (estCity ? ', ' + estCity : '') + '_\\nOu informe o *CEP* (ex: _14403-772_)\\nOu compartilhe sua 📍 *localização* pelo WhatsApp';\n      if (cepInfo) {\n        hint = '\\n\\nCEP *' + cepInfo.cep + '* encontrado:\\n_' + addressToGeocode + '_\\n\\nInforme também o número do imóvel.';\n      }\n      respostas.push('⚠️ Não consegui localizar esse endereço.' + hint);\n    } else {\n      const lat = parseFloat(geoResult.lat);\n      const lng = parseFloat(geoResult.lon);\n      const distance = haversine(estLat, estLng, lat, lng);\n      const mapsLink = 'https://maps.google.com/?q=' + lat + ',' + lng;\n      if (distance > maxRadiusKm) {\n        newCart.address = addressToGeocode;\n        newState = 'offer_pickup';\n        respostas.push(offerPickupBtn('😞 Seu endereço está fora da nossa área de entrega (máx. ' + maxRadiusKm + ' km).\\n\\nPodemos oferecer retirada no local. Deseja?'));\n      } else {\n        let routeKm = distance;\n        let routeMin = Math.round(distance * 3);\n        try {\n          const osrm = await this.helpers.httpRequest({\n            method: 'GET',\n            url: 'https://router.project-osrm.org/route/v1/driving/' + estLng + ',' + estLat + ';' + lng + ',' + lat + '?overview=false',\n            headers: { 'User-Agent': 'SakuraBot/1.0' }\n          });\n          const od = typeof osrm === 'string' ? JSON.parse(osrm) : osrm;\n          if (od.routes && od.routes[0]) {\n            routeKm = od.routes[0].distance / 1000;\n            routeMin = Math.round(od.routes[0].duration / 60);\n          }\n        } catch(e) {}\n        const { total: _subtotal } = cartSummary(newCart.items);\n        const calcFee = calcDeliveryFee(routeKm, routeMin, _subtotal);\n        newCart.address = addressToGeocode;\n        newCart.delivery_fee = calcFee;\n        const etaLine = routeMin > 0 ? '\\n🛵 ' + (calcFee === 0 ? '🎉 *Frete GRÁTIS!*' : 'Taxa: R$ ' + fmtBRL(calcFee)) + ' · ~' + routeMin + ' min (' + routeKm.toFixed(1) + ' km)' : '';\n        newState = 'awaiting_complement';\n        respostas.push(locationMsg(lat, lng, 'Endereço de entrega', addressToGeocode));\n        respostas.push('📍 *Endereço encontrado:*\\n_' + addressToGeocode + '_' + etaLine + '\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.');\n      }\n    }\n  }\n\n} else if (currentState === 'awaiting_address_number') {\n  const num = texto.trim();\n  let streetInfo = {};\n  try { streetInfo = JSON.parse(newCart.address_street_temp || '{}'); } catch(e) {}\n\n  if (!streetInfo.localidade) {\n    newState = 'awaiting_address';\n    respostas.push('⚠️ Não encontrei os dados do endereço. Por favor informe novamente:\\n\\nEx: _Rua das Flores, 123' + (config['establishment_city'] ? ', ' + config['establishment_city'] : '') + '_\\nOu compartilhe sua 📍 *localização*');\n  } else {\n    const numLabel = num === 's/n' ? 'S/N' : num;\n    const fullAddress = [streetInfo.logradouro, numLabel, streetInfo.bairro, streetInfo.localidade, streetInfo.uf].filter(Boolean).join(', ');\n    newCart.address_street_temp = null;\n\n    let geoResult = null;\n    try {\n      const r1 = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(fullAddress + ', Brasil') + '&format=json&limit=1&countrycodes=br',\n        headers: { 'User-Agent': 'SakuraBot/1.0' }\n      });\n      const d1 = typeof r1 === 'string' ? JSON.parse(r1) : r1;\n      if (Array.isArray(d1) && d1.length > 0) geoResult = d1[0];\n    } catch(e) {}\n\n    const estCity = config['establishment_city'] || '';\n    const estCityName = estCity.split(',')[0].trim().toLowerCase();\n    const cepCity = (streetInfo.localidade || '').toLowerCase();\n\n    if (!geoResult) {\n      // CEP já foi validado pelo ViaCEP — aceitar o endereço mesmo sem geocoding\n      const mapsLink = 'https://maps.google.com/?q=' + encodeURIComponent(fullAddress);\n      const { total: _subtotal } = cartSummary(newCart.items);\n      const fee = calcDeliveryFee(0, 0, _subtotal);\n      newCart.address = fullAddress;\n      newCart.delivery_fee = fee;\n      const feeMsg = fee === 0 ? '🎉 *Frete GRÁTIS!*' : '🛵 Taxa de entrega: R$ ' + fmtBRL(fee);\n      newState = 'awaiting_complement';\n      respostas.push('📍 *Endereço confirmado:*\\n_' + fullAddress + '_\\n🗺️ ' + mapsLink + '\\n' + feeMsg + '\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.');\n    } else {\n      const lat = parseFloat(geoResult.lat);\n      const lng = parseFloat(geoResult.lon);\n      const distance = haversine(estLat, estLng, lat, lng);\n      const mapsLink = 'https://maps.google.com/?q=' + lat + ',' + lng;\n      if (distance > maxRadiusKm) {\n        newCart.address = fullAddress;\n        newState = 'offer_pickup';\n        respostas.push(offerPickupBtn('😞 Seu endereço está fora da nossa área de entrega (máx. ' + maxRadiusKm + ' km).\\n\\nPodemos oferecer retirada no local. Deseja?'));\n      } else {\n        let routeKm = distance;\n        let routeMin = Math.round(distance * 3);\n        try {\n          const osrm = await this.helpers.httpRequest({\n            method: 'GET',\n            url: 'https://router.project-osrm.org/route/v1/driving/' + estLng + ',' + estLat + ';' + lng + ',' + lat + '?overview=false',\n            headers: { 'User-Agent': 'SakuraBot/1.0' }\n          });\n          const od = typeof osrm === 'string' ? JSON.parse(osrm) : osrm;\n          if (od.routes && od.routes[0]) {\n            routeKm = od.routes[0].distance / 1000;\n            routeMin = Math.round(od.routes[0].duration / 60);\n          }\n        } catch(e) {}\n        const { total: _subtotal } = cartSummary(newCart.items);\n        const calcFee = calcDeliveryFee(routeKm, routeMin, _subtotal);\n        newCart.address = fullAddress;\n        newCart.delivery_fee = calcFee;\n        const etaLine = routeMin > 0 ? '\\n🛵 ' + (calcFee === 0 ? '🎉 *Frete GRÁTIS!*' : 'Taxa: R$ ' + fmtBRL(calcFee)) + ' · ~' + routeMin + ' min (' + routeKm.toFixed(1) + ' km)' : '';\n        newState = 'awaiting_complement';\n        respostas.push(locationMsg(lat, lng, 'Endereço de entrega', fullAddress));\n        respostas.push('📍 *Endereço confirmado:*\\n_' + fullAddress + '_' + etaLine + '\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.');\n      }\n    }\n  }\n\n} else if (currentState === 'offer_pickup') {\n  if (texto === 'sim') {\n    newCart.order_type = 'retirada';\n    newCart.delivery_fee = 0;\n    newState = 'awaiting_payment';\n    respostas.push('✅ *Retirada no local!*'); respostas.push(paymentList(newCart.split_count));\n  } else {\n    newState = 'awaiting_address';\n    respostas.push('📍 *Informe outro endereço:*\\n\\nEx: _Rua das Flores, 123, Centro, ' + (config['establishment_city'] || 'Cidade, SP') + '_\\nOu informe o *CEP*.');\n  }\n\n} else if (currentState === 'awaiting_mixed_method') {\n  const nonCash = paymentTypes.filter(t => t.name !== 'dinheiro');\n  const choice = parseInt(texto) - 1;\n  if (choice >= 0 && choice < nonCash.length) {\n    newCart.mixed_method = nonCash[choice].name;\n    newCart.mixed_label  = nonCash[choice].label;\n    const { total: st } = cartSummary(newCart.items);\n    const total = st + newCart.delivery_fee;\n    newState = 'awaiting_mixed_amount';\n    respostas.push('💰 *Pagamento misto*\\n\\nTotal: *R$ ' + fmtBRL(total) + '*\\n\\nQual valor em *' + nonCash[choice].label + '*?\\n(O restante será em dinheiro)\\n\\nEx: _30_');\n  } else {\n    respostas.push('Opção inválida.\\n\\n' + nonCashOptions() + '\\n\\nDigite o número.');\n  }\n\n} else if (currentState === 'awaiting_mixed_amount') {\n  const entered = parseFloat(texto.replace(',', '.'));\n  const { lines, total: subtotal } = cartSummary(newCart.items);\n  const total = subtotal + newCart.delivery_fee;\n  if (isNaN(entered) || entered <= 0) {\n    respostas.push('⚠️ Valor inválido. Informe o valor em *' + (newCart.mixed_label || 'cartão') + '*:\\n\\nEx: _30_');\n  } else if (entered >= total) {\n    respostas.push('⚠️ O valor em ' + (newCart.mixed_label || 'cartão') + ' (R$ ' + fmtBRL(entered) + ') é maior ou igual ao total (R$ ' + fmtBRL(total) + ').\\n\\nInforme um valor menor:');\n  } else {\n    const cashPart = total - entered;\n    newCart.mixed_amount = entered;\n    const cashPart2 = total - entered;\n    newState = 'awaiting_mixed_change';\n    respostas.push('💵 *Parte em dinheiro: R$ ' + fmtBRL(cashPart2) + '*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.');\n  }\n\n} else if (currentState === 'awaiting_split_count') {\n  const n = parseInt(texto);\n  if (!n || n < 2 || n > 30) {\n    respostas.push('⚠️ Informe um número válido de pessoas (2 a 30):\\n\\nEx: _4_');\n  } else {\n    newCart.split_count = n;\n    newCart.split_current = 1;\n    newCart.split_payments = [];\n    const { total: st } = cartSummary(newCart.items);\n    const total = st + newCart.delivery_fee;\n    const perPerson = fmtBRL(total / n);\n    newState = 'awaiting_split_payment';\n    const payOpts = paymentTypes.map((t, i) => (i+1) + '. ' + t.label).join('\\n');\n    respostas.push('👥 *' + n + ' pessoas — R$ ' + perPerson + '/pessoa*\\n\\n*Pessoa 1 de ' + n + ':*\\nComo vai pagar?\\n\\n' + payOpts + '\\n\\nDigite o número.');\n  }\n\n} else if (currentState === 'awaiting_split_payment') {\n  const choice = parseInt(texto) - 1;\n  const payOpts = paymentTypes.map((t, i) => (i+1) + '. ' + t.label).join('\\n');\n  if (choice < 0 || choice >= paymentTypes.length) {\n    respostas.push('Opção inválida. Como vai pagar?\\n\\n' + payOpts + '\\n\\nDigite o número.');\n  } else {\n    const payment = paymentTypes[choice];\n    const { total: st } = cartSummary(newCart.items);\n    const total = st + newCart.delivery_fee;\n    const n = newCart.split_count;\n    const perPerson = total / n;\n\n    if (payment.name === 'dinheiro') {\n      newCart.payment_method = 'dinheiro';\n      newState = 'awaiting_split_change';\n      respostas.push('💵 *Dinheiro — Pessoa ' + newCart.split_current + '*\\n\\nValor: *R$ ' + fmtBRL(perPerson) + '*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.');\n    } else {\n      const payments = Array.isArray(newCart.split_payments) ? newCart.split_payments : [];\n      payments.push({ person: newCart.split_current, label: payment.label, change_for: null });\n      newCart.split_payments = payments;\n\n      if (newCart.split_current >= n) {\n        const { lines, total: subtotal } = cartSummary(newCart.items);\n        const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n        const mapsLine = newCart.order_type === 'delivery' ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(addrFull) : '';\n        const typeLabel = newCart.order_type === 'delivery' ? '🚀 *Entregar*\\n📍 ' + addrFull + mapsLine : '📤 *' + (orderTypes.find(t => t.name === newCart.order_type) || {label:'Retirada no local 📤'}).label + '*';\n        const feeLine = newCart.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(newCart.delivery_fee) : '\\n🎉 Frete grátis!';\n        const splitDetail = payments.map(p => '• Pessoa ' + p.person + ': ' + p.label + (p.change_for ? ' _(troco p/ R$ ' + fmtBRL(p.change_for) + ')_' : '')).join('\\n');\n        const orderCode = generateOrderCode(tel);\n  respostas.push('✅ *Pedido confirmado!*\\n\\n' + lines.join('\\n') + '\\n\\n*Subtotal: R$ ' + fmtBRL(subtotal) + '*' + feeLine + '\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\n' + typeLabel + '\\n\\n👥 *Divisão — ' + n + ' pessoas (R$ ' + fmtBRL(perPerson) + '/pessoa):*\\n' + splitDetail + '\\n\\n🔖 *Código do pedido: ' + orderCode + '*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉');\n        save_order = true;\n        finalOrder = { tel, customer_name: customerName, code: orderCode, items: newCart.items, subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type, address: newCart.order_type === 'delivery' ? addrFull : '', maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '', payment_method: 'dividido: ' + payments.map(p => p.label).join(', '), change_for: null, split_count: n, split_payments: payments };\n        newState = 'start';\n        newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  maybeAskOptIn();\n      } else {\n        newCart.split_current = newCart.split_current + 1;\n        newState = 'awaiting_split_payment';\n        respostas.push('*Pessoa ' + newCart.split_current + ' de ' + n + ':* Como vai pagar?\\n\\n' + payOpts + '\\n\\nDigite o número.');\n      }\n    }\n  }\n\n} else if (currentState === 'awaiting_split_change') {\n  const { total: st } = cartSummary(newCart.items);\n  const total = st + newCart.delivery_fee;\n  const n = newCart.split_count;\n  const perPerson = total / n;\n  const payOpts = paymentTypes.map((t, i) => (i+1) + '. ' + t.label).join('\\n');\n\n  let changeFor = null;\n  if (texto !== 'não' && texto !== 'nao') {\n    const val = parseTrocoInput(texto, perPerson);\n    if (val === null || val <= perPerson) {\n      respostas.push('⚠️ O valor deve ser maior que R$ ' + fmtBRL(perPerson) + '.\\n\\nInforme o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_) ou *não* para sem troco:');\n      newState = 'awaiting_split_change';\n      return [{ json: { tel, instancia, respostas, state: newState, cart: newCart, reservation_temp: newReservationTemp, save_order, order: finalOrder, save_reservation, reservation: finalReservation, save_customer_name, customer_name_to_save: customerNameToSave, save_marketing_opt_in, marketing_opt_in_value, kitchen_phone: config['kitchen_phone'] || '', create_chatwoot_conversation, chatwoot_customer_name: chatwootCustomerName } }];\n    }\n    changeFor = val;\n  }\n\n  const payments = Array.isArray(newCart.split_payments) ? newCart.split_payments : [];\n  payments.push({ person: newCart.split_current, label: '💵 Dinheiro', change_for: changeFor });\n  newCart.split_payments = payments;\n\n  if (newCart.split_current >= n) {\n    const { lines, total: subtotal } = cartSummary(newCart.items);\n    const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n    const mapsLine = newCart.order_type === 'delivery' ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(addrFull) : '';\n    const typeLabel = newCart.order_type === 'delivery' ? '🚀 *Entregar*\\n📍 ' + addrFull + mapsLine : '📤 *' + (orderTypes.find(t => t.name === newCart.order_type) || {label:'Retirada no local 📤'}).label + '*';\n    const feeLine = newCart.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(newCart.delivery_fee) : '\\n🎉 Frete grátis!';\n    const splitDetail = payments.map(p => '• Pessoa ' + p.person + ': ' + p.label + (p.change_for ? ' _(troco p/ R$ ' + fmtBRL(p.change_for) + ')_' : '')).join('\\n');\n    const orderCode = generateOrderCode(tel);\n  respostas.push('✅ *Pedido confirmado!*\\n\\n' + lines.join('\\n') + '\\n\\n*Subtotal: R$ ' + fmtBRL(subtotal) + '*' + feeLine + '\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\n' + typeLabel + '\\n\\n👥 *Divisão — ' + n + ' pessoas (R$ ' + fmtBRL(perPerson) + '/pessoa):*\\n' + splitDetail + '\\n\\n🔖 *Código do pedido: ' + orderCode + '*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉');\n    save_order = true;\n    finalOrder = { tel, customer_name: customerName, code: orderCode, items: newCart.items, subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type, address: newCart.order_type === 'delivery' ? addrFull : '', maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '', payment_method: 'dividido: ' + payments.map(p => p.label).join(', '), change_for: null, split_count: n, split_payments: payments };\n    newState = 'start';\n    newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  maybeAskOptIn();\n  } else {\n    newCart.split_current = newCart.split_current + 1;\n    newState = 'awaiting_split_payment';\n    respostas.push('*Pessoa ' + newCart.split_current + ' de ' + n + ':* Como vai pagar?\\n\\n' + payOpts + '\\n\\nDigite o número.');\n  }\n\n} else if (currentState === 'awaiting_mixed_change') {\n  const { lines, total: subtotal } = cartSummary(newCart.items);\n  const total = subtotal + newCart.delivery_fee;\n  const entered = newCart.mixed_amount;\n  const cashPart = total - entered;\n  let changeFor = null;\n  if (texto !== 'não' && texto !== 'nao') {\n    const val = parseTrocoInput(texto, cashPart);\n    if (val === null || val <= cashPart) {\n      respostas.push('⚠️ O valor deve ser maior que R$ ' + fmtBRL(cashPart) + '.\\n\\nInforme o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_) ou *não* para sem troco:');\n      return [{ json: { tel, instancia, respostas, state: newState, cart: newCart, reservation_temp: newReservationTemp, save_order: false, order: null, save_reservation: false, reservation: null, save_customer_name: false, customer_name_to_save: null, save_marketing_opt_in: false, marketing_opt_in_value: null, kitchen_phone: config['kitchen_phone'] || '', create_chatwoot_conversation: false, chatwoot_customer_name: chatwootCustomerName } }];\n    }\n    changeFor = val;\n  }\n  const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n  const mapsLine = newCart.order_type === 'delivery' ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(addrFull) : '';\n  const typeLabel = newCart.order_type === 'delivery' ? '🚀 *Entregar*\\n📍 ' + addrFull + mapsLine : '🏃 *' + (orderTypes.find(t => t.name === newCart.order_type) || {label: 'Retirada'}).label + '*';\n  const feeLine = newCart.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(newCart.delivery_fee) : '\\n🎉 Frete grátis!';\n  const changeInfo = changeFor ? ' _(troco p/ R$ ' + fmtBRL(changeFor) + ')_' : '';\n  const orderCode = generateOrderCode(tel);\n  respostas.push('✅ *Pedido confirmado!*\\n\\n' + lines.join('\\n') + '\\n\\n*Subtotal: R$ ' + fmtBRL(subtotal) + '*' + feeLine + '\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\n' + typeLabel + '\\n💳 ' + (newCart.mixed_label || 'Cartão') + ': R$ ' + fmtBRL(entered) + '\\n💵 Dinheiro: R$ ' + fmtBRL(cashPart) + changeInfo + '\\n\\n🔖 *Código do pedido: ' + orderCode + '*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉');\n  save_order = true;\n  finalOrder = { tel, customer_name: customerName, code: orderCode, items: newCart.items, subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type, address: newCart.order_type === 'delivery' ? addrFull : '', maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '', payment_method: (newCart.mixed_label || 'misto') + ' + dinheiro', change_for: changeFor };\n  newState = 'start';\n  newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  maybeAskOptIn();\n\n} else if (currentState === 'awaiting_payment') {\n  let choice = parseInt(texto) - 1;\n  if (isNaN(choice) || choice < 0) choice = paymentTypes.findIndex(t => t.name === texto);\n  if (choice >= 0 && choice < paymentTypes.length) {\n    const payment = paymentTypes[choice];\n    newCart.payment_method = payment.name;\n    const { lines, total: subtotal } = cartSummary(newCart.items);\n    const total = subtotal + newCart.delivery_fee;\n    if (payment.name === 'dinheiro') {\n      newState = 'awaiting_change';\n      respostas.push('💵 *Pagamento em dinheiro!*\\n\\nTotal a pagar: *R$ ' + fmtBRL(total) + '*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.');\n    } else {\n      newCart.change_for = null;\n      const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n      const mapsLine = newCart.order_type === 'delivery' ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(addrFull) : '';\n      const typeLabel = newCart.order_type === 'delivery' ? '🚀 *Entregar*\\n📍 ' + addrFull + mapsLine : '🏃 *' + (orderTypes.find(t => t.name === newCart.order_type) || {label: 'Retirada'}).label + '*';\n      const pixInfo = (payment.name === 'pix' && pixKey) ? '\\n\\n💳 *Chave PIX:* ' + pixKey + (pixName ? '\\n👤 ' + pixName : '') : '';\n      const feeLine = newCart.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(newCart.delivery_fee) : '\\n🎉 Frete grátis!';\n      const splitLine = (newCart.split_count > 1) ? '\\n👥 ' + newCart.split_count + ' pessoas — *R$ ' + fmtBRL(total / newCart.split_count) + ' por pessoa*' : '';\n      const orderCode = generateOrderCode(tel);\n  respostas.push('✅ *Pedido confirmado!*\\n\\n' + lines.join('\\n') + '\\n\\n*Subtotal: R$ ' + fmtBRL(subtotal) + '*' + feeLine + '\\n*Total: R$ ' + fmtBRL(total) + '*' + splitLine + '\\n\\n' + typeLabel + '\\n💳 Pagamento: ' + payment.label + pixInfo + '\\n\\n🔖 *Código do pedido: ' + orderCode + '*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉');\n      save_order = true;\n      finalOrder = { tel, customer_name: customerName, code: orderCode, items: newCart.items, subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type, address: newCart.order_type === 'delivery' ? (newCart.address + (newCart.complement ? ', ' + newCart.complement : '')) : '', maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(newCart.address + (newCart.complement ? ', ' + newCart.complement : ''))) : '', payment_method: payment.name, change_for: null };\n      newState = 'start';\n      newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  maybeAskOptIn();\n    }\n  } else if (texto === 'dividir' || parseInt(texto) === paymentTypes.length + 1 || texto.toLowerCase().includes('dividir')) {\n    newState = 'awaiting_split_count';\n    respostas.push('👥 *Dividir a conta*\\n\\nQuantas pessoas vão dividir?\\n\\nEx: _4_');\n  } else if (texto === 'misto' || parseInt(texto) === paymentTypes.length + 2 || texto.toLowerCase().includes('misto')) {\n    const nonCash = paymentTypes.filter(t => t.name !== 'dinheiro');\n    if (nonCash.length === 0) {\n      respostas.push('⚠️ Não há formas de pagamento além do dinheiro cadastradas.');\n    } else if (nonCash.length === 1) {\n      newCart.mixed_method = nonCash[0].name;\n      newCart.mixed_label  = nonCash[0].label;\n      const { total: st } = cartSummary(newCart.items);\n      const total = st + newCart.delivery_fee;\n      newState = 'awaiting_mixed_amount';\n      respostas.push('💰 *Pagamento misto*\\n\\nTotal: *R$ ' + fmtBRL(total) + '*\\n\\nQual valor em *' + nonCash[0].label + '*?\\n(O restante será em dinheiro)\\n\\nEx: _30_');\n    } else {\n      newState = 'awaiting_mixed_method';\n      respostas.push('💰 *Pagamento misto*\\n\\nEscolha a forma além do dinheiro:\\n\\n' + nonCashOptions() + '\\n\\nDigite o número.');\n    }\n  } else {\n    respostas.push(paymentList(newCart.split_count));\n  }\n\n} else if (currentState === 'awaiting_change') {\n  const { lines, total: subtotal } = cartSummary(newCart.items);\n  const total = subtotal + newCart.delivery_fee;\n  let changeVal = null;\n  if (texto !== 'não' && texto !== 'nao') {\n    changeVal = parseTrocoInput(texto, total);\n    if (changeVal === null || changeVal <= total) {\n      respostas.push('⚠️ Informe um valor maior que R$ ' + fmtBRL(total) + ' ou digite *não* se não precisar de troco.');\n      return [{ json: { tel, instancia, respostas, state: newState, cart: newCart, reservation_temp: newReservationTemp, save_order: false, order: null, save_reservation: false, reservation: null, save_customer_name: false, customer_name_to_save: null, save_marketing_opt_in: false, marketing_opt_in_value: null, kitchen_phone: config['kitchen_phone'] || '', create_chatwoot_conversation: false, chatwoot_customer_name: chatwootCustomerName } }];\n    }\n  }\n  newCart.change_for = changeVal;\n  const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n      const mapsLine = newCart.order_type === 'delivery' ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(addrFull) : '';\n      const typeLabel = newCart.order_type === 'delivery' ? '🚀 *Entregar*\\n📍 ' + addrFull + mapsLine : '🏃 *' + (orderTypes.find(t => t.name === newCart.order_type) || {label: 'Retirada'}).label + '*';\n  const changeLine = changeVal ? '\\n💵 Troco para: R$ ' + fmtBRL(changeVal) : '';\n  const feeLine = newCart.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(newCart.delivery_fee) : '\\n🎉 Frete grátis!';\n  const splitLine2 = (newCart.split_count > 1) ? '\\n👥 ' + newCart.split_count + ' pessoas — *R$ ' + fmtBRL(total / newCart.split_count) + ' por pessoa*' : '';\n  const orderCode = generateOrderCode(tel);\n  respostas.push('✅ *Pedido confirmado!*\\n\\n' + lines.join('\\n') + '\\n\\n*Subtotal: R$ ' + fmtBRL(subtotal) + '*' + feeLine + '\\n*Total: R$ ' + fmtBRL(total) + '*' + splitLine2 + '\\n\\n' + typeLabel + '\\n💵 Pagamento: Dinheiro' + changeLine + '\\n\\n🔖 *Código do pedido: ' + orderCode + '*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉');\n  save_order = true;\n  finalOrder = { tel, customer_name: customerName, code: orderCode, items: newCart.items, subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type, address: newCart.order_type === 'delivery' ? (newCart.address + (newCart.complement ? ', ' + newCart.complement : '')) : '', maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(newCart.address + (newCart.complement ? ', ' + newCart.complement : ''))) : '', payment_method: 'dinheiro', change_for: changeVal };\n  newState = 'start';\n  newCart = { items: [], order_type: '', address: '', complement: '', delivery_fee: 0, payment_method: '', change_for: null, split_count: 0, split_current: 0, split_payments: [], mixed_method: '', mixed_label: '', mixed_amount: 0, address_street_temp: null, browse_category: '', pending_item_id: null, pending_item_name: '' };\n  maybeAskOptIn();\n\n} else if (texto === '1' || texto.includes('cardapio') || texto.includes('cardápio') || texto.includes('menu')) {\n  newState = 'browsing_categories'; respostas.push(categoryList('view'));\n\n} else if (texto === '2' || (texto.includes('pedido') && texto !== 'meu pedido' && !texto.startsWith('meus pedido')) || texto.includes('pedir')) {\n  newState = 'ordering_cat'; respostas.push(categoryList('order'));\n\n} else if ((texto === '3' || texto.includes('reserva') || texto.includes('reservar')) && !['reserving','confirming_reservation'].includes(currentState)) {\n  newState = 'reserving';\n  respostas.push('📅 *Reserva de Mesa*\\n\\nInforme data, horário e número de pessoas:\\n\\nEx: _Sábado às 20h para 4 pessoas_\\nOu: _12/06 às 20h, 4 pessoas_');\n\n} else if (currentState === 'reserving') {\n  const dateVal = parseDate(texto);\n  const timeVal = parseTime(texto);\n  const sizeVal = parsePeople(texto);\n  const missing = [];\n  if (!dateVal) missing.push('📆 data');\n  if (!timeVal) missing.push('🕗 horário');\n  if (!sizeVal) missing.push('👥 número de pessoas');\n  if (missing.length > 0) {\n    const estCity2 = config['establishment_city'] || '';\n    respostas.push('⚠️ Faltou informar: ' + missing.join(', ') + '.\\n\\nEx: _Sábado às 20h para 4 pessoas_\\nOu: _12/06 às 20h, 4 pessoas_');\n  } else {\n    const timeStr = timeVal + ':00';\n    const available = restaurantTables\n      .filter(t => t.capacity >= sizeVal)\n      .filter(t => !upcomingReservations.some(r => r.date === dateVal && r.time === timeStr && r.table_id === t.id))\n      .sort((a, b) => a.capacity - b.capacity);\n    if (available.length === 0) {\n      respostas.push('😞 Não há mesa disponível para *' + sizeVal + ' pessoas* em *' + fmtDate(dateVal) + '* às *' + timeVal + '*.\\n\\nEscolha outra data ou horário:');\n    } else {\n      const table = available[0];\n      newReservationTemp = { date: dateVal, time: timeVal, party_size: sizeVal, table_id: table.id, table_number: table.number };\n      newState = 'confirming_reservation';\n      respostas.push(confirmBtn(\n        '📅 *Resumo da reserva:*\\n\\n' +\n        '📆 Data: *' + fmtDate(dateVal) + '*\\n' +\n        '🕗 Horário: *' + timeVal + '*\\n' +\n        '👥 Pessoas: *' + sizeVal + '*\\n' +\n        '🪑 Mesa: *' + table.number + '*\\n\\nConfirma a reserva?'\n      ));\n    }\n  }\n\n} else if (currentState === 'confirming_reservation' && texto === 'sim') {\n  const res = newReservationTemp;\n  if (!res || !res.date) {\n    newState = 'start';\n    respostas.push('⚠️ Não encontrei os dados da reserva. Digite *3* para tentar novamente.');\n  } else {\n    save_reservation = true;\n    finalReservation = { tel, date: res.date, time: res.time, party_size: res.party_size, table_id: res.table_id };\n    newReservationTemp = {};\n    newState = 'start';\n    const estabAddr = config['establishment_address'] || '';\n    const mapsLink = estabAddr ? '\\n🗺️ https://maps.google.com/?q=' + encodeURIComponent(estabAddr) : '';\n    const addrLine = estabAddr ? '\\n\\n📍 *Localização:* ' + estabAddr + mapsLink : '';\n    respostas.push('✅ *Reserva confirmada!*\\n\\n📆 ' + fmtDate(res.date) + ' às ' + res.time + '\\n👥 ' + res.party_size + ' pessoas\\n🪑 Mesa ' + res.table_number + addrLine + '\\n\\nTe esperamos! 🌸');\n  }\n\n} else if (currentState === 'confirming_reservation' && (texto === 'não' || texto === 'nao')) {\n  newReservationTemp = {};\n  newState = 'start';\n  respostas.push('Reserva cancelada. '); respostas.push(mainMenu());\n\n} else if (texto === '5' || texto.startsWith('meu pedido') || texto.startsWith('meus pedido') || texto === 'pedidos') {\n  const statusLabel = (status, orderType) => {\n    const isDelivery = orderType === 'delivery';\n    const map = {\n      received:          '🕐 Aguardando confirmação',\n      confirmed:         '✅ Confirmado — entrando em preparo',\n      preparing:         '👨‍🍳 Sendo preparado agora',\n      ready:             isDelivery ? '🛵 Saiu para entrega!' : '✅ Pronto para retirar!',\n      out_for_delivery:  '🛵 Em rota de entrega',\n      delivered:         '📦 Entregue com sucesso',\n      cancelled:         '❌ Cancelado',\n    };\n    return map[status] || status;\n  };\n  if (!recentOrders || recentOrders.length === 0) {\n    respostas.push('📦 Você ainda não fez nenhum pedido.\\n\\nDigite *2* para fazer seu primeiro pedido! 🛒');\n  } else {\n    let msg = '📦 *Seus últimos pedidos:*\\n\\n';\n    recentOrders.forEach((o, i) => {\n      const st = statusLabel(o.status, o.order_type) || o.status;\n      const tipo = o.order_type === 'delivery' ? '🚗 Delivery' : o.order_type === 'retirada' ? '🏃 Retirada' : '🪑 Mesa';\n      msg += `*${i+1}. #${o.code}*\\n`\n           + `   ${tipo} — R$ ${parseFloatfmtBRL(o.total).replace('.', ',')}\\n`\n           + `   ${st} — ${o.created_at}\\n\\n`;\n    });\n    msg += '_Para detalhes de um pedido, digite o código (ex: SK-001)._';\n    respostas.push(msg);\n    newState = 'awaiting_order_detail';\n  }\n\n} else if (texto === '4' || texto.includes('atendente') || texto.includes('humano')) {\n  newState = 'human_handoff';\n  create_chatwoot_conversation = true;\n  chatwootCustomerName = customerName || '';\n  respostas.push('👤 *Conectando com um atendente...*\\n\\nEm instantes alguém da nossa equipe irá te atender. Aguarde! 🌸');\n\n} else if (texto === '6' || texto === 'notificacoes' || texto === 'notificações') {\n  respostas.push(notifBtn($json.marketing_opt_in));\n  newState = 'notifications_menu';\n\n} else if (texto === '0' || texto === 'voltar') {\n  newState = 'start';\n  respostas.push('🔙 Voltando ao menu principal...\\n\\n'); respostas.push(mainMenu());\n\n} else if (currentState === 'human_handoff') {\n  // Keep state — a human agent is handling via Chatwoot\n  respostas.push('⏳ Você está em atendimento com nossa equipe.\\n\\nAguarde a resposta do atendente.\\n\\n_Digite *sair* para reiniciar o atendimento automático._');\n\n} else if (currentState === 'awaiting_order_detail') {\n  // Match order code like SK-001 or #SK-001\n  const codeInput = texto.replace(/^#/, '').toUpperCase();\n  const order = recentOrders.find(o => o.code.toUpperCase() === codeInput);\n  if (order) {\n    const statusLabel = (status, orderType) => {\n    const isDelivery = orderType === 'delivery';\n    const map = {\n      received:          '🕐 Aguardando confirmação',\n      confirmed:         '✅ Confirmado — entrando em preparo',\n      preparing:         '👨‍🍳 Sendo preparado agora',\n      ready:             isDelivery ? '🛵 Saiu para entrega!' : '✅ Pronto para retirar!',\n      out_for_delivery:  '🛵 Em rota de entrega',\n      delivered:         '📦 Entregue com sucesso',\n      cancelled:         '❌ Cancelado',\n    };\n    return map[status] || status;\n  };\n    const tipo = order.order_type === 'delivery' ? '🚗 Delivery' : order.order_type === 'retirada' ? '🏃 Retirada' : '🪑 Mesa';\n    const st = statusLabel(order.status, order.order_type) || order.status;\n    respostas.push(\n      '📦 *Pedido #' + order.code + '*\\n\\n'\n      + tipo + ' — R$ ' + parseFloatfmtBRL(order.total).replace('.', ',') + '\\n'\n      + st + ' — ' + order.created_at + '\\n'\n      + (order.payment_method ? '💳 ' + order.payment_method + '\\n' : '')\n      + '\\n_' + order.items_count + ' item(s)_\\n\\n'\n      + 'Digite outro código para consultar ou *0* para voltar ao menu.'\n    );\n  } else if (texto === '0' || texto === 'voltar' || texto === 'menu') {\n    newState = 'start';\n    respostas.push('🔙 Voltando ao menu principal...\\n\\n'); respostas.push(mainMenu());\n  } else {\n    respostas.push('❌ Código *' + texto + '* não encontrado.\\n\\nTente novamente ou digite *0* para voltar.');\n  }\n\n} else if (currentState === 'notifications_menu') {\n  if (texto === 'ativar' || texto === 'sim') {\n    save_marketing_opt_in = true;\n    marketing_opt_in_value = true;\n    newState = 'start';\n    respostas.push('🔔 *Notificações ativadas!*\\n\\nVocê receberá promoções e novidades. Para desativar, acesse *Notificações* no menu.\\n\\n'); respostas.push(mainMenu());\n  } else if (texto === 'desativar' || texto === 'nao' || texto === 'não') {\n    save_marketing_opt_in = true;\n    marketing_opt_in_value = false;\n    newState = 'start';\n    respostas.push('🔕 *Notificações desativadas.*\\n\\nVocê não receberá mais promoções. Para reativar, acesse *Notificações* no menu.\\n\\n'); respostas.push(mainMenu());\n  } else if (texto === '0' || texto === 'voltar') {\n    newState = 'start';\n    respostas.push('🔙 '); respostas.push(mainMenu());\n  } else {\n    respostas.push('Digite *ativar* para receber notificações, *desativar* para parar, ou *0* para voltar.');\n  }\n\n} else if (currentState === 'awaiting_name') {\n  const validation = validateName(texto);\n  if (!validation.valid) {\n    if (validation.reason === 'bad_word') {\n      respostas.push('😄 Entendo que às vezes usamos apelidos entre amigos, mas para te atendermos melhor, qual é o seu *nome verdadeiro*?');\n    } else {\n      respostas.push('Hmm, não consegui identificar. 😊 Pode me informar seu *nome* (pelo menos o primeiro)?');\n    }\n    newState = 'awaiting_name';\n  } else {\n    const nameFormatted = capitalizeName(texto);\n    customerNameToSave = nameFormatted;\n    save_customer_name = true;\n    newState = 'start';\n    if (lastOrder && Array.isArray(lastOrder.items) && lastOrder.items.length > 0) {\n      const lines = buildRepeatOrderLines(lastOrder, products, '🔄 *Seu último pedido foi:*');\n      newState = 'repeat_order';\n      respostas.push('Prazer, *' + nameFormatted + '*! 😊\\n\\n' + msgWelcome);\n      respostas.push(lines.join('\\n'));\n      respostas.push(yesNo('🔄 Quer repetir esse pedido?'));\n    } else {\n      respostas.push('Prazer, *' + nameFormatted + '*! 😊\\n\\n' + msgWelcome); respostas.push(mainMenu());\n    }\n  }\n\n} else if (currentState === 'awaiting_complement') {\n  if (texto === 'ok' || texto === 'nao' || texto === 'não' || texto === 'sem complemento') {\n    newCart.complement = '';\n  } else {\n    newCart.complement = texto.trim();\n  }\n  newState = 'awaiting_payment';\n  respostas.push(paymentList(newCart.split_count));\n\n} else if (texto === 'status' || texto === 'meu pedido' || texto === 'pedido') {\n  if (!lastOrder || !lastOrder.code) {\n    respostas.push('Nenhum pedido encontrado. 😊\\n\\nDigite *2* para fazer seu primeiro pedido!');\n  } else {\n    const statusMap = { received: '📥 Recebido', confirmed: '✅ Confirmado', preparing: '👨‍🍳 Em preparo', ready: '✅ Pronto para entrega', delivered: '🚀 Entregue', cancelled: '❌ Cancelado' };\n    const stLabel = statusMap[lastOrder.status] || lastOrder.status || '📥 Recebido';\n    const { lines } = cartSummary(lastOrder.items || []);\n    respostas.push('📋 *Seu último pedido:*\\n\\n🔖 Código: *' + lastOrder.code + '*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(lastOrder.total) + '*\\n\\nStatus: ' + stLabel);\n  }\n\n} else if (texto === 'notificações' || texto === 'notificacoes' || texto === 'promoções' || texto === 'promocoes') {\n  if (marketingOptIn === true) {\n    respostas.push('📣 *Notificações:* Ativas ✅\\n\\nVocê recebe nossas promoções e novidades.\\n\\nDigite *desativar notificações* para parar de receber.');\n  } else if (marketingOptIn === false) {\n    respostas.push('📣 *Notificações:* Desativadas ❌\\n\\nVocê não está recebendo promoções.\\n\\nDigite *ativar notificações* para voltar a receber.');\n  } else {\n    respostas.push('📣 *Notificações:* Não configuradas\\n\\nDeseja receber promoções e novidades?\\n\\nDigite *ativar notificações* para receber ou *não* para não receber.');\n  }\n\n} else if (texto.includes('desativar notifica') || texto.includes('desativar promoç')) {\n  save_marketing_opt_in = true;\n  marketing_opt_in_value = false;\n  respostas.push('✅ Notificações desativadas.\\n\\nNão enviaremos promoções para você.\\n\\nDigite *ativar notificações* a qualquer momento para reativar.');\n\n} else if (texto.includes('ativar notifica') || texto.includes('ativar promoç')) {\n  save_marketing_opt_in = true;\n  marketing_opt_in_value = true;\n  respostas.push('✅ Notificações ativadas! 🎉\\n\\nVocê receberá nossas promoções e novidades.');\n\n} else if (currentState === 'awaiting_marketing_opt_in') {\n  if (texto === 'sim') {\n    save_marketing_opt_in = true;\n    marketing_opt_in_value = true;\n    newState = 'start';\n    respostas.push('✅ Ótimo! Você receberá nossas promoções e novidades. 🎉\\n\\nDigite *notificações* a qualquer momento para gerenciar.');\n  } else if (texto === 'não' || texto === 'nao') {\n    save_marketing_opt_in = true;\n    marketing_opt_in_value = false;\n    newState = 'start';\n    respostas.push('Tudo bem! Não enviaremos promoções. 😊\\n\\nDigite *ativar notificações* se mudar de ideia.');\n  } else {\n    respostas.push('Responda *sim* para receber promoções ou *não* para não receber:');\n  }\n\n} else if (currentState === 'browsing_categories' || currentState === 'ordering_cat') {\n  const isOrder = currentState === 'ordering_cat';\n  const catInput = texto.replace(/^(order_cat:|cat:)/, '');\n  if (catInput === 'back' || texto === '0' || texto === 'voltar') {\n    newState = 'start'; respostas.push(mainMenu());\n  } else {\n    const cats = [...new Set(products.map(p => p.category || 'Outros'))];\n    const found = cats.find(c => c.toLowerCase() === catInput.toLowerCase());\n    if (found) {\n      newCart.browse_category = found;\n      newState = isOrder ? 'ordering_items' : 'browsing_items';\n      respostas.push(itemsList(found, isOrder ? 'order' : 'view', 0));\n    } else {\n      respostas.push(categoryList(isOrder ? 'order' : 'view'));\n    }\n  }\n\n} else if (currentState === 'browsing_items' || currentState === 'ordering_items') {\n  const isOrder = currentState === 'ordering_items';\n  const cat = newCart.browse_category || '';\n  if (texto === 'cat:back' || texto === 'order_cat:back' || texto === '0' || texto === 'voltar') {\n    newState = isOrder ? 'ordering_cat' : 'browsing_categories';\n    respostas.push(categoryList(isOrder ? 'order' : 'view'));\n  } else if (texto.startsWith('page:')) {\n    const parts = texto.split(':'); const pageCtx = parts[1]; const pageCatRaw = parts.slice(2, -1).join(':'); const pageNum = parseInt(parts[parts.length - 1]);\n    const pageCat = products.map(p => p.category||'Outros').find(c => c.toLowerCase() === pageCatRaw.toLowerCase()) || pageCatRaw;\n    respostas.push(itemsList(pageCat, pageCtx, pageNum));\n  } else if (texto.startsWith('order_item:') || texto.startsWith('view_item:')) {\n    const itemId = texto.replace(/^(order_item:|view_item:)/, '');\n    const product = products.find(p => String(p.id) === String(itemId));\n    if (product) {\n      if (isOrder) {\n        newCart.pending_item_id = product.id; newCart.pending_item_name = product.name;\n        newState = 'awaiting_qty'; respostas.push(qtyBtn(product.name));\n      } else {\n        const desc = product.description ? '\\n_' + product.description + '_' : '';\n        respostas.push('🍽️ *' + product.name + '*\\nR$ ' + fmtBRL(product.price) + desc + '\\n\\nDigite *2* para fazer um pedido ou *0* para voltar.');\n      }\n    } else { respostas.push(itemsList(cat, isOrder ? 'order' : 'view', 0)); }\n  } else { respostas.push(itemsList(cat, isOrder ? 'order' : 'view', 0)); }\n\n} else if (currentState === 'awaiting_qty') {\n  let qty = null;\n  if (texto.startsWith('qty:')) { qty = parseInt(texto.replace('qty:', '')); }\n  else { const n = parseInt(texto); if (!isNaN(n) && n >= 1 && n <= 99) qty = n; }\n  if (!qty || qty < 1) {\n    respostas.push(qtyBtn(newCart.pending_item_name || 'Item'));\n  } else {\n    const product = products.find(p => String(p.id) === String(newCart.pending_item_id));\n    if (product) {\n      const existing = newCart.items.find(i => i.id === product.id);\n      if (existing) { existing.qty += qty; } else { newCart.items.push({ id: product.id, name: product.name, qty, price: Number(product.price), menuIdx: products.indexOf(product) + 1 }); }\n      newCart.pending_item_id = null; newCart.pending_item_name = '';\n      const { total } = cartSummary(newCart.items);\n      newState = 'awaiting_more';\n      respostas.push({ type: 'buttons', body: '✅ *' + product.name + '* × ' + qty + ' adicionado!\\n\\n🛒 Total parcial: R$ ' + fmtBRL(total) + '\\n\\nDeseja adicionar mais itens ou finalizar?', buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }, { id: 'finalizar', title: '✅ Finalizar' }] });\n    } else { newState = 'start'; respostas.push(mainMenu()); }\n  }\n\n} else if (currentState === 'awaiting_more') {\n  if (texto === '__add_more__') {\n    const cat = newCart.browse_category;\n    newState = cat ? 'ordering_items' : 'ordering_cat';\n    respostas.push(cat ? itemsList(cat, 'order', 0) : categoryList('order'));\n  } else if (texto === 'finalizar') {\n    const { lines, total } = cartSummary(newCart.items);\n    const minOrder = parseFloat(config['min_order_value'] || '0');\n    if (minOrder > 0 && total < minOrder) {\n      respostas.push('⚠️ Valor mínimo: *R$ ' + fmtBRL(minOrder) + '*\\n\\nTotal atual: R$ ' + fmtBRL(total));\n      newState = 'awaiting_more';\n      respostas.push({ type: 'buttons', body: 'Adicionar mais para atingir o mínimo?', buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }] });\n    } else {\n      newState = 'confirming';\n      respostas.push(confirmBtn('📋 *Resumo do pedido:*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*\\n\\nConfirma o pedido?'));\n    }\n  } else {\n    respostas.push({ type: 'buttons', body: 'Deseja adicionar mais itens?', buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }, { id: 'finalizar', title: '✅ Finalizar' }] });\n  }\n\n} else {\n  const lines = texto.split(/[\\n,+]/).map(l => l.trim()).filter(Boolean);\n  const newItems = [];\n  const unrecognized = [];\n  for (const line of lines) {\n    const mNum = line.match(/^(\\d+)\\s*[xX×]\\s*(\\d+)$/);\n    if (mNum) {\n      const idx = parseInt(mNum[1]) - 1;\n      const qty = parseInt(mNum[2]);\n      if (qty < 1) { unrecognized.push(line); continue; }\n      if (idx >= 0 && products && idx < products.length) {\n        const p = products[idx];\n        newItems.push({ id: p.id, name: p.name, qty, price: Number(p.price), menuIdx: idx + 1 });\n      } else { unrecognized.push(line); }\n      continue;\n    }\n    const mName = line.match(/^(.+?)\\s*[xX×]\\s*(\\d+)$/);\n    if (mName) {\n      const norm = s => s.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n      const search = norm(mName[1].trim());\n      const qty = parseInt(mName[2]);\n      const p = products && products.find(p => norm(p.name).includes(search));\n      if (p && qty >= 1) { newItems.push({ id: p.id, name: p.name, qty, price: Number(p.price), menuIdx: products.indexOf(p) + 1 }); }\n      else { unrecognized.push(line); }\n      continue;\n    }\n    const numOnly = line.match(/^(\\d+)$/);\n    if (numOnly) {\n      const num = parseInt(numOnly[1]);\n      if (num >= 1 && products && num <= products.length) {\n        const p = products[num - 1];\n        newItems.push({ id: p.id, name: p.name, qty: 1, price: Number(p.price), menuIdx: num });\n      } else { unrecognized.push(line); }\n    } else { unrecognized.push(line); }\n  }\n\n  if (newItems.length > 0) {\n    // Desduplicar: mesmo produto pedido várias vezes na mesma mensagem\n    const dedupedItems = [];\n    for (const item of newItems) {\n      const ex = dedupedItems.find(i => i.id === item.id);\n      if (ex) { ex.qty += item.qty; } else { dedupedItems.push({ ...item }); }\n    }\n    // Mergear com carrinho existente\n    const hadItemsBefore = newCart.items.length > 0;\n    for (const item of dedupedItems) {\n      const ex = newCart.items.find(i => i.id === item.id);\n      if (ex) { ex.qty += item.qty; } else { newCart.items.push(item); }\n    }\n    newState = 'ordering';\n    const added = dedupedItems.map(i => '• [' + (i.menuIdx || '') + '] ' + i.name + ' — R$ ' + fmtBRL(i.price) + ' × ' + i.qty + ' — R$ ' + fmtBRL(i.price * i.qty)).join('\\n');\n    const { lines: cartLines, total } = cartSummary(newCart.items);\n    let msg = '✅ *Adicionado:*\\n' + added;\n    if (hadItemsBefore) {\n      msg += '\\n\\n🛒 *Carrinho:*\\n' + cartLines.join('\\n') + '\\n*Total: R$ ' + fmtBRL(total) + '*';\n    } else {\n      msg += '\\n\\n*Total parcial: R$ ' + fmtBRL(total) + '*';\n    }\n    if (unrecognized.length > 0) msg += '\\n\\n⚠️ Não reconhecido: ' + unrecognized.join(', ');\n    msg += '\\n\\nDigite mais itens, *carrinho* para ver o resumo, *finalizar* para concluir ou *0* para voltar.';\n    respostas.push(msg);\n  } else if (currentState === 'start') {\n    respostas.push(msgWelcome); respostas.push(mainMenu());\n  } else {\n    respostas.push('Não entendi 😅\\n\\nDigite *menu* para ver as opções ou *2* para fazer um pedido.');\n  }\n}\n\nreturn [{ json: { tel, instancia, respostas, state: newState, cart: newCart, reservation_temp: newReservationTemp, save_order, order: finalOrder, save_reservation, reservation: finalReservation, save_customer_name, customer_name_to_save: customerNameToSave, save_marketing_opt_in, marketing_opt_in_value, kitchen_phone: config['kitchen_phone'] || '', create_chatwoot_conversation, chatwoot_customer_name: chatwootCustomerName } }];"
      },
      "id": "rotear",
      "name": "Rotear e Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst msgData = $(\"Rotear e Responder\").first().json;\nconst { tel, respostas } = msgData;\nconst msgs = Array.isArray(respostas) ? respostas : [respostas];\n\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\nconst url = `https://graph.facebook.com/${version}/${phoneId}/messages`;\nconst headers = { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` };\n\nconst buildPayload = (to, msg) => {\n  if (typeof msg === 'string') {\n    return { messaging_product: 'whatsapp', to, type: 'text', text: { body: msg } };\n  }\n  if (msg.type === 'buttons') {\n    return {\n      messaging_product: 'whatsapp', to, type: 'interactive',\n      interactive: {\n        type: 'button', body: { text: msg.body },\n        action: { buttons: msg.buttons.slice(0,3).map(b => ({ type: 'reply', reply: { id: String(b.id), title: String(b.title).slice(0,20) } })) }\n      }\n    };\n  }\n  if (msg.type === 'list') {\n    return {\n      messaging_product: 'whatsapp', to, type: 'interactive',\n      interactive: {\n        type: 'list', body: { text: msg.body },\n        action: { button: msg.button || 'Ver opções', sections: msg.sections }\n      }\n    };\n  }\n  if (msg.type === 'location') {\n    return { messaging_product: 'whatsapp', to, type: 'location', location: { latitude: msg.latitude, longitude: msg.longitude, name: msg.name || '', address: msg.address || '' } };\n  }\n  return { messaging_product: 'whatsapp', to, type: 'text', text: { body: String(msg) } };\n};\n\nconst sent = [];\nfor (let i = 0; i < msgs.length; i++) {\n  try {\n    await this.helpers.httpRequest({ method: 'POST', url, headers, body: JSON.stringify(buildPayload(tel, msgs[i])) });\n    sent.push(true);\n  } catch(e) { sent.push({ error: e.message }); }\n  if (i < msgs.length - 1) await new Promise(r => setTimeout(r, 800));\n}\nreturn [{ json: { ok: sent.every(s => s === true), tel, count: msgs.length, sent } }];\n"
      },
      "id": "enviar",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, state, cart, reservation_temp, last_activity_at)\nVALUES (\n  '{{ $json.tel }}',\n  '{{ $json.state }}',\n  $cart${{ JSON.stringify($json.cart) }}$cart$::jsonb,\n  $rt${{ JSON.stringify($json.reservation_temp || {}) }}$rt$::jsonb,\n  now()\n)\nON CONFLICT (phone) DO UPDATE SET\n  state = EXCLUDED.state,\n  cart = EXCLUDED.cart,\n  reservation_temp = EXCLUDED.reservation_temp,\n  last_activity_at = EXCLUDED.last_activity_at,\n  updated_at = now()",
        "options": {}
      },
      "id": "salvar_sessao",
      "name": "Salvar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_order) return [];\nreturn [{ json: {\n  code: data.order.code,\n  tel: data.tel,\n  items: data.order.items,\n  subtotal: data.order.subtotal,\n  delivery_fee: data.order.delivery_fee,\n  total: data.order.total,\n  order_type: data.order.order_type,\n  address: data.order.address || '',\n  maps_link: data.order.maps_link || '',\n  payment_method: data.order.payment_method,\n  change_for: data.order.change_for,\n  split_count: data.order.split_count || 0,\n  split_payments: data.order.split_payments || null\n} }];"
      },
      "id": "filtrar_pedido",
      "name": "Filtrar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (\n  INSERT INTO customers (phone)\n  VALUES ('{{ $json.tel }}')\n  ON CONFLICT (phone) DO UPDATE SET\n    last_session_at = now(),\n    first_session_at = COALESCE(customers.first_session_at, now()),\n    total_sessions = customers.total_sessions + 1,\n    updated_at = now()\n  RETURNING phone\n)\nINSERT INTO orders (code, customer_phone, items, subtotal, delivery_fee, total, order_type, address, payment_method, change_for, split_count, split_payments, status)\nSELECT\n  '{{ $json.code }}',\n  c.phone,\n  $items${{ JSON.stringify($json.items) }}$items$::jsonb,\n  {{ $json.subtotal }},\n  {{ $json.delivery_fee }},\n  {{ $json.total }},\n  '{{ $json.order_type }}',\n  $addr${{ JSON.stringify({ street: $json.address || '', maps_link: $json.maps_link || '' }) }}$addr$::jsonb,\n  '{{ $json.payment_method }}',\n  {{ $json.change_for != null ? $json.change_for : 'NULL' }},\n  {{ $json.split_count || 0 }},\n  $sp${{ $json.split_payments ? JSON.stringify($json.split_payments) : 'null' }}$sp$::jsonb,\n  'received'\nFROM c\nRETURNING id, code",
        "options": {}
      },
      "id": "salvar_pedido",
      "name": "Salvar Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_reserva",
      "name": "Filtrar Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        700
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_reservation) return [];\nreturn [{ json: {\n  tel: data.tel,\n  date: data.reservation.date,\n  time: data.reservation.time,\n  party_size: data.reservation.party_size,\n  table_id: data.reservation.table_id\n} }];"
      }
    },
    {
      "id": "salvar_reserva",
      "name": "Salvar Reserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (\n  INSERT INTO customers (phone)\n  VALUES ('{{ $json.tel }}')\n  ON CONFLICT (phone) DO UPDATE SET\n    last_session_at = now(),\n    first_session_at = COALESCE(customers.first_session_at, now()),\n    updated_at = now()\n  RETURNING phone\n)\nINSERT INTO reservations (code, customer_phone, table_id, date, time, party_size, status)\nSELECT\n  'RES-' || to_char(now(), 'YYYYMMDDHH24MI') || '-' || RIGHT('{{ $json.tel }}', 4),\n  c.phone,\n  {{ $json.table_id }},\n  '{{ $json.date }}'::date,\n  '{{ $json.time }}'::time,\n  {{ $json.party_size }},\n  'pending'\nFROM c\nRETURNING id, code",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_nome",
      "name": "Filtrar Nome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        900
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_customer_name || !data.customer_name_to_save) return [];\nreturn [{ json: { tel: data.tel, customer_name: data.customer_name_to_save } }];"
      }
    },
    {
      "id": "atualizar_nome",
      "name": "Atualizar Nome Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        900
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (phone, name)\nVALUES ('{{ $json.tel }}', '{{ $json.customer_name }}')\nON CONFLICT (phone) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = now()",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_cozinha",
      "name": "Filtrar Cozinha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1100
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_order || !data.kitchen_phone) return [];\nconst order = data.order || {};\nconst itemLines = (order.items || []).map(i => '• ' + i.name + ' × ' + i.qty).join('\\n');\nconst addrLine = order.order_type === 'delivery' ? '\\n📍 ' + (order.address || '') : (order.order_type === 'mesa' ? '\\n🍽️ Pedido na mesa' : '\\n📤 Retirada no local');\nconst changeInfo = order.change_for ? '\\n💵 Troco para R$ ' + Number(order.change_for).toFixed(2) : '';\nconst msg = '🔔 *Novo Pedido!*\\n\\n📋 Código: *' + (order.code || '') + '*\\n👤 Cliente: ' + (data.customer_name ? data.customer_name + ' (' + data.tel + ')' : data.tel) + '\\n\\n' + itemLines + '\\n\\n*Subtotal: R$ ' + Number(order.subtotal).toFixed(2) + '*' + (order.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + Number(order.delivery_fee).toFixed(2) : '') + '\\n*Total: R$ ' + Number(order.total).toFixed(2) + '*' + addrLine + '\\n💳 ' + (order.payment_method || '') + changeInfo;\nreturn [{ json: { instancia: data.instancia, number: data.kitchen_phone, text: msg } }];"
      }
    },
    {
      "id": "notificar_cozinha",
      "name": "Notificar Cozinha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1100
      ],
      "parameters": {
        "jsCode": "\nconst { number, text } = $json;\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/${version}/${phoneId}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: number, type: 'text', text: { body: text } })\n  });\n} catch(e) {}\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "filtrar_marketing",
      "name": "Filtrar Marketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1300
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_marketing_opt_in || data.marketing_opt_in_value === null || data.marketing_opt_in_value === undefined) return [];\nreturn [{ json: { tel: data.tel, marketing_opt_in: data.marketing_opt_in_value } }];"
      }
    },
    {
      "id": "salvar_marketing",
      "name": "Salvar Preferência Marketing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        1300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (phone, marketing_opt_in)\nVALUES ('{{ $json.tel }}', {{ $json.marketing_opt_in }})\nON CONFLICT (phone) DO UPDATE SET\n  marketing_opt_in = EXCLUDED.marketing_opt_in,\n  updated_at = now()",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_chatwoot",
      "name": "Filtrar Chatwoot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1500
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.create_chatwoot_conversation) return [];\nreturn [{ json: {\n  tel: data.tel,\n  customer_name: data.chatwoot_customer_name || 'cliente'\n} }];"
      }
    },
    {
      "id": "criar_conversa_chatwoot",
      "name": "Criar Conversa Chatwoot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1500
      ],
      "parameters": {
        "jsCode": "const { tel, instancia, customer_name } = $json;\nconst config = $('Buscar Dados').first().json.config || {};\n\nconst chatwootUrl = (config['chatwoot_url'] || 'http://chatwoot:3000').replace(/\\/$/, '');\nconst accountId  = config['chatwoot_account_id']  || '';\nconst apiToken   = config['chatwoot_api_token']   || '';\nconst inboxId    = config['chatwoot_inbox_id']    || '';\nconst agentPhone = config['agent_phone']          || '';\n\nconst chatwootPublicUrl = (config['chatwoot_public_url'] || chatwootUrl).replace(/\\/$/, '');\n\nif (!accountId || !apiToken || !inboxId) {\n  console.log('[chatwoot] Configuração incompleta — verifique chatwoot_account_id, chatwoot_api_token, chatwoot_inbox_id nas settings');\n  return [{ json: { ok: false, skip: true, instancia, agentPhone, tel, customer_name } }];\n}\n\n// Step 1: Search for existing contact\nlet contactId;\ntry {\n  const phoneSearch = tel.replace(/\\D/g, '');\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${chatwootUrl}/api/v1/accounts/${accountId}/contacts/search?q=%2B${phoneSearch}&include_contacts=true`,\n    headers: { 'api_access_token': apiToken }\n  });\n  const contacts = (res.payload || []);\n  if (contacts.length > 0) {\n    contactId = contacts[0].id;\n    console.log('[chatwoot] Contato existente encontrado:', contactId);\n  }\n} catch(e) {\n  console.log('[chatwoot] Erro ao buscar contato:', e.message);\n}\n\n// Step 2: Create contact if not found\nif (!contactId) {\n  try {\n    const phoneE164 = '+' + tel.replace(/\\D/g, '');\n    const body = { name: customer_name || 'cliente', phone_number: phoneE164 };\n    const created = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${chatwootUrl}/api/v1/accounts/${accountId}/contacts`,\n      headers: { 'Content-Type': 'application/json', 'api_access_token': apiToken },\n      body: JSON.stringify(body)\n    });\n    contactId = created.id;\n    console.log('[chatwoot] Novo contato criado:', contactId);\n  } catch(e) {\n    console.log('[chatwoot] Erro ao criar contato:', e.message);\n    return [{ json: { ok: false, error: e.message, instancia, agentPhone, tel, customer_name } }];\n  }\n}\n\n// Step 3: Create conversation\nlet conversationId, conversationUrl;\ntry {\n  const convRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${chatwootUrl}/api/v1/accounts/${accountId}/conversations`,\n    headers: { 'Content-Type': 'application/json', 'api_access_token': apiToken },\n    body: JSON.stringify({ contact_id: contactId, inbox_id: parseInt(inboxId, 10) })\n  });\n  conversationId = convRes.id;\n  conversationUrl = `${chatwootPublicUrl}/app/accounts/${accountId}/conversations/${conversationId}`;\n  console.log('[chatwoot] Conversa criada:', conversationId);\n} catch(e) {\n  console.log('[chatwoot] Erro ao criar conversa:', e.message);\n  return [{ json: { ok: false, error: e.message, instancia, agentPhone, tel, customer_name } }];\n}\n\nreturn [{ json: { ok: true, instancia, agentPhone, conversationId, conversationUrl, customer_name, tel } }];"
      }
    },
    {
      "id": "notificar_agente",
      "name": "Notificar Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1500
      ],
      "parameters": {
        "jsCode": "\nconst { ok, skip, agentPhone, conversationUrl, customer_name, tel } = $json;\nif (!agentPhone) return [{ json: { done: true } }];\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\nconst text = '🔔 *Nova solicitação de atendimento!*\\n\\n'\n  + '👤 Cliente: ' + (customer_name || 'desconhecido') + '\\n'\n  + '📱 Telefone: +' + tel.replace(/\\D/g, '') + '\\n\\n'\n  + (conversationUrl ? '🔗 *Abrir conversa no Chatwoot:*\\n' + conversationUrl\n    : '⚠️ Atenda diretamente: wa.me/' + tel.replace(/\\D/g, ''));\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/${version}/${phoneId}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: agentPhone, type: 'text', text: { body: text } })\n  });\n} catch(e) {}\nreturn [{ json: { done: true } }];\n"
      }
    },
    {
      "id": "webhook-meta-get",
      "name": "Meta Verificação GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "webhookId": "whatsapp-meta-get",
      "parameters": {
        "httpMethod": "GET",
        "path": "routing",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "respond-meta-hub",
      "name": "Responder hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "Calcular Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Hora": {
      "main": [
        [
          {
            "node": "Buscar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados": {
      "main": [
        [
          {
            "node": "Rotear e Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear e Responder": {
      "main": [
        [
          {
            "node": "Salvar Sessão",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Pedido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Reserva",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Cozinha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Marketing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessão": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Pedido": {
      "main": [
        [
          {
            "node": "Salvar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Reserva": {
      "main": [
        [
          {
            "node": "Salvar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nome": {
      "main": [
        [
          {
            "node": "Atualizar Nome Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Cozinha": {
      "main": [
        [
          {
            "node": "Notificar Cozinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Marketing": {
      "main": [
        [
          {
            "node": "Salvar Preferência Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Chatwoot": {
      "main": [
        [
          {
            "node": "Criar Conversa Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conversa Chatwoot": {
      "main": [
        [
          {
            "node": "Notificar Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Verificação GET": {
      "main": [
        [
          {
            "node": "Responder hub.challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "IU7n7EUl1pusIq8e",
  "settings": {
    "executionOrder": "v1"
  }
}