n8n/workflows/01-receber-mensagem.json
{
  "name": "01 - Receber e Rotear Mensagem",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "routing",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Input from 01-whatsapp-receiver via webhook (body-wrapped) or direct\nconst raw = $json.body || $json;\n\n// Detect source: if has entry[] it's direct Meta webhook, otherwise it's pre-extracted\nlet tel, texto, push_name, location_lat = null, location_lng = null;\n\nif (raw.entry) {\n  // Direct Meta webhook format\n  const value = raw.entry?.[0]?.changes?.[0]?.value;\n  const message = value?.messages?.[0];\n  if (!message) return [];\n  tel = message.from || '';\n  push_name = value?.contacts?.[0]?.profile?.name || '';\n  if (message.type === 'text') {\n    texto = (message.text?.body || '').trim();\n  } else if (message.type === 'interactive') {\n    const ia = message.interactive;\n    texto = ia?.button_reply?.id || ia?.list_reply?.id || '';\n  } else if (message.type === 'location') {\n    location_lat = message.location?.latitude;\n    location_lng = message.location?.longitude;\n    texto = '__location__';\n  }\n} else {\n  // Pre-extracted from 01-whatsapp-receiver\n  tel = raw.tel || raw.from || '';\n  texto = (raw.texto || raw.text || '').trim();\n  push_name = raw.push_name || '';\n  location_lat = raw.location_lat || null;\n  location_lng = raw.location_lng || null;\n}\n\nif (!tel) return [];\nif (!texto && !location_lat) return [];\n\nreturn [{ json: { tel, texto: texto.toLowerCase(), push_name, location_lat, location_lng, instancia: 'meta' } }];\n"
      },
      "id": "extrair",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst optsTime = { timeZone: 'America/Sao_Paulo', hour: '2-digit', minute: '2-digit', hour12: false };\nconst horaAtual = now.toLocaleTimeString('pt-BR', optsTime).substring(0, 5);\nconst diaBR = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dias = ['dom', 'seg', 'ter', 'qua', 'qui', 'sex', 'sab'];\nconst diaSemana = dias[diaBR.getDay()];\n\nreturn [{ json: { ...$json, horaAtual, diaSemana } }];"
      },
      "id": "hora_atual",
      "name": "Calcular Hora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT json_object_agg(key, value) FROM settings WHERE deleted_at IS NULL) AS config,\n  (SELECT json_agg(json_build_object(\n    'id', p.id, 'name', p.name, 'price', p.price,\n    'category', c.name, 'emoji', c.emoji\n  ) ORDER BY c.sort_order, p.id)\n  FROM products p\n  JOIN categories c ON c.id = p.category_id\n  WHERE p.available = true AND c.active = true AND p.deleted_at IS NULL) AS products,\n  (SELECT row_to_json(s)::jsonb FROM sessions s WHERE s.phone = '{{ $('Calcular Hora').first().json.tel }}') AS session,\n  (SELECT json_build_object(\n    'code', o.code, 'items', o.items, 'total', o.total,\n    'status', o.status, 'order_type', o.order_type,\n    'payment_method', o.payment_method, 'created_at', o.created_at\n  ) FROM orders o\n  WHERE o.customer_phone = '{{ $('Calcular Hora').first().json.tel }}'\n    AND o.deleted_at IS NULL\n  ORDER BY o.created_at DESC LIMIT 1) AS last_order,\n  (SELECT json_agg(json_build_object(\n    'id', pt.id, 'name', pt.name, 'type', pt.type, 'label', pt.label, 'config', pt.config\n  ) ORDER BY pt.id)\n  FROM payment_types pt WHERE pt.active = true AND pt.deleted_at IS NULL) AS payment_types,\n  (SELECT json_agg(json_build_object(\n    'id', ot.id, 'name', ot.name, 'type', ot.type, 'label', ot.label, 'config', ot.config\n  ) ORDER BY ot.id)\n  FROM order_types ot WHERE ot.active = true AND ot.deleted_at IS NULL) AS order_types  ,\n  (SELECT json_agg(json_build_object('id', tb.id, 'number', tb.number, 'capacity', tb.capacity) ORDER BY tb.number)\n  FROM tables tb WHERE tb.active = true AND tb.deleted_at IS NULL) AS restaurant_tables,\n  (SELECT json_agg(json_build_object('date', r.date::text, 'time', r.time::text, 'table_id', r.table_id))\n  FROM reservations r\n  WHERE r.date >= CURRENT_DATE AND r.status IN ('pending','confirmed') AND r.deleted_at IS NULL) AS upcoming_reservations,\n  (SELECT json_build_object(\n    'id', dfr.id, 'mode', dfr.mode, 'base_fee', dfr.base_fee,\n    'per_km_rate', dfr.per_km_rate, 'per_min_rate', dfr.per_min_rate,\n    'free_above', dfr.free_above, 'max_radius_km', dfr.max_radius_km,\n    'zones', COALESCE((\n      SELECT json_agg(json_build_object(\n        'type', z.zone_type, 'min', z.min_value, 'max', z.max_value,\n        'fee', z.fee, 'label', z.label\n      ) ORDER BY z.zone_type, z.min_value)\n      FROM delivery_fee_zones z\n      WHERE z.delivery_fee_rule_id = dfr.id AND z.active = true AND z.deleted_at IS NULL\n    ), '[]'::json)\n  )\n  FROM delivery_fee_rules dfr\n  JOIN order_types ot ON ot.id = dfr.order_type_id\n  WHERE ot.name = 'delivery' AND dfr.active = true AND dfr.deleted_at IS NULL\n  ORDER BY dfr.id LIMIT 1) AS delivery_fee_rule\n,\n  (SELECT c.name FROM customers c WHERE c.phone = '{{ $('Calcular Hora').first().json.tel }}' AND c.deleted_at IS NULL) AS customer_name,\n  (SELECT c.marketing_opt_in FROM customers c WHERE c.phone = '{{ $('Calcular Hora').first().json.tel }}' AND c.deleted_at IS NULL) AS marketing_opt_in,\n  (SELECT json_agg(json_build_object(\n    'code', o.code, 'total', o.total, 'status', o.status,\n    'order_type', o.order_type, 'payment_method', o.payment_method,\n    'items_count', jsonb_array_length(o.items),\n    'created_at', to_char(o.created_at AT TIME ZONE 'America/Sao_Paulo', 'DD/MM HH24:MI')\n  ) ORDER BY o.created_at DESC)\n  FROM (SELECT * FROM orders o2 WHERE o2.customer_phone = '{{ $('Calcular Hora').first().json.tel }}' AND o2.deleted_at IS NULL ORDER BY o2.created_at DESC LIMIT 5) o) AS recent_orders",
        "options": {}
      },
      "id": "buscar_dados",
      "name": "Buscar Dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 'this' context é injetado pelo n8n — usar (this as any).helpers.httpRequest(...)\n\n\n\n\n\n\n\n\n\n\n// Tipagens de parâmetros e resultados das funções helper\n\n\n// Interfaces para objetos de domínio vindos do banco/n8n\n\n\n// BotState — todos os estados possíveis da máquina de estado\nvar BotState;\n(function (BotState) {\n    BotState[\"START\"] = \"start\";\n    BotState[\"ORDERING\"] = \"ordering\";\n    BotState[\"ORDERING_CAT\"] = \"ordering_cat\";\n    BotState[\"BROWSING_CATEGORIES\"] = \"browsing_categories\";\n    BotState[\"ORDERING_ITEMS\"] = \"ordering_items\";\n    BotState[\"BROWSING_ITEMS\"] = \"browsing_items\";\n    BotState[\"AWAITING_QTY\"] = \"awaiting_qty\";\n    BotState[\"AWAITING_MORE\"] = \"awaiting_more\";\n    BotState[\"CONFIRMING\"] = \"confirming\";\n    BotState[\"AWAITING_TYPE\"] = \"awaiting_type\";\n    BotState[\"AWAITING_ADDRESS\"] = \"awaiting_address\";\n    BotState[\"AWAITING_ADDRESS_NUMBER\"] = \"awaiting_address_number\";\n    BotState[\"AWAITING_COMPLEMENT\"] = \"awaiting_complement\";\n    BotState[\"OFFER_PICKUP\"] = \"offer_pickup\";\n    BotState[\"AWAITING_PAYMENT\"] = \"awaiting_payment\";\n    BotState[\"AWAITING_CHANGE\"] = \"awaiting_change\";\n    BotState[\"AWAITING_SPLIT_COUNT\"] = \"awaiting_split_count\";\n    BotState[\"AWAITING_SPLIT_PAYMENT\"] = \"awaiting_split_payment\";\n    BotState[\"AWAITING_SPLIT_CHANGE\"] = \"awaiting_split_change\";\n    BotState[\"AWAITING_MIXED_METHOD\"] = \"awaiting_mixed_method\";\n    BotState[\"AWAITING_MIXED_AMOUNT\"] = \"awaiting_mixed_amount\";\n    BotState[\"AWAITING_MIXED_CHANGE\"] = \"awaiting_mixed_change\";\n    BotState[\"REPEAT_ORDER\"] = \"repeat_order\";\n    BotState[\"AWAITING_NAME\"] = \"awaiting_name\";\n    BotState[\"HUMAN_HANDOFF\"] = \"human_handoff\";\n    BotState[\"AWAITING_ORDER_DETAIL\"] = \"awaiting_order_detail\";\n    BotState[\"NOTIFICATIONS_MENU\"] = \"notifications_menu\";\n    BotState[\"AWAITING_MARKETING_OPT_IN\"] = \"awaiting_marketing_opt_in\";\n    BotState[\"RESERVING\"] = \"reserving\";\n    BotState[\"CONFIRMING_RESERVATION\"] = \"confirming_reservation\";\n})(BotState || (BotState = {}));\n// Estados onde o usuário digita INPUT livre (não atalhos de menu)\nconst ExpectingRawInputStates = [\n    BotState.ORDERING_CAT,\n    BotState.BROWSING_CATEGORIES,\n    BotState.ORDERING_ITEMS,\n    BotState.BROWSING_ITEMS,\n    BotState.AWAITING_QTY,\n    BotState.AWAITING_MORE,\n    BotState.ORDERING,\n    BotState.AWAITING_ADDRESS,\n    BotState.AWAITING_ADDRESS_NUMBER,\n    BotState.AWAITING_COMPLEMENT,\n    BotState.AWAITING_CHANGE,\n    BotState.AWAITING_SPLIT_COUNT,\n    BotState.AWAITING_SPLIT_CHANGE,\n    BotState.AWAITING_MIXED_AMOUNT,\n    BotState.AWAITING_MIXED_CHANGE,\n    BotState.AWAITING_NAME,\n    BotState.RESERVING,\n];\n\n\nconst CartConstants = {\n    EMPTY: () => ({\n        items: [],\n        order_type: '',\n        address: '',\n        complement: '',\n        delivery_fee: 0,\n        payment_method: '',\n        change_for: null,\n        split_count: 0,\n        split_current: 0,\n        split_payments: [],\n        mixed_method: '',\n        mixed_label: '',\n        mixed_amount: 0,\n        address_street_temp: null,\n        browse_category: '',\n        browse_page: 0,\n        pending_item_id: null,\n        pending_item_name: '',\n    }),\n};\n\n\nconst MessagesConstants = {\n    // Sessão / Sistema\n    SESSION_EXPIRED: '⏱️ _Sua sessão anterior expirou. Vamos começar do zero!_',\n    ATENDIMENTO_ENCERRADO: '✅ Atendimento encerrado. Até logo! 👋',\n    // Saudação / Nome\n    BOAS_VINDAS_NOME: (estName) => `Olá! 👋 Seja bem-vindo(a) ao *${estName}*!\\n\\nPara te atendermos melhor, qual é o seu *nome*?`,\n    NOME_INVALIDO_GENERICO: 'Hmm, não consegui identificar. 😊 Pode me informar seu *nome* (pelo menos o primeiro)?',\n    NOME_INVALIDO_PALAVRAO: 'Entendo que às vezes usamos apelidos entre amigos, mas para te atendermos melhor, qual é o seu *nome verdadeiro*?',\n    SAUDACAO_REPEAT: (customerName) => `🔄 Que saudade, *${customerName}*! Seu último pedido foi:`,\n    SAUDACAO_REPEAT_PERGUNTA: '🔄 Quer repetir esse pedido?',\n    SAUDACAO_APOS_NOME: (nameFormatted) => `Prazer, *${nameFormatted}*! 😊\\n\\n`,\n    // Carrinho\n    CARRINHO_VAZIO: '🛒 Seu carrinho está vazio.\\n\\nDigite *2* para fazer um pedido.',\n    CARRINHO_RESUMO_PREFIX: '🛒 *Seu carrinho:*\\n\\n',\n    CARRINHO_RESUMO_SUFFIX: '\\n\\nDigite mais itens, *finalizar* para concluir ou *0* para voltar ao menu.',\n    PEDIDO_REPETIDO: '✅ *Pedido repetido!*\\n\\n',\n    PEDIDO_REPETIDO_SUFFIX: '\\n\\nDigite mais itens, *carrinho* para ver o resumo, *finalizar* para concluir ou *0* para voltar.',\n    PEDIDO_REPETIDO_NAO_ENCONTRADO: 'Não encontrei seu último pedido. Digite *2* para montar um novo 🛒',\n    REPEAT_ORDER_PROMPT: '🔄 Quer repetir seu último pedido?',\n    REPEAT_ORDER_RECUSA: 'Tudo bem! 😊 Como posso te ajudar?',\n    VALOR_MINIMO: (minOrder, total) => `⚠️ Valor mínimo do pedido: *R$ ${minOrder}*\\n\\nSeu carrinho: R$ ${total}\\n\\nAdicione mais itens para finalizar 🛒`,\n    CONFIRMAR_PEDIDO: (linhas, total) => `📋 *Resumo do pedido:*\\n\\n${linhas}\\n\\n*Total: R$ ${total}*\\n\\nConfirma o pedido?`,\n    // Entrega / Endereço\n    SOLICITAR_ENDERECO: '📍 *Qual é o seu endereço de entrega?*\\n\\nEx: _Rua das Flores, 123, Centro, Cidade, SP_\\nOu informe o *CEP* (ex: _14403-772_)\\nOu compartilhe sua 📍 *localização* pelo WhatsApp',\n    CEP_ENCONTRADO: (cep, rua) => `📮 CEP *${cep}* encontrado:\\n_${rua}_\\n\\nQual o *número* do imóvel?\\n\\nEx: _123_\\nOu _s/n_ se não tiver número`,\n    ENDERECO_ENCONTRADO: (endereco, etaLine) => `📍 *Endereço encontrado:*\\n_${endereco}_${etaLine}\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.`,\n    ENDERECO_CONFIRMADO: (endereco, etaLine) => `📍 *Endereço confirmado:*\\n_${endereco}_${etaLine}\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.`,\n    ENDERECO_CONFIRMADO_CEP: (endereco, mapsLink, taxaMsg) => `📍 *Endereço confirmado:*\\n_${endereco}_\\n🗺️ ${mapsLink}\\n${taxaMsg}\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.`,\n    LOCALIZACAO_RECEBIDA: (endereco, etaLine) => `📍 *Localização recebida!*\\n_${endereco}_${etaLine}\\n\\nAdicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.`,\n    ENDERECO_NAO_ENCONTRADO: (hint) => `⚠️ Não consegui localizar esse endereço.${hint}`,\n    ENDERECO_HINT: (estCity) => `\\n\\nEx: _Rua das Flores, 123${estCity ? ', ' + estCity : ''}_\\nOu informe o *CEP* (ex: _14403-772_)\\nOu compartilhe sua 📍 *localização* pelo WhatsApp`,\n    ENDERECO_HINT_CEP: (cepNum, endereco) => `\\n\\nCEP *${cepNum}* encontrado:\\n_${endereco}_\\n\\nInforme também o número do imóvel.`,\n    ENDERECO_FORA_AREA: (maxKm) => `😞 Seu endereço está fora da nossa área de entrega (máx. ${maxKm} km).\\n\\nPodemos oferecer retirada no local. Deseja?`,\n    ENDERECO_INVALIDO_RETRY: (estCity) => `⚠️ Não encontrei os dados do endereço. Por favor informe novamente:\\n\\nEx: _Rua das Flores, 123${estCity ? ', ' + estCity : ''}_\\nOu compartilhe sua 📍 *localização*`,\n    OUTRO_ENDERECO: (estCity) => `📍 *Informe outro endereço:*\\n\\nEx: _Rua das Flores, 123, Centro, ${estCity || 'Cidade, SP'}_\\nOu informe o *CEP*.`,\n    ETA_LINE: (taxa, minutos, km) => `\\n🛵 ${taxa} · ~${fmtDuration(minutos)} (${km} km)`,\n    ETA_LINE_GRATIS: (minutos, km) => `\\n🛵 🎉 *Frete GRÁTIS!* · ~${fmtDuration(minutos)} (${km} km)`,\n    TAXA_ENTREGA: (taxa) => `🛵 Taxa de entrega: R$ ${taxa}`,\n    FRETE_GRATIS: '🎉 *Frete GRÁTIS!*',\n    TIPO_CONFIRMADO: (label) => `✅ *${label} confirmada!*`,\n    RETIRADA_CONFIRMADA: '✅ *Retirada no local!*',\n    SOLICITAR_TIPO_PEDIDO: 'Como deseja receber seu pedido?',\n    SOLICITAR_COMPLEMENTO_PROMPT: 'Adicione o complemento (ex: _Apto 42, Bloco B_) ou *ok* para confirmar.',\n    // Pagamento\n    SOLICITAR_PAGAMENTO: '💳 *Como vai pagar?*',\n    PAGAMENTO_DINHEIRO: (total) => `💵 *Pagamento em dinheiro!*\\n\\nTotal a pagar: *R$ ${total}*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.`,\n    TROCO_INVALIDO: (minimo) => `⚠️ Informe um valor maior que R$ ${minimo} ou digite *não* se não precisar de troco.`,\n    DIVIDIR_CONTA: '👥 *Dividir a conta*\\n\\nQuantas pessoas vão dividir?\\n\\nEx: _4_',\n    DIVIDIR_INVALIDO: '⚠️ Informe um número válido de pessoas (2 a 30):\\n\\nEx: _4_',\n    DIVIDIR_PESSOA: (quantidade, valorPessoa, pessoaAtual) => `👥 *${quantidade} pessoas — R$ ${valorPessoa}/pessoa*\\n\\n*Pessoa ${pessoaAtual} de ${quantidade}:*\\nComo vai pagar?\\n\\n`,\n    DIVIDIR_PROXIMO: (pessoaAtual, total) => `*Pessoa ${pessoaAtual} de ${total}:* Como vai pagar?\\n\\n`,\n    DIVIDIR_TROCO: (pessoaAtual, valorPessoa) => `💵 *Dinheiro — Pessoa ${pessoaAtual}*\\n\\nValor: *R$ ${valorPessoa}*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.`,\n    DIVIDIR_TROCO_INVALIDO: (minimo) => `⚠️ O valor deve ser maior que R$ ${minimo}.\\n\\nInforme o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_) ou *não* para sem troco:`,\n    MISTO_ESCOLHER_METODO: (opcoes) => `💰 *Pagamento misto*\\n\\nEscolha a forma além do dinheiro:\\n\\n${opcoes}\\n\\nDigite o número.`,\n    MISTO_VALOR: (total, label) => `💰 *Pagamento misto*\\n\\nTotal: *R$ ${total}*\\n\\nQual valor em *${label}*?\\n(O restante será em dinheiro)\\n\\nEx: _30_`,\n    MISTO_VALOR_INVALIDO: (label) => `⚠️ Valor inválido. Informe o valor em *${label}*:\\n\\nEx: _30_`,\n    MISTO_VALOR_EXCEDE: (label, valorInformado, totalPedido) => `⚠️ O valor em ${label} (R$ ${valorInformado}) é maior ou igual ao total (R$ ${totalPedido}).\\n\\nInforme um valor menor:`,\n    MISTO_PARTE_DINHEIRO: (cashPart) => `💵 *Parte em dinheiro: R$ ${cashPart}*\\n\\nVai precisar de troco? Se sim, informe o valor da nota (ex: _500_) ou o troco desejado (ex: _34,50 troco_). Se não, digite *não*.`,\n    SEM_FORMAS_MISTO: '⚠️ Não há formas de pagamento além do dinheiro cadastradas.',\n    OPCAO_INVALIDA: 'Opção inválida.',\n    DIGITAR_NUMERO: '\\n\\nDigite o número.',\n    // Confirmação de pedido\n    PEDIDO_CONFIRMADO_PREFIX: '✅ *Pedido confirmado!*\\n\\n',\n    PEDIDO_CODIGO: (codigo) => `\\n\\n🔖 *Código do pedido: ${codigo}*\\n\\nSeu pedido foi recebido e logo estará sendo preparado! 🎉`,\n    ENTREGA_LABEL: (endereco, mapsLine) => `🚀 *Entregar*\\n📍 ${endereco}${mapsLine}`,\n    MAPS_LINE: (endereco) => `\\n🗺️ https://maps.google.com/?q=${encodeURIComponent(endereco)}`,\n    SUBTOTAL_LINE: (subtotal) => `*Subtotal: R$ ${subtotal}*`,\n    TOTAL_LINE: (total) => `*Total: R$ ${total}*`,\n    ENTREGA_LINE: (taxa) => `\\n🛵 Entrega: R$ ${taxa}`,\n    FRETE_LINE: '\\n🎉 Frete grátis!',\n    DIVISAO_HEADER: (quantidade, valorPessoa) => `\\n\\n👥 *Divisão — ${quantidade} pessoas (R$ ${valorPessoa}/pessoa):*\\n`,\n    SPLIT_PERSON_LINE: (pessoa, label, troco) => `• Pessoa ${pessoa}: ${label}${troco ? ' _(troco p/ R$ ' + troco + ')_' : ''}`,\n    SPLIT_LINE: (quantidade, valorPessoa) => `\\n👥 ${quantidade} pessoas — *R$ ${valorPessoa} por pessoa*`,\n    PAGAMENTO_LINE: (label, emoji) => `\\n${emoji || '💳'} *Pagamento:* ${label}`,\n    TROCO_LINE: (valor) => `\\n💵 Troco para: R$ ${valor}`,\n    PIX_INFO: (chave, nome) => `\\n\\n💳 *Chave PIX:* ${chave}${nome ? '\\n👤 ' + nome : ''}`,\n    // Reservas\n    RESERVA_SOLICITAR: '📅 *Reserva de Mesa*\\n\\nInforme data, horário e número de pessoas:\\n\\nEx: _Sábado às 20h para 4 pessoas_\\nOu: _12/06 às 20h, 4 pessoas_',\n    RESERVA_FALTANDO: (faltando) => `⚠️ Faltou informar: ${faltando}.\\n\\nEx: _Sábado às 20h para 4 pessoas_\\nOu: _12/06 às 20h, 4 pessoas_`,\n    RESERVA_SEM_MESA: (pessoas, data, hora) => `😞 Não há mesa disponível para *${pessoas} pessoas* em *${data}* às *${hora}*.\\n\\nEscolha outra data ou horário:`,\n    RESERVA_RESUMO: (data, hora, pessoas, mesa) => `📅 *Resumo da reserva:*\\n\\n📆 Data: *${data}*\\n🕗 Horário: *${hora}*\\n👥 Pessoas: *${pessoas}*\\n🪑 Mesa: *${mesa}*\\n\\nConfirma a reserva?`,\n    RESERVA_CONFIRMADA: (data, hora, pessoas, mesa, addrLine) => `✅ *Reserva confirmada!*\\n\\n📆 ${data} às ${hora}\\n👥 ${pessoas} pessoas\\n🪑 Mesa ${mesa}${addrLine}\\n\\nTe esperamos! 🌸`,\n    RESERVA_ADDR_LINE: (endereco, mapsLink) => `\\n\\n📍 *Localização:* ${endereco}${mapsLink}`,\n    RESERVA_MAPS_LINE: (endereco) => `\\n🗺️ https://maps.google.com/?q=${encodeURIComponent(endereco)}`,\n    RESERVA_CANCELADA: 'Reserva cancelada. ',\n    RESERVA_DADOS_INVALIDOS: '⚠️ Não encontrei os dados da reserva. Digite *3* para tentar novamente.',\n    // Atendente / Misc\n    CONECTANDO_ATENDENTE: '👤 *Conectando com um atendente...*\\n\\nEm instantes alguém da nossa equipe irá te atender. Aguarde! 🌸',\n    EM_ATENDIMENTO_HUMANO: '⏳ Você está em atendimento com nossa equipe.\\n\\nAguarde a resposta do atendente.\\n\\n_Digite *sair* para reiniciar o atendimento automático._',\n    VOLTAR_MENU: '🔙 Voltando ao menu principal...\\n\\n',\n    // Meu Pedido\n    SEM_PEDIDOS: '📦 Você ainda não fez nenhum pedido.\\n\\nDigite *2* para fazer seu primeiro pedido! 🛒',\n    PEDIDOS_HEADER: '📦 *Seus últimos pedidos:*\\n\\n',\n    PEDIDOS_FOOTER: '_Para detalhes de um pedido, digite o código (ex: SK-001)._',\n    PEDIDO_DETALHE_TIPO_DELIVERY: '🚗 Delivery',\n    PEDIDO_DETALHE_TIPO_RETIRADA: '🏃 Retirada',\n    PEDIDO_DETALHE_TIPO_MESA: '🪑 Mesa',\n    PEDIDO_DETALHE_HEADER: (codigo) => `📦 *Pedido #${codigo}*\\n\\n`,\n    PEDIDO_DETALHE_FOOTER: 'Digite outro código para consultar ou *0* para voltar ao menu.',\n    PEDIDO_CODIGO_NAO_ENCONTRADO: (codigo) => `❌ Código *${codigo}* não encontrado.\\n\\nTente novamente ou digite *0* para voltar.`,\n    // Notificações / Marketing\n    NOTIF_ATIVADAS: '🔔 *Notificações ativadas!*\\n\\nVocê receberá promoções e novidades. Para desativar, acesse *Notificações* no menu.\\n\\n',\n    NOTIF_DESATIVADAS: '🔕 *Notificações desativadas.*\\n\\nVocê não receberá mais promoções. Para reativar, acesse *Notificações* no menu.\\n\\n',\n    NOTIF_MENU_PROMPT: 'Digite *ativar* para receber notificações, *desativar* para parar, ou *0* para voltar.',\n    NOTIF_ATIVAS_INFO: '📣 *Notificações:* Ativas ✅\\n\\nVocê recebe nossas promoções e novidades.\\n\\nDigite *desativar notificações* para parar de receber.',\n    NOTIF_INATIVAS_INFO: '📣 *Notificações:* Desativadas ❌\\n\\nVocê não está recebendo promoções.\\n\\nDigite *ativar notificações* para voltar a receber.',\n    NOTIF_NAO_CONFIGURADAS: '📣 *Notificações:* Não configuradas\\n\\nDeseja receber promoções e novidades?\\n\\nDigite *ativar notificações* para receber ou *não* para não receber.',\n    NOTIF_DESATIVADAS_OK: '✅ Notificações desativadas.\\n\\nNão enviaremos promoções para você.\\n\\nDigite *ativar notificações* a qualquer momento para reativar.',\n    NOTIF_ATIVADAS_OK: '✅ Notificações ativadas! 🎉\\n\\nVocê receberá nossas promoções e novidades.',\n    OPT_IN_PERGUNTA: '📣 *Posso te enviar promoções e novidades?*',\n    OPT_IN_SIM: '✅ Ótimo! Você receberá nossas promoções e novidades. 🎉\\n\\nDigite *notificações* a qualquer momento para gerenciar.',\n    OPT_IN_NAO: 'Tudo bem! Não enviaremos promoções. 😊\\n\\nDigite *ativar notificações* se mudar de ideia.',\n    OPT_IN_REPROMPT: 'Responda *sim* para receber promoções ou *não* para não receber:',\n    // Ordering\n    CARDAPIO_INDISPONIVEL: 'Cardápio temporariamente indisponível.',\n    ITEM_ADICIONADO: (nome, qty) => `✅ *${nome}* × ${qty} adicionado!`,\n    TOTAL_PARCIAL: (total) => `\\n\\n🛒 Total parcial: R$ ${total}`,\n    ADICIONAR_MAIS_PERGUNTA: 'Deseja adicionar mais itens?',\n    ORDEM_MINIMO_ADDMORE: (minimo, total) => `⚠️ Valor mínimo: *R$ ${minimo}*\\n\\nTotal atual: R$ ${total}`,\n    QTD_SOLICITAR: '✏️ *Quantas unidades?* Digite o número:',\n    QTD_INVALIDA: '✏️ *Quantas unidades?*\\nDigite um número ou escolha:',\n    PROXIMA_PAGINA: (proximaPagina) => `\\n_Mais itens: responda *próxima* para ver a página ${proximaPagina}_`,\n    VOLTAR_INSTRUCAO: '\\n_Digite o número do item ou *0* para voltar_',\n    // Fallback / Geral\n    NAO_ENTENDI: 'Não entendi 😅\\n\\nDigite *menu* para ver as opções ou *2* para fazer um pedido.',\n    ADICIONAR_TEXTO: '✅ *Adicionado:*\\n',\n    CARRINHO_ATUAL: '\\n\\n🛒 *Carrinho:*\\n',\n    TOTAL_LINE_SIMPLES: (total) => `*Total: R$ ${total}*`,\n    INSTRUCOES_ORDERING: '\\n\\nDigite mais itens, *carrinho* para ver o resumo, *finalizar* para concluir ou *0* para voltar.',\n    NAO_RECONHECIDO: (itens) => `\\n\\n⚠️ Não reconhecido: ${itens}`,\n    // Status labels\n    STATUS_MAP: {\n        received: '🕐 Aguardando confirmação',\n        confirmed: '✅ Confirmado — entrando em preparo',\n        preparing: '👨‍🍳 Sendo preparado agora',\n        ready_delivery: '🛵 Saiu para entrega!',\n        ready_pickup: '✅ Pronto para retirar!',\n        out_for_delivery: '🛵 Em rota de entrega',\n        delivered: '📦 Entregue com sucesso',\n        cancelled: '❌ Cancelado',\n    },\n};\n\n\n\n\n\n\n\n\n\n\nclass N8nHttpClientProviderImplementation {\n    async request(options) {\n        try {\n            const raw = await _httpRequest({\n                method: options.method,\n                url: options.url,\n                headers: options.headers || {},\n                ...(options.body !== undefined ? { body: options.body } : {}),\n            });\n            return typeof raw === 'string' ? JSON.parse(raw) : raw;\n        }\n        catch (error) {\n            return null;\n        }\n    }\n}\n\n\nclass ViaCepProviderImplementation {\n    constructor(http) {\n        this.http = http;\n    }\n    async lookup(cep) {\n        const digits = cep.replace(/\\D/g, '');\n        const data = await this.http.request({\n            method: 'GET',\n            url: 'https://viacep.com.br/ws/' + digits.substring(0, 5) + '-' + digits.substring(5) + '/json/',\n            headers: { 'User-Agent': 'SakuraBot/1.0' },\n        });\n        return data?.erro ? null : data;\n    }\n}\n\n\nclass NominatimProviderImplementation {\n    constructor(http) {\n        this.http = http;\n    }\n    async search(query) {\n        const data = await this.http.request({\n            method: 'GET',\n            url: 'https://nominatim.openstreetmap.org/search?q=' + encodeURIComponent(query) + '&format=json&limit=1&countrycodes=br',\n            headers: { 'User-Agent': 'SakuraBot/1.0' },\n        });\n        return Array.isArray(data) && data.length > 0 ? data[0] : null;\n    }\n    async reverse(lat, lng) {\n        return this.http.request({\n            method: 'GET',\n            url: 'https://nominatim.openstreetmap.org/reverse?lat=' + lat + '&lon=' + lng + '&format=json&accept-language=pt-BR',\n            headers: { 'User-Agent': 'SakuraBot/1.0' },\n        });\n    }\n}\n\n\nclass OsrmProviderImplementation {\n    constructor(http) {\n        this.http = http;\n    }\n    async route(fromLat, fromLng, toLat, toLng) {\n        const data = await this.http.request({\n            method: 'GET',\n            url: 'https://router.project-osrm.org/route/v1/driving/' + fromLng + ',' + fromLat + ';' + toLng + ',' + toLat + '?overview=false',\n            headers: { 'User-Agent': 'SakuraBot/1.0' },\n        });\n        if (data?.routes && data.routes[0]) {\n            return { km: data.routes[0].distance / 1000, min: Math.round(data.routes[0].duration / 60) };\n        }\n        return null;\n    }\n}\n\n\nclass BaseHandler {\n}\n\n\n// ── Leitura de contexto do n8n ───────────────────────────────────────────────\nconst msgData = $(\"Calcular Hora\").first().json;\nconst { tel, instancia, texto, horaAtual, diaSemana, location_lat, location_lng } = msgData;\nconst inputData = $json;\nconst establishment = inputData.establishment || {};\nconst config = inputData.config || {};\nconst products = inputData.products || [];\nconst recentOrders = inputData.recent_orders || [];\nconst sessionRaw = inputData.session || {};\nconst lastOrder = inputData.last_order || null;\nconst paymentTypes = inputData.payment_types || [];\nconst orderTypes = inputData.order_types || [];\n// ── TTL de sessão ────────────────────────────────────────────────────────────\nconst sessionTtlMin = establishment.session_ttl_min ?? parseInt(config['session_ttl_min'] || '60', 10);\nconst lastActivity = sessionRaw.last_activity_at ? new Date(sessionRaw.last_activity_at) : null;\nconst sessionExpired = lastActivity\n    ? (Date.now() - lastActivity.getTime()) > sessionTtlMin * 60 * 1000\n    : false;\nconst idleStates = ['start', 'ordering', 'repeat_order', 'awaiting_name', 'awaiting_marketing_opt_in'];\nlet currentState = sessionExpired && !idleStates.includes(sessionRaw.state || 'start')\n    ? BotState.START\n    : (sessionRaw.state || BotState.START);\nconst sessionWasReset = sessionExpired && !!sessionRaw.state && !idleStates.includes(sessionRaw.state);\n// ── Nome do cliente ──────────────────────────────────────────────────────────\nconst customerNameFromDB = inputData.customer_name || null;\nconst pushName = msgData.push_name || '';\nconst pushNameValidation = (!customerNameFromDB && pushName) ? validateName(pushName) : { valid: false };\nconst pushNameFormatted = pushNameValidation.valid ? capitalizeName(pushName) : null;\nconst customerName = customerNameFromDB || pushNameFormatted || null;\nconst marketingOptIn = inputData.marketing_opt_in !== undefined && inputData.marketing_opt_in !== null\n    ? Boolean(inputData.marketing_opt_in) : null;\n// ── Carrinho ─────────────────────────────────────────────────────────────────\nconst rawCart = sessionRaw.cart;\nlet currentCart;\nif (Array.isArray(rawCart)) {\n    currentCart = { ...CartConstants.EMPTY(), items: rawCart };\n}\nelse if (rawCart && typeof rawCart === 'object') {\n    currentCart = {\n        items: Array.isArray(rawCart.items) ? rawCart.items : [],\n        order_type: rawCart.order_type || '',\n        address: rawCart.address || '',\n        complement: rawCart.complement || '',\n        delivery_fee: rawCart.delivery_fee || 0,\n        payment_method: rawCart.payment_method || '',\n        change_for: rawCart.change_for != null ? rawCart.change_for : null,\n        split_count: rawCart.split_count || 0,\n        split_current: rawCart.split_current || 0,\n        split_payments: Array.isArray(rawCart.split_payments) ? rawCart.split_payments : [],\n        mixed_method: rawCart.mixed_method || '',\n        mixed_label: rawCart.mixed_label || '',\n        mixed_amount: rawCart.mixed_amount || 0,\n        address_street_temp: rawCart.address_street_temp || null,\n        browse_category: rawCart.browse_category || '',\n        browse_page: rawCart.browse_page || 0,\n        pending_item_id: rawCart.pending_item_id || null,\n        pending_item_name: rawCart.pending_item_name || '',\n    };\n}\nelse {\n    currentCart = CartConstants.EMPTY();\n}\n// ── Configurações de negócio ─────────────────────────────────────────────────\nconst openingTime = establishment.opening_time || config['opening_time'] || '18:00';\nconst closingTime = establishment.closing_time || config['closing_time'] || '23:00';\nconst workingDays = (establishment.working_days || config['working_days'] || 'ter,qua,qui,sex,sab,dom').split(',');\nconst msgClosed = (establishment.msg_closed || config['msg_closed'] || 'Estamos fechados agora!').replace(/\\\\n/g, '\\n');\nconst msgWelcome = (establishment.msg_welcome || config['msg_welcome'] || 'Ola! Bem-vindo!').replace(/\\\\n/g, '\\n');\nconst ignoreHours = establishment.ignore_hours ?? config['ignore_hours'] === 'true';\nconst estName = establishment.name || config['establishment_name'] || 'nosso estabelecimento';\nconst estCity = establishment.city || config['establishment_city'] || '';\nconst estAddress = establishment.address || config['establishment_address'] || '';\nconst minOrderValue = establishment.min_order_value != null ? establishment.min_order_value : parseFloat(config['min_order_value'] || '0');\nconst kitchenPhone = establishment.kitchen_phone || config['kitchen_phone'] || '';\n// ── Tipos de pedido / entrega ────────────────────────────────────────────────\nconst featureDelivery = orderTypes.some((orderType) => orderType.name === 'delivery');\nconst featureRetirada = orderTypes.some((orderType) => orderType.name === 'retirada');\nconst feeRule = inputData.delivery_fee_rule || {};\nconst feeMode = feeRule.mode || 'fixed';\nconst baseFee = Number(feeRule.base_fee ?? 0);\nconst feePerKm = Number(feeRule.per_km_rate ?? 0);\nconst feePerMin = Number(feeRule.per_min_rate ?? 0);\nconst freeDeliveryAbove = Number(feeRule.free_above ?? 0);\nconst maxRadiusKm = Number(feeRule.max_radius_km ?? 10);\nconst estLat = establishment.lat ?? Number(config['establishment_lat'] || 0);\nconst estLng = establishment.lng ?? Number(config['establishment_lng'] || 0);\n// ── PIX ──────────────────────────────────────────────────────────────────────\nconst pixType = paymentTypes.find((paymentType) => paymentType.name === 'pix') || {};\nconst pixConfig = pixType.config || {};\nconst pixKey = pixConfig['chave'] || '';\nconst pixName = pixConfig['nome'] || '';\n// ── Reservas ─────────────────────────────────────────────────────────────────\nconst restaurantTables = inputData.restaurant_tables || [];\nconst upcomingReservations = inputData.upcoming_reservations || [];\nlet newReservationTemp = sessionRaw.reservation_temp || {};\n// ── Estado mutable ───────────────────────────────────────────────────────────\nlet respostas = [];\nlet newState = currentState;\nlet newCart = JSON.parse(JSON.stringify(currentCart));\nlet save_order = false;\nlet finalOrder = null;\nlet save_reservation = false;\nlet finalReservation = null;\nlet save_customer_name = false;\nlet customerNameToSave = null;\nlet save_marketing_opt_in = false;\nlet marketing_opt_in_value = null;\nlet create_chatwoot_conversation = false;\nlet chatwootCustomerName = '';\n// Usado pelos handlers para retorno antecipado (evita top-level return)\nlet _earlyResponse = null;\nconst _httpRequest = async (options) => \n// @ts-ignore — arrow captura o 'this' do n8n Code node; TS7041 é falso-positivo em module:none\nthis.helpers.httpRequest(options);\n// ── Providers de integração externa ──────────────────────────────────────────\nconst httpClient = new N8nHttpClientProviderImplementation();\nconst cepProvider = new ViaCepProviderImplementation(httpClient);\nconst geocodingProvider = new NominatimProviderImplementation(httpClient);\nconst routingProvider = new OsrmProviderImplementation(httpClient);\n// ── Guard de input raw ───────────────────────────────────────────────────────\nconst expectingRawInput = ExpectingRawInputStates.includes(currentState);\n// ── Funções de formatação ────────────────────────────────────────────────────\nfunction fmtBRL(value) {\n    return Number(value).toFixed(2).replace('.', ',');\n}\nfunction fmtDuration(minutes) {\n    if (minutes < 60)\n        return minutes + ' min';\n    const hours = Math.floor(minutes / 60);\n    const mins = minutes % 60;\n    return hours + 'h' + (mins > 0 ? ' ' + mins + 'min' : '');\n}\nfunction fmtDate(iso) {\n    return iso ? iso.split('-').reverse().join('/') : '';\n}\nfunction validateName(raw) {\n    const name = raw.trim();\n    if (name.length < 2)\n        return { valid: false, reason: 'short' };\n    if (/\\d/.test(name))\n        return { valid: false, reason: 'numbers' };\n    if (!/^[\\p{L}\\s'\\-]+$/u.test(name))\n        return { valid: false, reason: 'invalid_chars' };\n    if (/^(.)\\1{3,}$/u.test(name.replace(/\\s/g, '')))\n        return { valid: false, reason: 'repeated' };\n    const bad = ['merda', 'porra', 'caralho', 'buceta', 'viado', 'puta', 'fdp', 'cuzão', 'cuza', 'cuzao', 'fuder', 'foder', 'foda', 'arrombado', 'babaca', 'idiota', 'imbecil', 'cretino', 'otario', 'otário', 'lixo', 'vagabundo', 'vagabunda', 'piranha', 'safado', 'safada', 'desgraça', 'desgraca', 'bosta', 'pau', 'cacete', 'xoxota', 'pentelho', 'prostituta'];\n    const lower = name.toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n    for (const word of bad) {\n        const wordNorm = word.normalize('NFD').replace(/[̀-ͯ]/g, '');\n        if (lower === wordNorm || lower.split(/\\s+/).includes(wordNorm))\n            return { valid: false, reason: 'bad_word' };\n    }\n    return { valid: true };\n}\nfunction capitalizeName(name) {\n    return name.trim().replace(/\\b\\p{L}/gu, (char) => char.toUpperCase());\n}\nfunction parseTrocoInput(texto, amountToPay) {\n    const normalized = texto.trim().toLowerCase().replace(',', '.');\n    const trocoMatch = normalized.match(/^([\\d.]+)\\s*(?:de\\s*)?troco$/) || normalized.match(/^troco\\s*(?:de\\s*)?([\\d.]+)$/);\n    if (trocoMatch) {\n        const troco = parseFloat(trocoMatch[1]);\n        return isNaN(troco) ? null : amountToPay + troco;\n    }\n    const val = parseFloat(normalized);\n    return isNaN(val) ? null : val;\n}\nfunction cartSummary(items) {\n    let total = 0;\n    const lines = [];\n    for (const item of items) {\n        const sub = item.price * item.qty;\n        total += sub;\n        lines.push('• *' + item.name + '* × ' + item.qty + ' — R$ ' + fmtBRL(sub));\n    }\n    return { lines, total };\n}\nfunction calcDeliveryFee(km, min, subtotal) {\n    if (freeDeliveryAbove > 0 && subtotal >= freeDeliveryAbove)\n        return 0;\n    let fee;\n    if (feeMode === 'per_km')\n        fee = baseFee + km * feePerKm;\n    else if (feeMode === 'per_route_min')\n        fee = baseFee + min * feePerMin;\n    else if (feeMode === 'zones_km' || feeMode === 'zones_min') {\n        const value = feeMode === 'zones_km' ? km : min;\n        const zone = (feeRule.zones || []).find((feeZone) => feeZone.type === (feeMode === 'zones_km' ? 'km' : 'min') && value >= feeZone.min && value < feeZone.max);\n        fee = zone ? zone.fee : baseFee;\n    }\n    else\n        fee = baseFee;\n    return Math.ceil(fee * 10) / 10;\n}\nfunction haversine(lat1, lon1, lat2, lon2) {\n    const R = 6371;\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLon = (lon2 - lon1) * Math.PI / 180;\n    const a = Math.sin(dLat / 2) ** 2 + Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) * Math.sin(dLon / 2) ** 2;\n    return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\nfunction generateOrderCode(phone) {\n    const now = new Date();\n    const pad = (value) => String(value).padStart(2, '0');\n    return 'PED-' + now.getFullYear() + pad(now.getMonth() + 1) + pad(now.getDate()) + pad(now.getHours()) + pad(now.getMinutes()) + pad(now.getSeconds()) + '-' + phone.slice(-4);\n}\nfunction parseDate(text) {\n    const now = new Date();\n    const normalized = text.toLowerCase();\n    if (normalized.includes('hoje'))\n        return now.toISOString().split('T')[0];\n    if (normalized.includes('amanhã') || normalized.includes('amanha')) {\n        const tomorrow = new Date(now);\n        tomorrow.setDate(tomorrow.getDate() + 1);\n        return tomorrow.toISOString().split('T')[0];\n    }\n    const ddmm = normalized.match(/(\\d{1,2})[\\/\\-](\\d{1,2})(?:[\\/\\-](\\d{4}))?/);\n    if (ddmm) {\n        const day = parseInt(ddmm[1]), month = parseInt(ddmm[2]) - 1;\n        const year = ddmm[3] ? parseInt(ddmm[3]) : now.getFullYear();\n        const date = new Date(year, month, day);\n        if (date <= now && !ddmm[3])\n            date.setFullYear(date.getFullYear() + 1);\n        return date.toISOString().split('T')[0];\n    }\n    const dayMap = { 'segunda': 1, 'terça': 2, 'terca': 2, 'quarta': 3, 'quinta': 4, 'sexta': 5, 'sábado': 6, 'sabado': 6, 'domingo': 0 };\n    for (const [dayName, dayNum] of Object.entries(dayMap)) {\n        if (normalized.includes(dayName)) {\n            const date = new Date(now);\n            let diff = (dayNum - date.getDay() + 7) % 7;\n            if (diff === 0)\n                diff = 7;\n            date.setDate(date.getDate() + diff);\n            return date.toISOString().split('T')[0];\n        }\n    }\n    return null;\n}\nfunction parseTime(text) {\n    const match = text.match(/(\\d{1,2})\\s*[hH]\\s*(\\d{2})?|(\\d{1,2}):(\\d{2})/);\n    if (!match)\n        return null;\n    if (match[1] !== undefined)\n        return match[1].padStart(2, '0') + ':' + (match[2] || '00');\n    return match[3].padStart(2, '0') + ':' + match[4];\n}\nfunction parsePeople(text) {\n    const match1 = text.match(/para\\s+(\\d{1,2})\\s*(?:pessoas?|pax)?/i);\n    if (match1) {\n        const count = parseInt(match1[1]);\n        if (count >= 1 && count <= 30)\n            return count;\n    }\n    const match2 = text.match(/(\\d{1,2})\\s*(?:pessoas?|pax|adultos?)/i);\n    if (match2) {\n        const count = parseInt(match2[1]);\n        if (count >= 1 && count <= 30)\n            return count;\n    }\n    return null;\n}\n// ── Builders de mensagens UI ─────────────────────────────────────────────────\nfunction mainMenu() {\n    return {\n        type: 'buttons',\n        body: 'Como posso ajudar? 😊\\n\\n_Pedidos: *meu pedido* · Notificações: *notificações*_\\n_Digite *sair* para recomeçar._',\n        buttons: [\n            { id: '2', title: '🛒 Fazer Pedido' },\n            { id: '3', title: '📋 Reservar Mesa' },\n            { id: '4', title: '👤 Falar com Atendente' }\n        ],\n    };\n}\nfunction yesNo(body) {\n    return { type: 'buttons', body, buttons: [{ id: 'sim', title: 'Sim ✅' }, { id: 'não', title: 'Não ❌' }] };\n}\nfunction confirmBtn(body) {\n    return { type: 'buttons', body, buttons: [{ id: 'sim', title: '✅ Confirmar' }, { id: 'não', title: '❌ Cancelar' }] };\n}\nfunction offerPickupBtn(body) {\n    return { type: 'buttons', body, buttons: [{ id: 'sim', title: '✅ Sim, retirar' }, { id: 'não', title: '📍 Outro endereço' }] };\n}\nfunction orderTypeBtn() {\n    return {\n        type: 'buttons',\n        body: MessagesConstants.SOLICITAR_TIPO_PEDIDO,\n        buttons: orderTypes.filter((orderType) => orderType.active !== false).slice(0, 3).map((orderType) => ({ id: orderType.name, title: orderType.label })),\n    };\n}\nfunction paymentEmoji(name) {\n    if (name === 'pix')\n        return '🔷';\n    if (name === 'dinheiro')\n        return '💵';\n    return '💳';\n}\nfunction paymentList(splitCount, hideMixed) {\n    const rows = paymentTypes.map((paymentType) => ({ id: paymentType.name, title: paymentEmoji(paymentType.name) + ' ' + paymentType.label }));\n    if (!splitCount || splitCount < 2)\n        rows.push({ id: 'dividir', title: '👥 Dividir entre pessoas' });\n    if (!hideMixed && paymentTypes.length > 1)\n        rows.push({ id: 'misto', title: '💰 Pagamento misto' });\n    return { type: 'list', body: MessagesConstants.SOLICITAR_PAGAMENTO, button: 'Ver opções', sections: [{ title: 'Forma de Pagamento', rows }] };\n}\nfunction splitPersonPaymentList(personNum, totalPersons, perPersonStr) {\n    const rows = paymentTypes.map((paymentType) => ({ id: paymentType.name, title: paymentEmoji(paymentType.name) + ' ' + paymentType.label }));\n    return {\n        type: 'list',\n        body: '👥 *' + totalPersons + ' pessoas — R$ ' + perPersonStr + '/pessoa*\\n\\n*Pessoa ' + personNum + ' de ' + totalPersons + ':* Como vai pagar?',\n        button: 'Ver opções',\n        sections: [{ title: 'Forma de Pagamento', rows }],\n    };\n}\nfunction notifBtn(currentOptIn) {\n    const status = currentOptIn === true\n        ? '🔔 *Notificações ativas*\\nVocê recebe promoções e novidades.'\n        : currentOptIn === false\n            ? '🔕 *Notificações desativadas*\\nVocê não recebe promoções.'\n            : '🔔 *Notificações*\\nConfigure suas preferências:';\n    if (currentOptIn === true)\n        return { type: 'buttons', body: status, buttons: [{ id: 'desativar', title: '🔕 Desativar' }, { id: '0', title: '↩️ Voltar' }] };\n    return { type: 'buttons', body: status, buttons: [{ id: 'ativar', title: '🔔 Ativar' }, { id: '0', title: '↩️ Voltar' }] };\n}\nfunction categoryList(context) {\n    if (!products || products.length === 0)\n        return MessagesConstants.CARDAPIO_INDISPONIVEL;\n    const cats = [...new Set(products.map((product) => product.category || 'Outros'))];\n    const prefix = context === 'order' ? 'order_cat:' : 'cat:';\n    const rows = cats.map((categoryName) => {\n        const categoryItems = products.filter((product) => (product.category || 'Outros') === categoryName);\n        const catTitle = ((categoryItems[0]?.emoji || '🍽️') + ' ' + categoryName).slice(0, 24);\n        return { id: prefix + categoryName.toLowerCase(), title: catTitle, description: categoryItems.length + ' item(s)' };\n    });\n    const body = context === 'order' ? '🛒 *Fazer Pedido*\\n\\nEscolha uma categoria:' : '🍣 *Cardápio*\\n\\nEscolha uma categoria:';\n    return { type: 'list', body, button: 'Ver categorias', sections: [{ title: 'Categorias', rows }] };\n}\nfunction itemsList(categoryName, context, page) {\n    page = page || 0;\n    const allItems = products.filter((product) => (product.category || 'Outros') === categoryName);\n    const PAGE_SIZE = 9;\n    const start = page * PAGE_SIZE;\n    const slice = allItems.slice(start, start + PAGE_SIZE);\n    const hasMore = allItems.length > start + PAGE_SIZE;\n    const lines = ['🍽️ *' + categoryName + '*\\n'];\n    slice.forEach((product, index) => {\n        const priceStr = 'R$ ' + fmtBRL(product.price);\n        const descStr = product.description ? ' — _' + String(product.description).slice(0, 60) + '_' : '';\n        lines.push((start + index + 1) + '. ' + (product.emoji ? product.emoji + ' ' : '') + product.name + ' — ' + priceStr + descStr);\n    });\n    if (hasMore)\n        lines.push(MessagesConstants.PROXIMA_PAGINA(page + 2));\n    lines.push(MessagesConstants.VOLTAR_INSTRUCAO);\n    return {\n        type: 'text_menu',\n        body: lines.join('\\n'),\n        items: slice.map((product, index) => ({ num: start + index + 1, id: product.id, name: product.name })),\n        categoryName,\n        context,\n        page,\n        hasMore,\n    };\n}\nfunction locationMsg(lat, lng, name, address) {\n    return { type: 'location', latitude: lat, longitude: lng, name: name || 'Endereço de entrega', address: address || '' };\n}\nfunction nonCashOptions() {\n    return paymentTypes\n        .filter((paymentType) => paymentType.name !== 'dinheiro')\n        .map((paymentType, index) => (index + 1) + '. ' + paymentType.label)\n        .join('\\n');\n}\nfunction buildRepeatOrderLines(params) {\n    const { lastOrder: lastOrderParam, products: prods, header } = params;\n    const items = lastOrderParam.items;\n    const lines = [header + '\\n'];\n    let newTotal = 0;\n    let hasChanges = false;\n    const unavailable = [];\n    for (const item of items) {\n        const currentProduct = prods.find((product) => product.id === item.id);\n        if (!currentProduct) {\n            unavailable.push(item.name);\n            continue;\n        }\n        const oldUnitPrice = Number(item.price);\n        const newUnitPrice = Number(currentProduct.price);\n        const newLineTotal = newUnitPrice * item.qty;\n        newTotal += newLineTotal;\n        if (Math.abs(newUnitPrice - oldUnitPrice) >= 0.01) {\n            hasChanges = true;\n            const diff = newLineTotal - (oldUnitPrice * item.qty);\n            const sign = diff > 0 ? '+' : '−';\n            const icon = diff < 0 ? ' 🎉' : ' 📢';\n            lines.push('• ' + item.name + ' × ' + item.qty + ' — *R$ ' + fmtBRL(newLineTotal) + '*' + icon\n                + '\\n  _era R$ ' + fmtBRL(oldUnitPrice * item.qty) + ' (' + sign + 'R$ ' + fmtBRL(Math.abs(diff)) + ')_');\n        }\n        else {\n            lines.push('• ' + item.name + ' — R$ ' + fmtBRL(newUnitPrice) + ' × ' + item.qty + ' — R$ ' + fmtBRL(newLineTotal));\n        }\n    }\n    if (unavailable.length > 0)\n        lines.push('\\n⚠️ _Fora do cardápio: ' + unavailable.join(', ') + '_');\n    const oldTotal = Number(lastOrderParam.total);\n    if (hasChanges && Math.abs(newTotal - oldTotal) >= 0.01) {\n        const totalDiff = newTotal - oldTotal;\n        const sign = totalDiff > 0 ? '+' : '−';\n        lines.push('\\n*Total: R$ ' + fmtBRL(newTotal) + '* _(' + sign + 'R$ ' + fmtBRL(Math.abs(totalDiff)) + ' vs último pedido)_');\n    }\n    else {\n        lines.push('\\n*Total: R$ ' + fmtBRL(newTotal) + '*');\n    }\n    return lines;\n}\nfunction maybeAskOptIn() {\n    if (marketingOptIn === null) {\n        respostas.push(yesNo(MessagesConstants.OPT_IN_PERGUNTA));\n        newState = BotState.AWAITING_MARKETING_OPT_IN;\n    }\n}\nfunction buildPayload() {\n    return {\n        tel, instancia, respostas,\n        state: newState,\n        cart: newCart,\n        reservation_temp: newReservationTemp,\n        save_order, order: finalOrder,\n        save_reservation, reservation: finalReservation,\n        save_customer_name, customer_name_to_save: customerNameToSave,\n        save_marketing_opt_in, marketing_opt_in_value,\n        kitchen_phone: kitchenPhone,\n        create_chatwoot_conversation,\n        chatwoot_customer_name: chatwootCustomerName,\n    };\n}\nconst greetings = ['oi', 'ola', 'bom dia', 'boa tarde', 'boa noite', 'inicio', 'menu', 'start', 'hello', 'hi'];\n// ── Verificação de horário ───────────────────────────────────────────────────\nconst isOpen = ignoreHours || (workingDays.includes(diaSemana) &&\n    horaAtual >= openingTime &&\n    horaAtual <= closingTime);\nif (sessionWasReset && texto !== 'sair' && texto !== 'cancelar') {\n    respostas.push(MessagesConstants.SESSION_EXPIRED);\n}\n\n\nclass GlobalHandler extends BaseHandler {\n    async handle() {\n        if (texto !== 'sair' && texto !== 'cancelar')\n            return false;\n        newState = BotState.START;\n        newCart = CartConstants.EMPTY();\n        newReservationTemp = {};\n        respostas.push(MessagesConstants.ATENDIMENTO_ENCERRADO);\n        return true;\n    }\n}\n\n\nclass GreetingHandler extends BaseHandler {\n    async handle() {\n        if (!greetings.includes(texto) && !texto.includes('oi!') && !texto.includes('ola!'))\n            return false;\n        newState = BotState.START;\n        newCart = CartConstants.EMPTY();\n        if (!customerName) {\n            newState = BotState.AWAITING_NAME;\n            respostas.push(MessagesConstants.BOAS_VINDAS_NOME(estName));\n        }\n        else {\n            if (!customerNameFromDB && pushNameFormatted) {\n                customerNameToSave = pushNameFormatted;\n                save_customer_name = true;\n            }\n            if (lastOrder && Array.isArray(lastOrder.items) && lastOrder.items.length > 0) {\n                const lines = buildRepeatOrderLines({ lastOrder, products, header: MessagesConstants.SAUDACAO_REPEAT(customerName) });\n                newState = BotState.REPEAT_ORDER;\n                respostas.push(msgWelcome);\n                respostas.push(lines.join('\\n'));\n                respostas.push(yesNo(MessagesConstants.SAUDACAO_REPEAT_PERGUNTA));\n            }\n            else {\n                respostas.push(msgWelcome);\n                respostas.push(mainMenu());\n            }\n        }\n        return true;\n    }\n}\n\n\nclass CartHandler extends BaseHandler {\n    async handle() {\n        // Repeat order — sim\n        if (texto === 'sim' && currentState === BotState.REPEAT_ORDER) {\n            if (lastOrder && Array.isArray(lastOrder.items)) {\n                const items = lastOrder.items.map((orderItem) => {\n                    const product = products.find((prod) => prod.id === orderItem.id);\n                    return product ? { id: product.id, name: product.name, qty: orderItem.qty, price: Number(product.price), menuIdx: products.indexOf(product) + 1 } : null;\n                }).filter(Boolean);\n                newCart.items = items;\n                newState = BotState.ORDERING;\n                const { lines, total } = cartSummary(items);\n                respostas.push(MessagesConstants.PEDIDO_REPETIDO + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*' + MessagesConstants.PEDIDO_REPETIDO_SUFFIX);\n            }\n            else {\n                newState = BotState.START;\n                respostas.push(MessagesConstants.PEDIDO_REPETIDO_NAO_ENCONTRADO);\n            }\n            return true;\n        }\n        // Repeat order — não\n        if ((texto === 'não' || texto === 'nao') && currentState === BotState.REPEAT_ORDER) {\n            newState = BotState.START;\n            newCart = CartConstants.EMPTY();\n            respostas.push(MessagesConstants.REPEAT_ORDER_RECUSA);\n            respostas.push(mainMenu());\n            return true;\n        }\n        // Qualquer outro texto em repeat_order\n        if (currentState === BotState.REPEAT_ORDER) {\n            respostas.push(yesNo(MessagesConstants.REPEAT_ORDER_PROMPT));\n            return true;\n        }\n        // Ver carrinho\n        if (texto === 'carrinho') {\n            if (newCart.items.length === 0) {\n                respostas.push(MessagesConstants.CARRINHO_VAZIO);\n            }\n            else {\n                const { lines, total } = cartSummary(newCart.items);\n                respostas.push(MessagesConstants.CARRINHO_RESUMO_PREFIX + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(total) + '*' + MessagesConstants.CARRINHO_RESUMO_SUFFIX);\n            }\n            return true;\n        }\n        // Finalizar\n        if (texto === 'finalizar') {\n            if (newCart.items.length === 0) {\n                respostas.push(MessagesConstants.CARRINHO_VAZIO);\n            }\n            else {\n                const { lines, total } = cartSummary(newCart.items);\n                const minOrder = minOrderValue;\n                if (minOrder > 0 && total < minOrder) {\n                    respostas.push(MessagesConstants.VALOR_MINIMO(fmtBRL(minOrder), fmtBRL(total)));\n                }\n                else {\n                    newState = BotState.CONFIRMING;\n                    respostas.push(confirmBtn(MessagesConstants.CONFIRMAR_PEDIDO(lines.join('\\n'), fmtBRL(total))));\n                }\n            }\n            return true;\n        }\n        // Confirmar pedido\n        if ((texto === 'confirmar' || texto === 'sim') && currentState === BotState.CONFIRMING) {\n            if (orderTypes.length > 1) {\n                newState = BotState.AWAITING_TYPE;\n                respostas.push(orderTypeBtn());\n            }\n            else if (featureDelivery) {\n                newCart.order_type = 'delivery';\n                newState = BotState.AWAITING_ADDRESS;\n                respostas.push(MessagesConstants.SOLICITAR_ENDERECO);\n            }\n            else {\n                newCart.order_type = orderTypes[0] ? orderTypes[0].name : 'retirada';\n                newCart.delivery_fee = 0;\n                newState = BotState.AWAITING_PAYMENT;\n                respostas.push(MessagesConstants.TIPO_CONFIRMADO(orderTypes[0] ? orderTypes[0].label : 'Retirada'));\n                respostas.push(paymentList(newCart.split_count));\n            }\n            return true;\n        }\n        return false;\n    }\n}\n\n\nclass DeliveryHandler extends BaseHandler {\n    async handle() {\n        if (currentState === BotState.AWAITING_TYPE) {\n            let choiceIndex = parseInt(texto) - 1;\n            if (isNaN(choiceIndex) || choiceIndex < 0)\n                choiceIndex = orderTypes.findIndex((orderType) => orderType.name === texto || orderType.label.toLowerCase() === texto.toLowerCase());\n            if (choiceIndex >= 0 && choiceIndex < orderTypes.length) {\n                const selectedType = orderTypes[choiceIndex];\n                newCart.order_type = selectedType.name;\n                if (selectedType.name === 'delivery') {\n                    newState = BotState.AWAITING_ADDRESS;\n                    respostas.push(MessagesConstants.SOLICITAR_ENDERECO);\n                }\n                else {\n                    newCart.delivery_fee = 0;\n                    newState = BotState.AWAITING_PAYMENT;\n                    respostas.push(MessagesConstants.TIPO_CONFIRMADO(selectedType.label));\n                    respostas.push(paymentList(newCart.split_count));\n                }\n            }\n            else {\n                respostas.push(orderTypeBtn());\n            }\n            return true;\n        }\n        if (currentState === BotState.AWAITING_ADDRESS) {\n            await this._handleAddress();\n            return true;\n        }\n        if (currentState === BotState.AWAITING_ADDRESS_NUMBER) {\n            await this._handleAddressNumber();\n            return true;\n        }\n        if (currentState === BotState.OFFER_PICKUP) {\n            if (texto === 'sim') {\n                newCart.order_type = 'retirada';\n                newCart.delivery_fee = 0;\n                newState = BotState.AWAITING_PAYMENT;\n                respostas.push(MessagesConstants.RETIRADA_CONFIRMADA);\n                respostas.push(paymentList(newCart.split_count));\n            }\n            else {\n                newState = BotState.AWAITING_ADDRESS;\n                respostas.push(MessagesConstants.OUTRO_ENDERECO(estCity || ''));\n            }\n            return true;\n        }\n        return false;\n    }\n    _coordsConfigured() {\n        return estLat !== 0 || estLng !== 0;\n    }\n    _buildEtaLine(calcFee, routeMin, routeKm) {\n        if (routeMin <= 0)\n            return '';\n        return calcFee === 0\n            ? MessagesConstants.ETA_LINE_GRATIS(routeMin, routeKm.toFixed(1))\n            : MessagesConstants.ETA_LINE(fmtBRL(calcFee), routeMin, routeKm.toFixed(1));\n    }\n    async _applyRoute(lat, lng, addressLabel) {\n        const distance = haversine(estLat, estLng, lat, lng);\n        if (this._coordsConfigured() && distance > maxRadiusKm) {\n            newCart.address = addressLabel;\n            newState = BotState.OFFER_PICKUP;\n            respostas.push(offerPickupBtn(MessagesConstants.ENDERECO_FORA_AREA(maxRadiusKm)));\n            return;\n        }\n        let routeKm = 0;\n        let routeMin = 0;\n        if (this._coordsConfigured()) {\n            const route = await routingProvider.route(estLat, estLng, lat, lng);\n            if (route) {\n                routeKm = route.km;\n                routeMin = route.min;\n            }\n        }\n        const { total: cartSubtotal } = cartSummary(newCart.items);\n        const calcFee = calcDeliveryFee(routeKm, routeMin, cartSubtotal);\n        newCart.address = addressLabel;\n        newCart.delivery_fee = calcFee;\n        newState = BotState.AWAITING_COMPLEMENT;\n        respostas.push(locationMsg(lat, lng, 'Endereço de entrega', addressLabel));\n        respostas.push(MessagesConstants.ENDERECO_ENCONTRADO(addressLabel, this._buildEtaLine(calcFee, routeMin, routeKm)));\n    }\n    async _handleAddress() {\n        const estCity = estCity || '';\n        const estCityName = estCity.split(',')[0].trim().toLowerCase();\n        if (texto === '__location__' && location_lat != null && location_lng != null) {\n            const lat = Number(location_lat);\n            const lng = Number(location_lng);\n            const distance = haversine(estLat, estLng, lat, lng);\n            if (this._coordsConfigured() && distance > maxRadiusKm) {\n                newCart.address = 'Localização compartilhada';\n                newState = BotState.OFFER_PICKUP;\n                respostas.push(offerPickupBtn(MessagesConstants.ENDERECO_FORA_AREA(maxRadiusKm)));\n                return;\n            }\n            let routeKm = 0;\n            let routeMin = 0;\n            if (this._coordsConfigured()) {\n                const route = await routingProvider.route(estLat, estLng, lat, lng);\n                if (route) {\n                    routeKm = route.km;\n                    routeMin = route.min;\n                }\n            }\n            let addressLabel = 'Localização compartilhada';\n            const reverseResult = await geocodingProvider.reverse(lat, lng);\n            if (reverseResult?.address) {\n                const addr = reverseResult.address;\n                const parts = [addr.road, addr.house_number, addr.suburb || addr.neighbourhood, addr.city || addr.town || addr.village, addr.state_code || addr.state].filter(Boolean);\n                if (parts.length > 0)\n                    addressLabel = parts.join(', ');\n            }\n            const { total: cartSubtotal } = cartSummary(newCart.items);\n            const calcFee = calcDeliveryFee(routeKm, routeMin, cartSubtotal);\n            newCart.address = addressLabel;\n            newCart.delivery_fee = calcFee;\n            newState = BotState.AWAITING_COMPLEMENT;\n            respostas.push(locationMsg(lat, lng, 'Endereço de entrega', addressLabel));\n            respostas.push(MessagesConstants.LOCALIZACAO_RECEBIDA(addressLabel, this._buildEtaLine(calcFee, routeMin, routeKm)));\n            return;\n        }\n        const input = texto.trim();\n        const cepDigits = input.replace(/\\D/g, '');\n        let addressToGeocode = input;\n        let cepInfo = null;\n        if (cepDigits.length === 8) {\n            cepInfo = await cepProvider.lookup(cepDigits);\n            const nonFormattingChars = input.replace(/[\\d\\s.\\-]/g, '');\n            const isCepOnly = nonFormattingChars.length === 0;\n            if (isCepOnly && cepInfo) {\n                const streetLabel = [cepInfo.logradouro, cepInfo.bairro, cepInfo.localidade, cepInfo.uf].filter(Boolean).join(', ');\n                newCart.address_street_temp = JSON.stringify({\n                    logradouro: cepInfo.logradouro || '',\n                    bairro: cepInfo.bairro || '',\n                    localidade: cepInfo.localidade || '',\n                    uf: cepInfo.uf || '',\n                    cep: cepInfo.cep || '',\n                });\n                newState = BotState.AWAITING_ADDRESS_NUMBER;\n                respostas.push(MessagesConstants.CEP_ENCONTRADO(cepInfo.cep, streetLabel));\n                _earlyResponse = buildPayload();\n                return;\n            }\n            if (cepInfo) {\n                const parts = [cepInfo.logradouro, cepInfo.bairro, cepInfo.localidade, cepInfo.uf].filter(Boolean);\n                if (parts.length > 0)\n                    addressToGeocode = parts.join(', ');\n            }\n        }\n        const streetAndNumMatch = input.match(/^(.+?\\s+\\d+)/);\n        const streetAndNum = streetAndNumMatch ? streetAndNumMatch[1].trim() : input;\n        let geoResult = await geocodingProvider.search(addressToGeocode + ', Brasil');\n        if (!geoResult && estCity && !addressToGeocode.toLowerCase().includes(estCityName)) {\n            const withCity = addressToGeocode + ', ' + estCity;\n            geoResult = await geocodingProvider.search(withCity + ', Brasil');\n            if (geoResult)\n                addressToGeocode = withCity;\n        }\n        if (!geoResult && estCity && streetAndNum !== addressToGeocode) {\n            const stripped = streetAndNum + ', ' + estCity;\n            geoResult = await geocodingProvider.search(stripped + ', Brasil');\n            if (geoResult)\n                addressToGeocode = stripped;\n        }\n        if (!geoResult) {\n            const hint = cepInfo\n                ? MessagesConstants.ENDERECO_HINT_CEP(cepInfo.cep, addressToGeocode)\n                : MessagesConstants.ENDERECO_HINT(estCity);\n            respostas.push(MessagesConstants.ENDERECO_NAO_ENCONTRADO(hint));\n            return;\n        }\n        await this._applyRoute(parseFloat(geoResult.lat), parseFloat(geoResult.lon), addressToGeocode);\n    }\n    async _handleAddressNumber() {\n        const numberInput = texto.trim();\n        let streetInfo = {};\n        try {\n            streetInfo = JSON.parse(newCart.address_street_temp || '{}');\n        }\n        catch (error) { }\n        if (!streetInfo['localidade']) {\n            newState = BotState.AWAITING_ADDRESS;\n            respostas.push(MessagesConstants.ENDERECO_INVALIDO_RETRY(estCity || ''));\n            return;\n        }\n        const numLabel = numberInput === 's/n' ? 'S/N' : numberInput;\n        const fullAddress = [streetInfo['logradouro'], numLabel, streetInfo['bairro'], streetInfo['localidade'], streetInfo['uf']].filter(Boolean).join(', ');\n        newCart.address_street_temp = null;\n        const geoResult = await geocodingProvider.search(fullAddress + ', Brasil');\n        if (!geoResult) {\n            const { total: cartSubtotal } = cartSummary(newCart.items);\n            const fee = calcDeliveryFee(0, 0, cartSubtotal);\n            const mapsLink = 'https://maps.google.com/?q=' + encodeURIComponent(fullAddress);\n            newCart.address = fullAddress;\n            newCart.delivery_fee = fee;\n            const feeMsg = fee === 0 ? MessagesConstants.FRETE_GRATIS : MessagesConstants.TAXA_ENTREGA(fmtBRL(fee));\n            newState = BotState.AWAITING_COMPLEMENT;\n            respostas.push(MessagesConstants.ENDERECO_CONFIRMADO_CEP(fullAddress, mapsLink, feeMsg));\n            return;\n        }\n        await this._applyRoute(parseFloat(geoResult.lat), parseFloat(geoResult.lon), fullAddress);\n    }\n}\n\n\nclass PaymentHandler extends BaseHandler {\n    async handle() {\n        if (currentState === BotState.AWAITING_MIXED_METHOD) {\n            return this._handleMixedMethod();\n        }\n        if (currentState === BotState.AWAITING_MIXED_AMOUNT) {\n            return this._handleMixedAmount();\n        }\n        if (currentState === BotState.AWAITING_SPLIT_COUNT) {\n            return this._handleSplitCount();\n        }\n        if (currentState === BotState.AWAITING_SPLIT_PAYMENT) {\n            return this._handleSplitPayment();\n        }\n        if (currentState === BotState.AWAITING_SPLIT_CHANGE) {\n            return this._handleSplitChange();\n        }\n        if (currentState === BotState.AWAITING_MIXED_CHANGE) {\n            return this._handleMixedChange();\n        }\n        if (currentState === BotState.AWAITING_PAYMENT) {\n            return this._handlePayment();\n        }\n        if (currentState === BotState.AWAITING_CHANGE) {\n            return this._handleChange();\n        }\n        return false;\n    }\n    _nonCashTypes() {\n        return paymentTypes.filter((paymentType) => paymentType.name !== 'dinheiro');\n    }\n    _resolveOrderTypeLabel() {\n        return (orderTypes.find((orderType) => orderType.name === newCart.order_type) || { label: 'Retirada' }).label;\n    }\n    _buildDeliveryLines() {\n        const addrFull = newCart.address + (newCart.complement ? ', ' + newCart.complement : '');\n        const mapsLine = newCart.order_type === 'delivery' ? MessagesConstants.MAPS_LINE(addrFull) : '';\n        const typeLabel = newCart.order_type === 'delivery'\n            ? MessagesConstants.ENTREGA_LABEL(addrFull, mapsLine)\n            : '🏃 *' + this._resolveOrderTypeLabel() + '*';\n        const feeLine = newCart.delivery_fee > 0\n            ? MessagesConstants.ENTREGA_LINE(fmtBRL(newCart.delivery_fee))\n            : MessagesConstants.FRETE_LINE;\n        return { typeLabel, feeLine, addrFull };\n    }\n    _finalizeOrder(total, paymentName, paymentMethodLabel, changeFor) {\n        const orderCode = generateOrderCode(tel);\n        const { lines, total: subtotal } = cartSummary(newCart.items);\n        const { typeLabel, feeLine, addrFull } = this._buildDeliveryLines();\n        respostas.push(MessagesConstants.PEDIDO_CONFIRMADO_PREFIX\n            + lines.join('\\n')\n            + '\\n\\n' + MessagesConstants.SUBTOTAL_LINE(fmtBRL(subtotal))\n            + feeLine\n            + '\\n' + MessagesConstants.TOTAL_LINE(fmtBRL(total))\n            + '\\n\\n' + typeLabel\n            + MessagesConstants.PAGAMENTO_LINE(paymentMethodLabel, paymentEmoji(paymentName))\n            + (changeFor ? MessagesConstants.TROCO_LINE(fmtBRL(changeFor)) : '')\n            + MessagesConstants.PEDIDO_CODIGO(orderCode));\n        save_order = true;\n        finalOrder = {\n            tel,\n            customer_name: customerName,\n            code: orderCode,\n            items: newCart.items,\n            subtotal,\n            delivery_fee: newCart.delivery_fee,\n            total,\n            order_type: newCart.order_type,\n            address: newCart.order_type === 'delivery' ? addrFull : '',\n            maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '',\n            payment_method: paymentMethodLabel,\n            change_for: changeFor,\n        };\n        newState = BotState.START;\n        newCart = CartConstants.EMPTY();\n        maybeAskOptIn();\n    }\n    _handleMixedMethod() {\n        const nonCashTypes = this._nonCashTypes();\n        let choiceIndex = parseInt(texto) - 1;\n        if (isNaN(choiceIndex) || choiceIndex < 0)\n            choiceIndex = nonCashTypes.findIndex((paymentType) => paymentType.name === texto);\n        if (choiceIndex >= 0 && choiceIndex < nonCashTypes.length) {\n            newCart.mixed_method = nonCashTypes[choiceIndex].name;\n            newCart.mixed_label = nonCashTypes[choiceIndex].label;\n            const { total: subtotal } = cartSummary(newCart.items);\n            const total = subtotal + newCart.delivery_fee;\n            newState = BotState.AWAITING_MIXED_AMOUNT;\n            respostas.push(MessagesConstants.MISTO_VALOR(fmtBRL(total), nonCashTypes[choiceIndex].label));\n        }\n        else {\n            respostas.push(MessagesConstants.OPCAO_INVALIDA + '\\n\\n' + nonCashOptions() + MessagesConstants.DIGITAR_NUMERO);\n        }\n        return true;\n    }\n    _handleMixedAmount() {\n        const entered = parseFloat(texto.replace(',', '.'));\n        const { total: subtotal } = cartSummary(newCart.items);\n        const total = subtotal + newCart.delivery_fee;\n        if (isNaN(entered) || entered <= 0) {\n            respostas.push(MessagesConstants.MISTO_VALOR_INVALIDO(newCart.mixed_label || 'cartão'));\n        }\n        else if (entered >= total) {\n            respostas.push(MessagesConstants.MISTO_VALOR_EXCEDE(newCart.mixed_label || 'cartão', fmtBRL(entered), fmtBRL(total)));\n        }\n        else {\n            newCart.mixed_amount = entered;\n            const cashPart = total - entered;\n            newState = BotState.AWAITING_MIXED_CHANGE;\n            respostas.push(MessagesConstants.MISTO_PARTE_DINHEIRO(fmtBRL(cashPart)));\n        }\n        return true;\n    }\n    _handleSplitCount() {\n        const splitCount = parseInt(texto);\n        if (!splitCount || splitCount < 2 || splitCount > 30) {\n            respostas.push(MessagesConstants.DIVIDIR_INVALIDO);\n        }\n        else {\n            newCart.split_count = splitCount;\n            newCart.split_current = 1;\n            newCart.split_payments = [];\n            const { total: subtotal } = cartSummary(newCart.items);\n            const total = subtotal + newCart.delivery_fee;\n            const perPerson = fmtBRL(total / splitCount);\n            newState = BotState.AWAITING_SPLIT_PAYMENT;\n            respostas.push(splitPersonPaymentList(1, splitCount, perPerson));\n        }\n        return true;\n    }\n    _handleSplitPayment() {\n        let choiceIndex = parseInt(texto) - 1;\n        if (isNaN(choiceIndex) || choiceIndex < 0)\n            choiceIndex = paymentTypes.findIndex((paymentType) => paymentType.name === texto);\n        const { total: subtotal } = cartSummary(newCart.items);\n        const total = subtotal + newCart.delivery_fee;\n        const splitTotal = newCart.split_count;\n        const perPerson = total / splitTotal;\n        if (choiceIndex < 0 || choiceIndex >= paymentTypes.length) {\n            respostas.push(splitPersonPaymentList(newCart.split_current, splitTotal, fmtBRL(perPerson)));\n            return true;\n        }\n        const selectedPayment = paymentTypes[choiceIndex];\n        if (selectedPayment.name === 'dinheiro') {\n            newCart.payment_method = 'dinheiro';\n            newState = BotState.AWAITING_SPLIT_CHANGE;\n            respostas.push(MessagesConstants.DIVIDIR_TROCO(newCart.split_current, fmtBRL(perPerson)));\n        }\n        else {\n            const payments = Array.isArray(newCart.split_payments) ? newCart.split_payments : [];\n            payments.push({ person: newCart.split_current, label: paymentEmoji(selectedPayment.name) + ' ' + selectedPayment.label, change_for: null });\n            newCart.split_payments = payments;\n            if (newCart.split_current >= splitTotal) {\n                this._finalizeSplitOrder(total, subtotal, splitTotal, perPerson, payments);\n            }\n            else {\n                newCart.split_current = newCart.split_current + 1;\n                newState = BotState.AWAITING_SPLIT_PAYMENT;\n                respostas.push(splitPersonPaymentList(newCart.split_current, splitTotal, fmtBRL(perPerson)));\n            }\n        }\n        return true;\n    }\n    _handleSplitChange() {\n        const { total: subtotal } = cartSummary(newCart.items);\n        const total = subtotal + newCart.delivery_fee;\n        const splitTotal = newCart.split_count;\n        const perPerson = total / splitTotal;\n        let changeFor = null;\n        if (texto !== 'não' && texto !== 'nao') {\n            const changeValue = parseTrocoInput(texto, perPerson);\n            if (changeValue === null || changeValue <= perPerson) {\n                respostas.push(MessagesConstants.DIVIDIR_TROCO_INVALIDO(fmtBRL(perPerson)));\n                _earlyResponse = buildPayload();\n                return true;\n            }\n            changeFor = changeValue;\n        }\n        const payments = Array.isArray(newCart.split_payments) ? newCart.split_payments : [];\n        payments.push({ person: newCart.split_current, label: '💵 Dinheiro', change_for: changeFor });\n        newCart.split_payments = payments;\n        if (newCart.split_current >= splitTotal) {\n            this._finalizeSplitOrder(total, subtotal, splitTotal, perPerson, payments);\n        }\n        else {\n            newCart.split_current = newCart.split_current + 1;\n            newState = BotState.AWAITING_SPLIT_PAYMENT;\n            respostas.push(splitPersonPaymentList(newCart.split_current, splitTotal, fmtBRL(perPerson)));\n        }\n        return true;\n    }\n    _finalizeSplitOrder(total, subtotal, splitTotal, perPerson, payments) {\n        const orderCode = generateOrderCode(tel);\n        const { typeLabel, feeLine, addrFull } = this._buildDeliveryLines();\n        const splitLines = payments.map((splitPayment) => MessagesConstants.SPLIT_PERSON_LINE(splitPayment.person, splitPayment.label, splitPayment.change_for ? fmtBRL(splitPayment.change_for) : null)).join('\\n');\n        respostas.push(MessagesConstants.PEDIDO_CONFIRMADO_PREFIX\n            + cartSummary(newCart.items).lines.join('\\n')\n            + '\\n\\n' + MessagesConstants.SUBTOTAL_LINE(fmtBRL(subtotal))\n            + feeLine\n            + '\\n' + MessagesConstants.TOTAL_LINE(fmtBRL(total))\n            + '\\n\\n' + typeLabel\n            + MessagesConstants.DIVISAO_HEADER(splitTotal, fmtBRL(perPerson))\n            + splitLines\n            + MessagesConstants.PEDIDO_CODIGO(orderCode));\n        save_order = true;\n        finalOrder = {\n            tel,\n            customer_name: customerName,\n            code: orderCode,\n            items: newCart.items,\n            subtotal,\n            delivery_fee: newCart.delivery_fee,\n            total,\n            order_type: newCart.order_type,\n            address: newCart.order_type === 'delivery' ? addrFull : '',\n            maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '',\n            payment_method: 'dividido: ' + payments.map((splitPayment) => splitPayment.label).join(', '),\n            change_for: null,\n            split_count: splitTotal,\n            split_payments: payments,\n        };\n        newState = BotState.START;\n        newCart = CartConstants.EMPTY();\n        maybeAskOptIn();\n    }\n    _handleMixedChange() {\n        const { total: subtotal } = cartSummary(newCart.items);\n        const total = subtotal + newCart.delivery_fee;\n        const entered = newCart.mixed_amount;\n        const cashPart = total - entered;\n        let changeFor = null;\n        if (texto !== 'não' && texto !== 'nao') {\n            const changeValue = parseTrocoInput(texto, cashPart);\n            if (changeValue === null || changeValue <= cashPart) {\n                respostas.push(MessagesConstants.DIVIDIR_TROCO_INVALIDO(fmtBRL(cashPart)));\n                _earlyResponse = buildPayload();\n                return true;\n            }\n            changeFor = changeValue;\n        }\n        const orderCode = generateOrderCode(tel);\n        const { typeLabel, feeLine, addrFull } = this._buildDeliveryLines();\n        const changeInfo = changeFor ? ' _(troco p/ R$ ' + fmtBRL(changeFor) + ')_' : '';\n        respostas.push(MessagesConstants.PEDIDO_CONFIRMADO_PREFIX\n            + cartSummary(newCart.items).lines.join('\\n')\n            + '\\n\\n' + MessagesConstants.SUBTOTAL_LINE(fmtBRL(subtotal))\n            + feeLine\n            + '\\n' + MessagesConstants.TOTAL_LINE(fmtBRL(total))\n            + '\\n\\n' + typeLabel\n            + '\\n' + paymentEmoji(newCart.mixed_method || '') + ' *' + (newCart.mixed_label || 'Cartão') + ':* R$ ' + fmtBRL(entered)\n            + '\\n💵 *Dinheiro:* R$ ' + fmtBRL(cashPart) + changeInfo\n            + MessagesConstants.PEDIDO_CODIGO(orderCode));\n        save_order = true;\n        finalOrder = {\n            tel, customer_name: customerName, code: orderCode, items: newCart.items,\n            subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type,\n            address: newCart.order_type === 'delivery' ? addrFull : '',\n            maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '',\n            payment_method: (newCart.mixed_label || 'misto') + ' + dinheiro',\n            change_for: changeFor,\n        };\n        newState = BotState.START;\n        newCart = CartConstants.EMPTY();\n        maybeAskOptIn();\n        return true;\n    }\n    _handlePayment() {\n        let choiceIndex = parseInt(texto) - 1;\n        if (isNaN(choiceIndex) || choiceIndex < 0)\n            choiceIndex = paymentTypes.findIndex((paymentType) => paymentType.name === texto);\n        if (choiceIndex >= 0 && choiceIndex < paymentTypes.length) {\n            const selectedPayment = paymentTypes[choiceIndex];\n            newCart.payment_method = selectedPayment.name;\n            const { total: subtotal } = cartSummary(newCart.items);\n            const total = subtotal + newCart.delivery_fee;\n            if (selectedPayment.name === 'dinheiro') {\n                newState = BotState.AWAITING_CHANGE;\n                respostas.push(MessagesConstants.PAGAMENTO_DINHEIRO(fmtBRL(total)));\n            }\n            else {\n                const pixInfo = (selectedPayment.name === 'pix' && pixKey)\n                    ? MessagesConstants.PIX_INFO(pixKey, pixName)\n                    : '';\n                const splitLine = newCart.split_count > 1\n                    ? MessagesConstants.SPLIT_LINE(newCart.split_count, fmtBRL(total / newCart.split_count))\n                    : '';\n                const orderCode = generateOrderCode(tel);\n                const { typeLabel, feeLine, addrFull } = this._buildDeliveryLines();\n                respostas.push(MessagesConstants.PEDIDO_CONFIRMADO_PREFIX\n                    + cartSummary(newCart.items).lines.join('\\n')\n                    + '\\n\\n' + MessagesConstants.SUBTOTAL_LINE(fmtBRL(subtotal))\n                    + feeLine\n                    + '\\n' + MessagesConstants.TOTAL_LINE(fmtBRL(total))\n                    + splitLine\n                    + '\\n\\n' + typeLabel\n                    + MessagesConstants.PAGAMENTO_LINE(selectedPayment.label, paymentEmoji(selectedPayment.name))\n                    + pixInfo\n                    + MessagesConstants.PEDIDO_CODIGO(orderCode));\n                save_order = true;\n                finalOrder = {\n                    tel, customer_name: customerName, code: orderCode, items: newCart.items,\n                    subtotal, delivery_fee: newCart.delivery_fee, total, order_type: newCart.order_type,\n                    address: newCart.order_type === 'delivery' ? addrFull : '',\n                    maps_link: newCart.order_type === 'delivery' ? ('https://maps.google.com/?q=' + encodeURIComponent(addrFull)) : '',\n                    payment_method: selectedPayment.name,\n                    change_for: null,\n                };\n                newState = BotState.START;\n                newCart = CartConstants.EMPTY();\n                maybeAskOptIn();\n            }\n            return true;\n        }\n        if (texto === 'dividir' || parseInt(texto) === paymentTypes.length + 1 || texto.toLowerCase().includes('dividir')) {\n            newState = BotState.AWAITING_SPLIT_COUNT;\n            respostas.push(MessagesConstants.DIVIDIR_CONTA);\n            return true;\n        }\n        if (texto === 'misto' || parseInt(texto) === paymentTypes.length + 2 || texto.toLowerCase().includes('misto')) {\n            const nonCashTypes = this._nonCashTypes();\n            if (nonCashTypes.length === 0) {\n                respostas.push(MessagesConstants.SEM_FORMAS_MISTO);\n            }\n            else if (nonCashTypes.length === 1) {\n                newCart.mixed_method = nonCashTypes[0].name;\n                newCart.mixed_label = nonCashTypes[0].label;\n                const { total: subtotal } = cartSummary(newCart.items);\n                const total = subtotal + newCart.delivery_fee;\n                newState = BotState.AWAITING_MIXED_AMOUNT;\n                respostas.push(MessagesConstants.MISTO_VALOR(fmtBRL(total), nonCashTypes[0].label));\n            }\n            else {\n                newState = BotState.AWAITING_MIXED_METHOD;\n                respostas.push(MessagesConstants.MISTO_ESCOLHER_METODO(nonCashOptions()));\n            }\n            return true;\n        }\n        respostas.push(paymentList(newCart.split_count));\n        return true;\n    }\n    _handleChange() {\n        const { total: subtotal } = cartSummary(newCart.items);\n        const total = subtotal + newCart.delivery_fee;\n        let changeValue = null;\n        if (texto !== 'não' && texto !== 'nao') {\n            changeValue = parseTrocoInput(texto, total);\n            if (changeValue === null || changeValue <= total) {\n                respostas.push(MessagesConstants.TROCO_INVALIDO(fmtBRL(total)));\n                _earlyResponse = buildPayload();\n                return true;\n            }\n        }\n        this._finalizeOrder(total, 'dinheiro', 'Dinheiro', changeValue);\n        return true;\n    }\n}\n\n\nclass MenuShortcutsHandler extends BaseHandler {\n    async handle() {\n        if (expectingRawInput)\n            return false;\n        if (texto === '1' || texto.includes('cardapio') || texto.includes('cardápio') || texto.includes('menu')) {\n            newState = BotState.ORDERING_CAT;\n            respostas.push(categoryList('order'));\n            return true;\n        }\n        if (texto === '2' || (texto.includes('pedido') && texto !== 'meu pedido' && !texto.startsWith('meus pedido')) || texto.includes('pedir')) {\n            newState = BotState.ORDERING_CAT;\n            respostas.push(categoryList('order'));\n            return true;\n        }\n        if ((texto === '3' || texto.includes('reserva') || texto.includes('reservar'))\n            && ![BotState.RESERVING, BotState.CONFIRMING_RESERVATION].includes(currentState)) {\n            newState = BotState.RESERVING;\n            respostas.push(MessagesConstants.RESERVA_SOLICITAR);\n            return true;\n        }\n        return false;\n    }\n}\n\n\nclass ReservationHandler extends BaseHandler {\n    async handle() {\n        if (currentState === BotState.RESERVING) {\n            return this._handleReserving();\n        }\n        if (currentState === BotState.CONFIRMING_RESERVATION && texto === 'sim') {\n            return this._handleConfirmReservation();\n        }\n        if (currentState === BotState.CONFIRMING_RESERVATION && (texto === 'não' || texto === 'nao')) {\n            newReservationTemp = {};\n            newState = BotState.START;\n            respostas.push(MessagesConstants.RESERVA_CANCELADA);\n            respostas.push(mainMenu());\n            return true;\n        }\n        return false;\n    }\n    _handleReserving() {\n        const dateValue = parseDate(texto);\n        const timeValue = parseTime(texto);\n        const sizeValue = parsePeople(texto);\n        const missing = [];\n        if (!dateValue)\n            missing.push('📆 data');\n        if (!timeValue)\n            missing.push('🕗 horário');\n        if (!sizeValue)\n            missing.push('👥 número de pessoas');\n        if (missing.length > 0) {\n            respostas.push(MessagesConstants.RESERVA_FALTANDO(missing.join(', ')));\n            return true;\n        }\n        const timeStr = timeValue + ':00';\n        const availableTables = restaurantTables\n            .filter((table) => table.capacity >= sizeValue)\n            .filter((table) => !upcomingReservations.some((reservation) => reservation.date === dateValue && reservation.time === timeStr && reservation.table_id === table.id))\n            .sort((tableA, tableB) => tableA.capacity - tableB.capacity);\n        if (availableTables.length === 0) {\n            respostas.push(MessagesConstants.RESERVA_SEM_MESA(sizeValue, fmtDate(dateValue), timeValue));\n        }\n        else {\n            const selectedTable = availableTables[0];\n            newReservationTemp = { date: dateValue, time: timeValue, party_size: sizeValue, table_id: selectedTable.id, table_number: selectedTable.number };\n            newState = BotState.CONFIRMING_RESERVATION;\n            respostas.push(confirmBtn(MessagesConstants.RESERVA_RESUMO(fmtDate(dateValue), timeValue, sizeValue, selectedTable.number)));\n        }\n        return true;\n    }\n    _handleConfirmReservation() {\n        const reservationData = newReservationTemp;\n        if (!reservationData || !reservationData.date) {\n            newState = BotState.START;\n            respostas.push(MessagesConstants.RESERVA_DADOS_INVALIDOS);\n            return true;\n        }\n        save_reservation = true;\n        finalReservation = {\n            tel,\n            date: reservationData.date,\n            time: reservationData.time,\n            party_size: reservationData.party_size,\n            table_id: reservationData.table_id,\n        };\n        newReservationTemp = {};\n        newState = BotState.START;\n        const estabAddr = estAddress;\n        const mapsLink = estabAddr ? MessagesConstants.RESERVA_MAPS_LINE(estabAddr) : '';\n        const addrLine = estabAddr ? MessagesConstants.RESERVA_ADDR_LINE(estabAddr, mapsLink) : '';\n        respostas.push(MessagesConstants.RESERVA_CONFIRMADA(fmtDate(reservationData.date), reservationData.time, reservationData.party_size, reservationData.table_number, addrLine));\n        return true;\n    }\n}\n\n\nclass MiscHandler extends BaseHandler {\n    async handle() {\n        // Atalhos de navegação (protegidos por !expectingRawInput)\n        if (!expectingRawInput && (texto === '5' || texto.startsWith('meu pedido') || texto.startsWith('meus pedido') || texto === 'pedidos')) {\n            return this._handleMyOrders();\n        }\n        if (!expectingRawInput && (texto === '4' || texto.includes('atendente') || texto.includes('humano'))) {\n            newState = BotState.HUMAN_HANDOFF;\n            create_chatwoot_conversation = true;\n            chatwootCustomerName = customerName || '';\n            respostas.push(MessagesConstants.CONECTANDO_ATENDENTE);\n            return true;\n        }\n        if (!expectingRawInput && (texto === '6' || texto === 'notificacoes' || texto === 'notificações')) {\n            respostas.push(notifBtn(marketingOptIn));\n            newState = BotState.NOTIFICATIONS_MENU;\n            return true;\n        }\n        if (!expectingRawInput && (texto === '0' || texto === 'voltar')) {\n            newState = BotState.START;\n            respostas.push(MessagesConstants.VOLTAR_MENU);\n            respostas.push(mainMenu());\n            return true;\n        }\n        // Estados de atendimento humano e pedido\n        if (currentState === BotState.HUMAN_HANDOFF) {\n            respostas.push(MessagesConstants.EM_ATENDIMENTO_HUMANO);\n            return true;\n        }\n        if (currentState === BotState.AWAITING_ORDER_DETAIL) {\n            return this._handleOrderDetail();\n        }\n        if (currentState === BotState.NOTIFICATIONS_MENU) {\n            return this._handleNotificationsMenu();\n        }\n        if (currentState === BotState.AWAITING_NAME) {\n            return this._handleName();\n        }\n        if (currentState === BotState.AWAITING_COMPLEMENT) {\n            if (texto === 'ok' || texto === 'nao' || texto === 'não' || texto === 'sem complemento') {\n                newCart.complement = '';\n            }\n            else {\n                newCart.complement = texto.trim();\n            }\n            newState = BotState.AWAITING_PAYMENT;\n            respostas.push(paymentList(newCart.split_count));\n            return true;\n        }\n        // Keyword handlers — status do último pedido\n        if (texto === 'status' || texto === 'meu pedido' || texto === 'pedido') {\n            return this._handleLastOrderStatus();\n        }\n        // Keyword handlers — notificações inline\n        if (texto === 'notificações' || texto === 'notificacoes' || texto === 'promoções' || texto === 'promocoes') {\n            return this._handleNotifInfo();\n        }\n        if (texto.includes('desativar notifica') || texto.includes('desativar promoç')) {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = false;\n            respostas.push(MessagesConstants.NOTIF_DESATIVADAS_OK);\n            return true;\n        }\n        if (texto.includes('ativar notifica') || texto.includes('ativar promoç')) {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = true;\n            respostas.push(MessagesConstants.NOTIF_ATIVADAS_OK);\n            return true;\n        }\n        if (currentState === BotState.AWAITING_MARKETING_OPT_IN) {\n            return this._handleMarketingOptIn();\n        }\n        return false;\n    }\n    _statusLabel(status, orderType) {\n        const isDelivery = orderType === 'delivery';\n        const statusMap = {\n            received: MessagesConstants.STATUS_MAP.received,\n            confirmed: MessagesConstants.STATUS_MAP.confirmed,\n            preparing: MessagesConstants.STATUS_MAP.preparing,\n            ready: isDelivery ? MessagesConstants.STATUS_MAP.ready_delivery : MessagesConstants.STATUS_MAP.ready_pickup,\n            out_for_delivery: MessagesConstants.STATUS_MAP.out_for_delivery,\n            delivered: MessagesConstants.STATUS_MAP.delivered,\n            cancelled: MessagesConstants.STATUS_MAP.cancelled,\n        };\n        return statusMap[status] || status;\n    }\n    _handleMyOrders() {\n        if (!recentOrders || recentOrders.length === 0) {\n            respostas.push(MessagesConstants.SEM_PEDIDOS);\n            return true;\n        }\n        let msg = MessagesConstants.PEDIDOS_HEADER;\n        recentOrders.forEach((order, index) => {\n            const statusText = this._statusLabel(order.status, order.order_type);\n            const tipoLabel = order.order_type === 'delivery'\n                ? MessagesConstants.PEDIDO_DETALHE_TIPO_DELIVERY\n                : order.order_type === 'retirada'\n                    ? MessagesConstants.PEDIDO_DETALHE_TIPO_RETIRADA\n                    : MessagesConstants.PEDIDO_DETALHE_TIPO_MESA;\n            msg += '*' + (index + 1) + '. #' + order.code + '*\\n'\n                + '   ' + tipoLabel + ' — R$ ' + fmtBRL(order.total) + '\\n'\n                + '   ' + statusText + ' — ' + order.created_at + '\\n\\n';\n        });\n        msg += MessagesConstants.PEDIDOS_FOOTER;\n        respostas.push(msg);\n        newState = BotState.AWAITING_ORDER_DETAIL;\n        return true;\n    }\n    _handleOrderDetail() {\n        const codeInput = texto.replace(/^#/, '').toUpperCase();\n        const foundOrder = recentOrders.find((order) => order.code.toUpperCase() === codeInput);\n        if (foundOrder) {\n            const tipoLabel = foundOrder.order_type === 'delivery'\n                ? MessagesConstants.PEDIDO_DETALHE_TIPO_DELIVERY\n                : foundOrder.order_type === 'retirada'\n                    ? MessagesConstants.PEDIDO_DETALHE_TIPO_RETIRADA\n                    : MessagesConstants.PEDIDO_DETALHE_TIPO_MESA;\n            const statusText = this._statusLabel(foundOrder.status, foundOrder.order_type);\n            respostas.push(MessagesConstants.PEDIDO_DETALHE_HEADER(foundOrder.code)\n                + tipoLabel + ' — R$ ' + fmtBRL(foundOrder.total) + '\\n'\n                + statusText + ' — ' + foundOrder.created_at + '\\n'\n                + (foundOrder.payment_method ? '💳 ' + foundOrder.payment_method + '\\n' : '')\n                + '\\n_' + (foundOrder.items_count || 0) + ' item(s)_\\n\\n'\n                + MessagesConstants.PEDIDO_DETALHE_FOOTER);\n        }\n        else if (texto === '0' || texto === 'voltar' || texto === 'menu') {\n            newState = BotState.START;\n            respostas.push(MessagesConstants.VOLTAR_MENU);\n            respostas.push(mainMenu());\n        }\n        else {\n            respostas.push(MessagesConstants.PEDIDO_CODIGO_NAO_ENCONTRADO(texto));\n        }\n        return true;\n    }\n    _handleNotificationsMenu() {\n        if (texto === 'ativar' || texto === 'sim') {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = true;\n            newState = BotState.START;\n            respostas.push(MessagesConstants.NOTIF_ATIVADAS);\n            respostas.push(mainMenu());\n        }\n        else if (texto === 'desativar' || texto === 'nao' || texto === 'não') {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = false;\n            newState = BotState.START;\n            respostas.push(MessagesConstants.NOTIF_DESATIVADAS);\n            respostas.push(mainMenu());\n        }\n        else if (texto === '0' || texto === 'voltar') {\n            newState = BotState.START;\n            respostas.push('🔙 ');\n            respostas.push(mainMenu());\n        }\n        else {\n            respostas.push(MessagesConstants.NOTIF_MENU_PROMPT);\n        }\n        return true;\n    }\n    _handleName() {\n        const validation = validateName(texto);\n        if (!validation.valid) {\n            respostas.push(validation.reason === 'bad_word'\n                ? MessagesConstants.NOME_INVALIDO_PALAVRAO\n                : MessagesConstants.NOME_INVALIDO_GENERICO);\n            newState = BotState.AWAITING_NAME;\n            return true;\n        }\n        const nameFormatted = capitalizeName(texto);\n        customerNameToSave = nameFormatted;\n        save_customer_name = true;\n        newState = BotState.START;\n        if (lastOrder && Array.isArray(lastOrder.items) && lastOrder.items.length > 0) {\n            const lines = buildRepeatOrderLines({ lastOrder, products, header: '🔄 *Seu último pedido foi:*' });\n            newState = BotState.REPEAT_ORDER;\n            respostas.push(MessagesConstants.SAUDACAO_APOS_NOME(nameFormatted) + msgWelcome);\n            respostas.push(lines.join('\\n'));\n            respostas.push(yesNo(MessagesConstants.SAUDACAO_REPEAT_PERGUNTA));\n        }\n        else {\n            respostas.push(MessagesConstants.SAUDACAO_APOS_NOME(nameFormatted) + msgWelcome);\n            respostas.push(mainMenu());\n        }\n        return true;\n    }\n    _handleLastOrderStatus() {\n        if (!lastOrder || !lastOrder.code) {\n            respostas.push('Nenhum pedido encontrado. 😊\\n\\nDigite *2* para fazer seu primeiro pedido!');\n            return true;\n        }\n        const statusMap = {\n            received: '📥 Recebido', confirmed: '✅ Confirmado', preparing: '👨‍🍳 Em preparo',\n            ready: '✅ Pronto para entrega', delivered: '🚀 Entregue', cancelled: '❌ Cancelado',\n        };\n        const statusLabel = statusMap[lastOrder.status || ''] || lastOrder.status || '📥 Recebido';\n        const { lines } = cartSummary(lastOrder.items || []);\n        respostas.push('📋 *Seu último pedido:*\\n\\n🔖 Código: *' + lastOrder.code + '*\\n\\n' + lines.join('\\n') + '\\n\\n*Total: R$ ' + fmtBRL(lastOrder.total) + '*\\n\\nStatus: ' + statusLabel);\n        return true;\n    }\n    _handleNotifInfo() {\n        if (marketingOptIn === true) {\n            respostas.push(MessagesConstants.NOTIF_ATIVAS_INFO);\n        }\n        else if (marketingOptIn === false) {\n            respostas.push(MessagesConstants.NOTIF_INATIVAS_INFO);\n        }\n        else {\n            respostas.push(MessagesConstants.NOTIF_NAO_CONFIGURADAS);\n        }\n        return true;\n    }\n    _handleMarketingOptIn() {\n        if (texto === 'sim') {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = true;\n            newState = BotState.START;\n            respostas.push(MessagesConstants.OPT_IN_SIM);\n        }\n        else if (texto === 'não' || texto === 'nao') {\n            save_marketing_opt_in = true;\n            marketing_opt_in_value = false;\n            newState = BotState.START;\n            respostas.push(MessagesConstants.OPT_IN_NAO);\n        }\n        else {\n            respostas.push(MessagesConstants.OPT_IN_REPROMPT);\n        }\n        return true;\n    }\n}\n\n\nclass OrderingHandler extends BaseHandler {\n    async handle() {\n        if (currentState === BotState.BROWSING_CATEGORIES || currentState === BotState.ORDERING_CAT) {\n            return this._handleCategories();\n        }\n        if (currentState === BotState.BROWSING_ITEMS || currentState === BotState.ORDERING_ITEMS) {\n            return this._handleItems();\n        }\n        if (currentState === BotState.AWAITING_QTY) {\n            return this._handleQuantity();\n        }\n        if (currentState === BotState.AWAITING_MORE) {\n            return this._handleMore();\n        }\n        return false;\n    }\n    _handleCategories() {\n        const catInput = texto.replace(/^(order_cat:|cat:)/, '');\n        if (catInput === 'back' || texto === '0' || texto === 'voltar') {\n            newState = BotState.START;\n            respostas.push(mainMenu());\n            return true;\n        }\n        const allCategories = [...new Set(products.map((product) => product.category || 'Outros'))];\n        const foundCategory = allCategories.find((category) => category.toLowerCase() === catInput.toLowerCase());\n        if (foundCategory) {\n            newCart.browse_category = foundCategory;\n            newState = BotState.ORDERING_ITEMS;\n            respostas.push(itemsList(foundCategory, 'order', 0));\n        }\n        else {\n            respostas.push(categoryList('order'));\n        }\n        return true;\n    }\n    _handleItems() {\n        const currentCategory = newCart.browse_category || '';\n        if (texto === 'cat:back' || texto === 'order_cat:back' || texto === '0' || texto === 'voltar') {\n            newState = BotState.ORDERING_CAT;\n            respostas.push(categoryList('order'));\n            return true;\n        }\n        if (texto.startsWith('page:')) {\n            const pageParts = texto.split(':');\n            const pageContext = pageParts[1];\n            const pageCategoryRaw = pageParts.slice(2, -1).join(':');\n            const pageNumber = parseInt(pageParts[pageParts.length - 1]);\n            const resolvedCategory = products.map((product) => product.category || 'Outros')\n                .find((category) => category.toLowerCase() === pageCategoryRaw.toLowerCase()) || pageCategoryRaw;\n            respostas.push(itemsList(resolvedCategory, pageContext, pageNumber));\n            return true;\n        }\n        const allCategoryItems = products.filter((product) => (product.category || 'Outros') === currentCategory);\n        const PAGE_SIZE = 9;\n        const currentPage = newCart.browse_page || 0;\n        const pageStart = currentPage * PAGE_SIZE;\n        if (texto === 'próxima' || texto === 'proxima' || texto === 'próximo' || texto === 'proximo') {\n            if (allCategoryItems.length > pageStart + PAGE_SIZE) {\n                newCart.browse_page = currentPage + 1;\n                respostas.push(itemsList(currentCategory, 'order', currentPage + 1));\n            }\n            else {\n                respostas.push(itemsList(currentCategory, 'order', 0));\n            }\n            return true;\n        }\n        const itemNumber = parseInt(texto);\n        if (!isNaN(itemNumber) && itemNumber >= 1 && itemNumber <= allCategoryItems.length) {\n            const selectedProduct = allCategoryItems[itemNumber - 1];\n            newCart.pending_item_id = selectedProduct.id;\n            newCart.pending_item_name = selectedProduct.name;\n            newCart.browse_page = 0;\n            newState = BotState.AWAITING_QTY;\n            const descriptionText = selectedProduct.description ? '\\n_' + selectedProduct.description + '_' : '';\n            respostas.push({\n                type: 'buttons',\n                body: '🛒 *' + selectedProduct.name + '*\\nR$ ' + fmtBRL(selectedProduct.price) + descriptionText,\n                buttons: [\n                    { id: 'qty:1', title: '✅ Adicionar (1un)' },\n                    { id: 'qty:more', title: '✏️ Outra qtd' },\n                    { id: 'item:back', title: '↩️ Voltar' },\n                ],\n            });\n        }\n        else {\n            respostas.push(itemsList(currentCategory, 'order', currentPage));\n        }\n        return true;\n    }\n    _handleQuantity() {\n        if (texto === 'item:back') {\n            newState = BotState.ORDERING_ITEMS;\n            respostas.push(itemsList(newCart.browse_category || '', 'order', newCart.browse_page || 0));\n            return true;\n        }\n        if (texto === 'qty:more') {\n            respostas.push(MessagesConstants.QTD_SOLICITAR);\n            return true;\n        }\n        let quantity = null;\n        if (texto.startsWith('qty:')) {\n            quantity = parseInt(texto.replace('qty:', ''));\n        }\n        else {\n            const parsed = parseInt(texto);\n            if (!isNaN(parsed) && parsed >= 1 && parsed <= 99)\n                quantity = parsed;\n        }\n        if (!quantity || quantity < 1) {\n            respostas.push({\n                type: 'buttons',\n                body: MessagesConstants.QTD_INVALIDA,\n                buttons: [{ id: 'qty:1', title: '✅ Adicionar (1un)' }, { id: 'item:back', title: '↩️ Voltar' }],\n            });\n            return true;\n        }\n        const foundProduct = products.find((product) => String(product.id) === String(newCart.pending_item_id));\n        if (!foundProduct) {\n            newState = BotState.START;\n            respostas.push(mainMenu());\n            return true;\n        }\n        const existingItem = newCart.items.find((cartItem) => cartItem.id === foundProduct.id);\n        if (existingItem) {\n            existingItem.qty += quantity;\n        }\n        else {\n            newCart.items.push({ id: foundProduct.id, name: foundProduct.name, qty: quantity, price: Number(foundProduct.price), menuIdx: products.indexOf(foundProduct) + 1 });\n        }\n        newCart.pending_item_id = null;\n        newCart.pending_item_name = '';\n        const { lines: cartLines, total } = cartSummary(newCart.items);\n        newState = BotState.AWAITING_MORE;\n        respostas.push({\n            type: 'buttons',\n            body: MessagesConstants.ITEM_ADICIONADO(foundProduct.name, quantity)\n                + '\\n\\n🛒 *Carrinho:*\\n' + cartLines.join('\\n')\n                + '\\n\\n' + MessagesConstants.TOTAL_PARCIAL(fmtBRL(total))\n                + '\\n\\nDeseja adicionar mais itens ou finalizar?',\n            buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }, { id: 'finalizar', title: '✅ Finalizar' }],\n        });\n        return true;\n    }\n    _handleMore() {\n        if (texto === '__add_more__') {\n            const savedCategory = newCart.browse_category;\n            newState = savedCategory ? BotState.ORDERING_ITEMS : BotState.ORDERING_CAT;\n            respostas.push(savedCategory ? itemsList(savedCategory, 'order', 0) : categoryList('order'));\n            return true;\n        }\n        if (texto === 'finalizar') {\n            const { lines, total } = cartSummary(newCart.items);\n            const minOrder = minOrderValue;\n            if (minOrder > 0 && total < minOrder) {\n                respostas.push(MessagesConstants.ORDEM_MINIMO_ADDMORE(fmtBRL(minOrder), fmtBRL(total)));\n                newState = BotState.AWAITING_MORE;\n                respostas.push({ type: 'buttons', body: 'Adicionar mais para atingir o mínimo?', buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }] });\n            }\n            else {\n                newState = BotState.CONFIRMING;\n                respostas.push(confirmBtn(MessagesConstants.CONFIRMAR_PEDIDO(lines.join('\\n'), fmtBRL(total))));\n            }\n            return true;\n        }\n        respostas.push({ type: 'buttons', body: MessagesConstants.ADICIONAR_MAIS_PERGUNTA, buttons: [{ id: '__add_more__', title: '➕ Adicionar mais' }, { id: 'finalizar', title: '✅ Finalizar' }] });\n        return true;\n    }\n}\n\n\nclass FallbackHandler extends BaseHandler {\n    async handle() {\n        const textLines = texto.split(/[\\n,+]/).map((line) => line.trim()).filter(Boolean);\n        const parsedItems = [];\n        const unrecognizedLines = [];\n        for (const line of textLines) {\n            const indexQtyMatch = line.match(/^(\\d+)\\s*[xX×]\\s*(\\d+)$/);\n            if (indexQtyMatch) {\n                const productIndex = parseInt(indexQtyMatch[1]) - 1;\n                const quantity = parseInt(indexQtyMatch[2]);\n                if (quantity < 1) {\n                    unrecognizedLines.push(line);\n                    continue;\n                }\n                if (productIndex >= 0 && products && productIndex < products.length) {\n                    const product = products[productIndex];\n                    parsedItems.push({ id: product.id, name: product.name, qty: quantity, price: Number(product.price), menuIdx: productIndex + 1 });\n                }\n                else {\n                    unrecognizedLines.push(line);\n                }\n                continue;\n            }\n            const nameQtyMatch = line.match(/^(.+?)\\s*[xX×]\\s*(\\d+)$/);\n            if (nameQtyMatch) {\n                const normalize = (source) => source.toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n                const searchTerm = normalize(nameQtyMatch[1].trim());\n                const quantity = parseInt(nameQtyMatch[2]);\n                const foundProduct = products && products.find((product) => normalize(product.name).includes(searchTerm));\n                if (foundProduct && quantity >= 1) {\n                    parsedItems.push({ id: foundProduct.id, name: foundProduct.name, qty: quantity, price: Number(foundProduct.price), menuIdx: products.indexOf(foundProduct) + 1 });\n                }\n                else {\n                    unrecognizedLines.push(line);\n                }\n                continue;\n            }\n            const numberOnlyMatch = line.match(/^(\\d+)$/);\n            if (numberOnlyMatch) {\n                const productNumber = parseInt(numberOnlyMatch[1]);\n                if (productNumber >= 1 && products && productNumber <= products.length) {\n                    const product = products[productNumber - 1];\n                    parsedItems.push({ id: product.id, name: product.name, qty: 1, price: Number(product.price), menuIdx: productNumber });\n                }\n                else {\n                    unrecognizedLines.push(line);\n                }\n            }\n            else {\n                unrecognizedLines.push(line);\n            }\n        }\n        if (parsedItems.length > 0) {\n            // Desduplicar itens da mesma mensagem\n            const dedupedItems = [];\n            for (const parsedItem of parsedItems) {\n                const existingInDeduped = dedupedItems.find((deduped) => deduped.id === parsedItem.id);\n                if (existingInDeduped) {\n                    existingInDeduped.qty += parsedItem.qty;\n                }\n                else {\n                    dedupedItems.push({ ...parsedItem });\n                }\n            }\n            // Mergear com carrinho existente\n            const hadItemsBefore = newCart.items.length > 0;\n            for (const dedupedItem of dedupedItems) {\n                const existingInCart = newCart.items.find((cartItem) => cartItem.id === dedupedItem.id);\n                if (existingInCart) {\n                    existingInCart.qty += dedupedItem.qty;\n                }\n                else {\n                    newCart.items.push(dedupedItem);\n                }\n            }\n            newState = BotState.ORDERING;\n            const addedLines = dedupedItems.map((dedupedItem) => '• [' + (dedupedItem.menuIdx || '') + '] ' + dedupedItem.name + ' — R$ ' + fmtBRL(dedupedItem.price) + ' × ' + dedupedItem.qty + ' — R$ ' + fmtBRL(dedupedItem.price * dedupedItem.qty)).join('\\n');\n            const { lines: cartLines, total } = cartSummary(newCart.items);\n            let msg = MessagesConstants.ADICIONAR_TEXTO + addedLines;\n            if (hadItemsBefore) {\n                msg += MessagesConstants.CARRINHO_ATUAL + cartLines.join('\\n') + '\\n' + MessagesConstants.TOTAL_LINE_SIMPLES(fmtBRL(total));\n            }\n            else {\n                msg += MessagesConstants.TOTAL_PARCIAL(fmtBRL(total));\n            }\n            if (unrecognizedLines.length > 0)\n                msg += MessagesConstants.NAO_RECONHECIDO(unrecognizedLines.join(', '));\n            msg += MessagesConstants.INSTRUCOES_ORDERING;\n            respostas.push(msg);\n            return true;\n        }\n        if (currentState === BotState.START) {\n            respostas.push(msgWelcome);\n            respostas.push(mainMenu());\n        }\n        else {\n            respostas.push(MessagesConstants.NAO_ENTENDI);\n        }\n        return true;\n    }\n}\n\n\n// ── Fechado? Retorno antecipado ───────────────────────────────────────────────\nif (!isOpen) {\n    _earlyResponse = {\n        tel, instancia,\n        respostas: [msgClosed],\n        state: currentState,\n        cart: currentCart,\n        reservation_temp: newReservationTemp,\n        save_order: false, order: null,\n        save_reservation: false, reservation: null,\n        save_customer_name: false, customer_name_to_save: null,\n        save_marketing_opt_in: false, marketing_opt_in_value: null,\n        kitchen_phone: '',\n        create_chatwoot_conversation: false,\n        chatwoot_customer_name: customerName || '',\n    };\n}\n// ── Chain of Responsibility ───────────────────────────────────────────────────\nasync function runHandlers() {\n    if (_earlyResponse)\n        return;\n    const handlers = [\n        new GlobalHandler(),\n        new GreetingHandler(),\n        new CartHandler(),\n        new DeliveryHandler(),\n        new PaymentHandler(),\n        new MenuShortcutsHandler(),\n        new ReservationHandler(),\n        new MiscHandler(),\n        new OrderingHandler(),\n        new FallbackHandler(),\n    ];\n    for (const handler of handlers) {\n        if (_earlyResponse)\n            break;\n        const handled = await handler.handle();\n        if (handled)\n            break;\n    }\n}\n// @ts-ignore — n8n executa jsCode dentro de uma async function; await é válido em runtime\nawait runHandlers();\n\n\n// ── Retorno final ─────────────────────────────────────────────────────────────\nconst finalPayload = _earlyResponse || buildPayload();\n// @ts-ignore — n8n executa jsCode dentro de uma async function; return é válido em runtime\nreturn [{ json: finalPayload }];\n"
      },
      "id": "rotear",
      "name": "Rotear e Responder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst msgData = $(\"Rotear e Responder\").first().json;\nconst { tel, respostas } = msgData;\nconst msgs = Array.isArray(respostas) ? respostas : [respostas];\n\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\nconst url = `https://graph.facebook.com/${version}/${phoneId}/messages`;\nconst headers = { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` };\n\nconst buildPayload = (to, msg) => {\n  if (typeof msg === 'string') {\n    return { messaging_product: 'whatsapp', to, type: 'text', text: { body: msg } };\n  }\n  if (msg.type === 'buttons') {\n    return {\n      messaging_product: 'whatsapp', to, type: 'interactive',\n      interactive: {\n        type: 'button', body: { text: msg.body },\n        action: { buttons: msg.buttons.slice(0,3).map(b => ({ type: 'reply', reply: { id: String(b.id), title: String(b.title).slice(0,20) } })) }\n      }\n    };\n  }\n  if (msg.type === 'list') {\n    return {\n      messaging_product: 'whatsapp', to, type: 'interactive',\n      interactive: {\n        type: 'list', body: { text: msg.body },\n        action: { button: msg.button || 'Ver opções', sections: msg.sections }\n      }\n    };\n  }\n  if (msg.type === 'location') {\n    return { messaging_product: 'whatsapp', to, type: 'location', location: { latitude: msg.latitude, longitude: msg.longitude, name: msg.name || '', address: msg.address || '' } };\n  }\n  if (msg.type === 'text_menu') {\n    return { messaging_product: 'whatsapp', to, type: 'text', text: { body: msg.body } };\n  }\n  return { messaging_product: 'whatsapp', to, type: 'text', text: { body: typeof msg === 'object' && msg.body ? msg.body : String(msg) } };\n};\n\nconst sent = [];\nfor (let i = 0; i < msgs.length; i++) {\n  try {\n    await this.helpers.httpRequest({ method: 'POST', url, headers, body: JSON.stringify(buildPayload(tel, msgs[i])) });\n    sent.push(true);\n  } catch(e) { sent.push({ error: e.message }); }\n  if (i < msgs.length - 1) await new Promise(r => setTimeout(r, 800));\n}\nreturn [{ json: { ok: sent.every(s => s === true), tel, count: msgs.length, sent } }];\n"
      },
      "id": "enviar",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (phone, state, cart, reservation_temp, last_activity_at)\nVALUES (\n  '{{ $json.tel }}',\n  '{{ $json.state }}',\n  $cart${{ JSON.stringify($json.cart) }}$cart$::jsonb,\n  $rt${{ JSON.stringify($json.reservation_temp || {}) }}$rt$::jsonb,\n  now()\n)\nON CONFLICT (phone) DO UPDATE SET\n  state = EXCLUDED.state,\n  cart = EXCLUDED.cart,\n  reservation_temp = EXCLUDED.reservation_temp,\n  last_activity_at = EXCLUDED.last_activity_at,\n  updated_at = now()",
        "options": {}
      },
      "id": "salvar_sessao",
      "name": "Salvar Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_order) return [];\nreturn [{ json: {\n  code: data.order.code,\n  tel: data.tel,\n  items: data.order.items,\n  subtotal: data.order.subtotal,\n  delivery_fee: data.order.delivery_fee,\n  total: data.order.total,\n  order_type: data.order.order_type,\n  address: data.order.address || '',\n  maps_link: data.order.maps_link || '',\n  payment_method: data.order.payment_method,\n  change_for: data.order.change_for,\n  split_count: data.order.split_count || 0,\n  split_payments: data.order.split_payments || null\n} }];"
      },
      "id": "filtrar_pedido",
      "name": "Filtrar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (\n  INSERT INTO customers (phone)\n  VALUES ('{{ $json.tel }}')\n  ON CONFLICT (phone) DO UPDATE SET\n    last_session_at = now(),\n    first_session_at = COALESCE(customers.first_session_at, now()),\n    total_sessions = customers.total_sessions + 1,\n    updated_at = now()\n  RETURNING phone\n)\nINSERT INTO orders (code, customer_phone, items, subtotal, delivery_fee, total, order_type, address, payment_method, change_for, split_count, split_payments, status)\nSELECT\n  '{{ $json.code }}',\n  c.phone,\n  $items${{ JSON.stringify($json.items) }}$items$::jsonb,\n  {{ $json.subtotal }},\n  {{ $json.delivery_fee }},\n  {{ $json.total }},\n  '{{ $json.order_type }}',\n  $addr${{ JSON.stringify({ street: $json.address || '', maps_link: $json.maps_link || '' }) }}$addr$::jsonb,\n  '{{ $json.payment_method }}',\n  {{ $json.change_for != null ? $json.change_for : 'NULL' }},\n  {{ $json.split_count || 0 }},\n  $sp${{ $json.split_payments ? JSON.stringify($json.split_payments) : 'null' }}$sp$::jsonb,\n  'received'\nFROM c\nRETURNING id, code",
        "options": {}
      },
      "id": "salvar_pedido",
      "name": "Salvar Pedido",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_reserva",
      "name": "Filtrar Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        700
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_reservation) return [];\nreturn [{ json: {\n  tel: data.tel,\n  date: data.reservation.date,\n  time: data.reservation.time,\n  party_size: data.reservation.party_size,\n  table_id: data.reservation.table_id\n} }];"
      }
    },
    {
      "id": "salvar_reserva",
      "name": "Salvar Reserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (\n  INSERT INTO customers (phone)\n  VALUES ('{{ $json.tel }}')\n  ON CONFLICT (phone) DO UPDATE SET\n    last_session_at = now(),\n    first_session_at = COALESCE(customers.first_session_at, now()),\n    updated_at = now()\n  RETURNING phone\n)\nINSERT INTO reservations (code, customer_phone, table_id, date, time, party_size, status)\nSELECT\n  'RES-' || to_char(now(), 'YYYYMMDDHH24MI') || '-' || RIGHT('{{ $json.tel }}', 4),\n  c.phone,\n  {{ $json.table_id }},\n  '{{ $json.date }}'::date,\n  '{{ $json.time }}'::time,\n  {{ $json.party_size }},\n  'pending'\nFROM c\nRETURNING id, code",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_nome",
      "name": "Filtrar Nome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        900
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_customer_name || !data.customer_name_to_save) return [];\nreturn [{ json: { tel: data.tel, customer_name: data.customer_name_to_save } }];"
      }
    },
    {
      "id": "atualizar_nome",
      "name": "Atualizar Nome Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        900
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (phone, name)\nVALUES ('{{ $json.tel }}', '{{ $json.customer_name }}')\nON CONFLICT (phone) DO UPDATE SET\n  name = EXCLUDED.name,\n  updated_at = now()",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_cozinha",
      "name": "Filtrar Cozinha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1100
      ],
      "parameters": {
        "jsCode": "const fmtBRL = n => fmtBRL(n).replace('.', ',');\nconst data = $json;\nif (!data.save_order || !data.kitchen_phone) return [];\nconst order = data.order || {};\nconst itemLines = (order.items || []).map(i => '• ' + i.name + ' × ' + i.qty).join('\\n');\nconst addrLine = order.order_type === 'delivery' ? '\\n📍 ' + (order.address || '') : (order.order_type === 'mesa' ? '\\n🍽️ Pedido na mesa' : '\\n📤 Retirada no local');\nconst changeInfo = order.change_for ? '\\n💵 Troco para R$ ' + fmtBRL(order.change_for) : '';\nconst msg = '🔔 *Novo Pedido!*\\n\\n📋 Código: *' + (order.code || '') + '*\\n👤 Cliente: ' + (data.customer_name ? data.customer_name + ' (' + data.tel + ')' : data.tel) + '\\n\\n' + itemLines + '\\n\\n*Subtotal: R$ ' + fmtBRL(order.subtotal) + '*' + (order.delivery_fee > 0 ? '\\n🛵 Entrega: R$ ' + fmtBRL(order.delivery_fee) : '') + '\\n*Total: R$ ' + fmtBRL(order.total) + '*' + addrLine + '\\n💳 ' + (order.payment_method || '') + changeInfo;\nreturn [{ json: { instancia: data.instancia, number: data.kitchen_phone, text: msg } }];"
      }
    },
    {
      "id": "notificar_cozinha",
      "name": "Notificar Cozinha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1100
      ],
      "parameters": {
        "jsCode": "\nconst { number, text } = $json;\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/${version}/${phoneId}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: number, type: 'text', text: { body: text } })\n  });\n} catch(e) {}\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "filtrar_marketing",
      "name": "Filtrar Marketing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1300
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.save_marketing_opt_in || data.marketing_opt_in_value === null || data.marketing_opt_in_value === undefined) return [];\nreturn [{ json: { tel: data.tel, marketing_opt_in: data.marketing_opt_in_value } }];"
      }
    },
    {
      "id": "salvar_marketing",
      "name": "Salvar Preferência Marketing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1520,
        1300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (phone, marketing_opt_in)\nVALUES ('{{ $json.tel }}', {{ $json.marketing_opt_in }})\nON CONFLICT (phone) DO UPDATE SET\n  marketing_opt_in = EXCLUDED.marketing_opt_in,\n  updated_at = now()",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "k6K55CNkeEYnijTG",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "filtrar_chatwoot",
      "name": "Filtrar Chatwoot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1500
      ],
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.create_chatwoot_conversation) return [];\nreturn [{ json: {\n  tel: data.tel,\n  customer_name: data.chatwoot_customer_name || 'cliente'\n} }];"
      }
    },
    {
      "id": "criar_conversa_chatwoot",
      "name": "Criar Conversa Chatwoot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1500
      ],
      "parameters": {
        "jsCode": "const { tel, instancia, customer_name } = $json;\nconst config = $('Buscar Dados').first().json.config || {};\n\nconst chatwootUrl = (config['chatwoot_url'] || 'http://chatwoot:3000').replace(/\\/$/, '');\nconst accountId  = config['chatwoot_account_id']  || '';\nconst apiToken   = config['chatwoot_api_token']   || '';\nconst inboxId    = config['chatwoot_inbox_id']    || '';\nconst agentPhone = config['agent_phone']          || '';\n\nconst chatwootPublicUrl = (config['chatwoot_public_url'] || chatwootUrl).replace(/\\/$/, '');\n\nif (!accountId || !apiToken || !inboxId) {\n  console.log('[chatwoot] Configuração incompleta — verifique chatwoot_account_id, chatwoot_api_token, chatwoot_inbox_id nas settings');\n  return [{ json: { ok: false, skip: true, instancia, agentPhone, tel, customer_name } }];\n}\n\n// Step 1: Search for existing contact\nlet contactId;\ntry {\n  const phoneSearch = tel.replace(/\\D/g, '');\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${chatwootUrl}/api/v1/accounts/${accountId}/contacts/search?q=%2B${phoneSearch}&include_contacts=true`,\n    headers: { 'api_access_token': apiToken }\n  });\n  const contacts = (res.payload || []);\n  if (contacts.length > 0) {\n    contactId = contacts[0].id;\n    console.log('[chatwoot] Contato existente encontrado:', contactId);\n  }\n} catch(e) {\n  console.log('[chatwoot] Erro ao buscar contato:', e.message);\n}\n\n// Step 2: Create contact if not found\nif (!contactId) {\n  try {\n    const phoneE164 = '+' + tel.replace(/\\D/g, '');\n    const body = { name: customer_name || 'cliente', phone_number: phoneE164 };\n    const created = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${chatwootUrl}/api/v1/accounts/${accountId}/contacts`,\n      headers: { 'Content-Type': 'application/json', 'api_access_token': apiToken },\n      body: JSON.stringify(body)\n    });\n    contactId = created.id;\n    console.log('[chatwoot] Novo contato criado:', contactId);\n  } catch(e) {\n    console.log('[chatwoot] Erro ao criar contato:', e.message);\n    return [{ json: { ok: false, error: e.message, instancia, agentPhone, tel, customer_name } }];\n  }\n}\n\n// Step 3: Create conversation\nlet conversationId, conversationUrl;\ntry {\n  const convRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${chatwootUrl}/api/v1/accounts/${accountId}/conversations`,\n    headers: { 'Content-Type': 'application/json', 'api_access_token': apiToken },\n    body: JSON.stringify({ contact_id: contactId, inbox_id: parseInt(inboxId, 10) })\n  });\n  conversationId = convRes.id;\n  conversationUrl = `${chatwootPublicUrl}/app/accounts/${accountId}/conversations/${conversationId}`;\n  console.log('[chatwoot] Conversa criada:', conversationId);\n} catch(e) {\n  console.log('[chatwoot] Erro ao criar conversa:', e.message);\n  return [{ json: { ok: false, error: e.message, instancia, agentPhone, tel, customer_name } }];\n}\n\nreturn [{ json: { ok: true, instancia, agentPhone, conversationId, conversationUrl, customer_name, tel } }];"
      }
    },
    {
      "id": "notificar_agente",
      "name": "Notificar Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1500
      ],
      "parameters": {
        "jsCode": "\nconst { ok, skip, agentPhone, conversationUrl, customer_name, tel } = $json;\nif (!agentPhone) return [{ json: { done: true } }];\nconst token = $env.WHATSAPP_ACCESS_TOKEN;\nconst phoneId = $env.WHATSAPP_PHONE_NUMBER_ID;\nconst version = $env.WHATSAPP_API_VERSION || 'v21.0';\nconst text = '🔔 *Nova solicitação de atendimento!*\\n\\n'\n  + '👤 Cliente: ' + (customer_name || 'desconhecido') + '\\n'\n  + '📱 Telefone: +' + tel.replace(/\\D/g, '') + '\\n\\n'\n  + (conversationUrl ? '🔗 *Abrir conversa no Chatwoot:*\\n' + conversationUrl\n    : '⚠️ Atenda diretamente: wa.me/' + tel.replace(/\\D/g, ''));\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/${version}/${phoneId}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${token}` },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: agentPhone, type: 'text', text: { body: text } })\n  });\n} catch(e) {}\nreturn [{ json: { done: true } }];\n"
      }
    },
    {
      "id": "webhook-meta-get",
      "name": "Meta Verificação GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "webhookId": "whatsapp-meta-get",
      "parameters": {
        "httpMethod": "GET",
        "path": "routing",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "respond-meta-hub",
      "name": "Responder hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [
          {
            "node": "Calcular Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Hora": {
      "main": [
        [
          {
            "node": "Buscar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados": {
      "main": [
        [
          {
            "node": "Rotear e Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear e Responder": {
      "main": [
        [
          {
            "node": "Salvar Sessão",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Pedido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Reserva",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Cozinha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Marketing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Sessão": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Pedido": {
      "main": [
        [
          {
            "node": "Salvar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Reserva": {
      "main": [
        [
          {
            "node": "Salvar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Nome": {
      "main": [
        [
          {
            "node": "Atualizar Nome Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Cozinha": {
      "main": [
        [
          {
            "node": "Notificar Cozinha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Marketing": {
      "main": [
        [
          {
            "node": "Salvar Preferência Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Chatwoot": {
      "main": [
        [
          {
            "node": "Criar Conversa Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conversa Chatwoot": {
      "main": [
        [
          {
            "node": "Notificar Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Verificação GET": {
      "main": [
        [
          {
            "node": "Responder hub.challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "IU7n7EUl1pusIq8e",
  "settings": {
    "executionOrder": "v1"
  }
}